<tr>
        	<td>__slno__</td>
			<td><input type="checkbox" name = pid[] value = "__pid__"></td>
			<td style="font-family: kruti_dev_010regular;font-size:20px;">__EmployeeCode__</td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__AwardType__</td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__AwardByOfficer__</td>
            <!-- <td style="font-family: kruti_dev_010regular;font-size:20px;">__Reason__</td> -->
            <td >__AwardDate__</td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__Type__</td>
			<td><a href="#"><img src="../adm_images/user_edit.png" alt="" title="" border="0" /></td>
            <td>__status__</td>
			
        </tr>


