<tr>
        	<td>__slno__</td>
			<td><input type="checkbox" name = pid[] value = "__pid__"></td>
            <td >__EmployeeCode__</td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__ChildName__</td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__ChildSex__</td>
            <td >__ChildDob__</td>
           <td><a href="#"><img src="../adm_images/user_edit.png" alt="" title="" border="0" /></td>
            <td>__status__</td>
			
        </tr>


