<Script language=javascript>
function checkSignUpDetails()
{	
   if(document.add_content.ContentName.value=="")
	{	alert("Enter content name.");
		document.add_content.ContentName.focus(); 
		return false;
	}

	

}
</Script>
<script language="javascript" type="text/javascript">
 </script>
<h2 style="font-family: 'kruti_dev_010regular';font-size:20px;font-weight:bold;">deZpkjh fooj.k</h2>
<table width="100%" align="left" border='0'>
<form name="add_emp" action="edit_emp.php" method="post" onsubmit='return checkSubmitFrm();' enctype="multipart/form-data">
	<tr>
	  <td><table width="100%"  border='1' cellspacing="0" cellpadding="5">
	     <tr>
		 <td align="center"  class="successmsg" colspan='2'><b>__PROMPT__</b></td>
		 </tr> 
		  <tr>
		 <td align="left"  class="successmsg" colspan='2' style="font-family: 'kruti_dev_010regular';font-size:20px;" ><b>O;fDrxr lwpuk</b></td>
		 </tr>
		 <tr>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >deZpkjh dksM uEcj</span><span style='padding-left:78px;'><input type="text" name="EmployeeCode" size='23' value='__EmployeeCode__'> </td>
		  <td width='50%' style="font-family: 'kruti_dev_010regular';font-size:20px;">fudk;&nbsp;<span style='padding-left:150px;'><select name='Board' style="font-family: 'kruti_dev_010regular';font-size:20px;"><option value='uxj fuxe'>uxj fuxe</option></select> </td>
		 </tr>
		  <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >deZpkjh dk uke </span><span style='padding-left:88px;'><input type="text" name="EmployeeName" size='21' style="font-family: 'kruti_dev_010regular';font-size:20px;" value='__EmployeeName__'> </td>
		   <td ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >firk@ifr dk uke</span><span style='padding-left:77px;'><input type="text" name="FatherName" size='21' style="font-family: 'kruti_dev_010regular';font-size:20px;" value='__FatherName__'> </td>
		  </tr>
		  <tr>
		  <td width='50%' valign='middle'><span style="font-family: 'kruti_dev_010regular';font-size:20px;text-align:top;" >LFkkbZ irk </span>&nbsp;<span style='padding-left:128px;'><textarea rows='4' cols='21' name="PermanentAdd" style="font-family: 'kruti_dev_010regular';font-size:20px;">__PermanentAdd__</textarea> </td>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >orZeku irk</span><span style='padding-left:125px;'><textarea rows='4' cols='21' name="ResidentialAdd" style="font-family: 'kruti_dev_010regular';font-size:20px;">__ResidentialAdd__</textarea> </td>
		 </tr>
		 <tr>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >Fkkuk</span>&nbsp;<span style='padding-left:168px;'><input type="text" name="PermanentThana" size='21' style="font-family: 'kruti_dev_010regular';font-size:20px;" value='__PermanentThana__'> </td>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >Fkkuk</span><span style='padding-left:170px;'><input type="text" name="ResidentialThana" size='21' style="font-family: 'kruti_dev_010regular';font-size:20px;" value='__ResidentialThana__'> </td>
		 </tr>
		 <tr>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >x`g tuin</span>&nbsp;<span style='padding-left:128px;'><input type="text" name="PermanentDist" size='21' style="font-family: 'kruti_dev_010regular';font-size:20px;" value='__PermanentDist__'> </td>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >orZeku tuin</span><span style='padding-left:108px;'><input type="text" name="ResidentialDist" size='21' style="font-family: 'kruti_dev_010regular';font-size:20px;" value='__ResidentialDist__'> </td>
		 </tr>
		 <tr>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >fiu dksM</span>&nbsp;<span style='padding-left:138px;'><input type="text" name="PermanentPin" size='25' value='__PermanentPin__'></span> </td>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >fiu dksM</span><span style='padding-left:140px;'><input type="text" name="ResidentialPin" size='21' value='__ResidentialPin__'> </td>
		 </tr>
		 <tr>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >bZ esy</span><span style='padding-left:163px;'><input type="text" name="Email" size='25' value='__Email__'></span> </td>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >tUe frfFk</span><span style='padding-left:135px;'><input type="text" name="Dob" id="demo1"    value='__Dob__'><a href="javascript:NewCal('demo1','ddmmyyyy')"><img src="../images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>
		 </tr>
		 <tr>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >CyM xzqi</span>&nbsp;<span style='padding-left:143px;'><input type="text" name="BloodGroup" size='10' value='__BloodGroup__'></span> </td>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >fyax</span>&nbsp;<span style='padding-left:170px;'><select name="Sex" style="font-family: kruti_dev_010regular;font-size:20px;"><option value='' >fyax pqus </option><option value='iq:’k' __S_Male__>iq:’k</option><option value='efgyk' __S_Female__>efgyk</option> </select> </td>
		 </tr>
		 <tr>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >/keZ</span>&nbsp;<span style='padding-left:178px;'><select name="Religion" style="font-family: kruti_dev_010regular;font-size:20px;" ><option value='' >/keZ pqus</option><option value='fgUnw' __R_H__>fgUnw</option><option value='eqfLye' __R_M__>eqfLye</option><option value='flD[k' __R_S__>flD[k</option><option value='bZlkbZ' __R_I__>bZlkbZ</option><option value='vU;'>vU;</option> </select>
		  </td>
		  
		  <td width='50%' style="font-family: 'kruti_dev_010regular';font-size:20px;">vkj{k.k oxZ@tkfr &nbsp;<span style='padding-left:65px;'><select name="Category" style="font-family: 'kruti_dev_010regular';font-size:20px;"><option value=''>vkj{k.k oxZ@tkfr pqus</option><option value='lkekU;' __C_G__>lkekU;</option><option value='fiNMk oxZ' __C_O__>fiNMk oxZ</option><option value='vuqlwfpr tkfr' __C_SC__>vuqlwfpr tkfr</option><option value='vuqlwfpr tutkfr' __C_ST__>vuqlwfpr tutkfr</option> </select></span></td>
		 </tr>
		 <tr>
		  <td width='50%' style="font-family: 'kruti_dev_010regular';font-size:20px;">orZeku lsok es vkus dk Jksr &nbsp;<span style='padding-left:2px;'><select name="JobSource" style="font-family: 'kruti_dev_010regular';font-size:20px;"><option value=''>Jksr pqus</option><option value='lh/kh HkrhZ' __JS_D__>lh/kh HkrhZ</option><option value='izksUufr' __JS_P__>izksUufr</option><option value='e`rd vkfJr' __JS_MD__>e`rd vkfJr</option> </select></td>

		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >tkfr</span>&nbsp;<span style='padding-left:165px;'><input type="text" name="Cast" size='21' style="font-family: 'kruti_dev_010regular';font-size:20px;" value='__Cast__'> </td>
		 </tr>
		 <tr>
		  <td width='50%' colspan='2'><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >igpku fpUg</span><span style='padding-left:120px;'><input type="text" name="IdentificationMark" size='21' style="font-family: 'kruti_dev_010regular';font-size:20px;" value='__IdentificationMark__'> </td>
		  
		 </tr>
		 <tr>
		 <td width='50%' colspan='2'><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >QksVks viyksfMx</span><span style='padding-left:100px;'><input type="file" name="EmployeePhoto" size='10'>&nbsp;__EmployeePhoto__ </td>
		  
		 </tr>
		 <tr>
		 <td width='50%' colspan='2'><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >gLrk{kj</span><span style='padding-left:150px;'><input type="file" name="Signature" size='10'>&nbsp;__Signature__ </td>
		  
		 </tr>
		 <tr>
		  <td width='50%' colspan='2'><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >lfoZl cqd MksD;wsesUV viyksM</span><span style='padding-left:15px;'><input type="file" name="ServiceBook" size='5'>&nbsp;__ServiceBook__</span> </td>
		 </tr>
		 <tr>
		  <td colspan='2' align='center'><input type="submit" name="submit" value="Edit" class="button" >&nbsp;<input type="button" name="cancel" value="Cancel" onclick='javascript:history.go(-1);'></td>
		 </tr>
		 <input type='hidden' name='emp_code' value='__emp_code__'>
		 </table>
		  </td></tr>
		 </form>
 </table>
 



