<tr>
        	<td>__slno__</td>
			<td><input type="checkbox" name = pid[] value = "__pid__"></td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__EmployeeCode__</td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__NomineeName__</td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__NomineeSex__</td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__NomineeRelation__</td>
            <td >__NomineeDob__</td>
            <td >__NomineePF__</td>
			<td><a href="#"><img src="../adm_images/user_edit.png" alt="" title="" border="0" /></td>
            <td>__status__</td>
			
        </tr>


