<tr>
        	<td>__slno__</td>
			<td><input type="checkbox" name = pid[] value = "__pid__"></td>
            <td ><a href="#" onclick='javascript:window.open("emp_details.php?emp_code=__emp_code__","height=100,width=200")' >__emp_code__</a></td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__JobType__</a></td>
			<td><a href="edit_servicedetails.php?emp_code=__emp_code__"><img src="../adm_images/user_edit.png" alt="" title="" border="0" /></td>
            <td>__status__</td>
        </tr>


