<tr>
 <td>__slno__</td>
 <td><input type="checkbox" name = cid[] value = "__cid__"></td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__CorporatorName__</div><div>__RelationTag__&nbsp;&nbsp;<span style="font-family: 'kruti_dev_010regular';font-size:15px;">__FatherName__</span></div></td>
 <td><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__WardName__</div><div>(<span style="font-family: 'kruti_dev_010regular';font-size:15px;">okMZ uEcj</span> - __WardNo__ )</div></td>
 <td style="font-family: 'kruti_dev_010regular';font-size:15px;">__PresentAddress__</td>
 <td ><div><span style="font-family: 'kruti_dev_010regular';font-size:15px;">dk;kZy;</span>: __OfficeNo__<div><div><span style="font-family: 'kruti_dev_010regular';font-size:15px;">eksckby</span>: __MobileNo__<div></td>
 <td>
  <a href="javascript: void(0)" onclick="window.open('corporator_details.php?cid=__cid__','windowname1','width=650, height=550,scrollbars=yes'); return false;">View</a> 
   / <a href="edit_corporators.php?cid=__cid__">Edit</a>
 </td>
</tr>