__TOPBAR__
<tr>
<td align="center">
<div class="admin_main_cont">
  <div class="lft_nav">
    <p>Main Menus</p>
    <ul>
      <li><a href="profile.php">My Profile</a></li>
      <li><a href="#">Edit Profile</a></li>
      <li><a href="#">Renew Registration</a></li>
      <li><a href="tenders.php">Tenders</a></li>
      <li><a href="purchased_tenders.php">Purchased Tenders</a></li>
      <li><a href="bidded_tenders.php">Bidded Tenders</a></li>
      <li><a href="approved_tenders.php">Approved Tenders</a></li>
      <li><a href="cancelled_tenders.php">Cancelled Tenders</a></li> 
      <li><a href="change_password.php">Change Password</a></li> 
      <li><a href="logout.php">Logout</a></li>
    </ul>
  </div>
  <div class="rgt_des">
  	__PAGE_CONTENTS__
  </div>
</div>
</td>
</tr>
<tr>
	<td style="height:13px;"></td>
</tr>
__BOTTOMBAR__