<tr>
    <td align="center" class="footer">
		<table width="1000" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td>
				<ul>
					&nbsp;
						<!-- <li><a href="#">tender</a></li>
						<li><a href="#">tax</a></li>
						<li><a href="#">notices</a></li>
						<li><a href="#">photo gallery</a></li>
						<li><a href="#">download's</a></li>
						<li><a href="#">about us</a></li> -->
					<!-- <li class="last"><a href="#">contact us</a></li> -->
				</ul>
			</td>
		  </tr>
		  <tr>
			<td align="center" valign="middle" class="copyright">All rights reserved 2005 &copy; Nagar Nigam Jhansi U.P. India.</td>
		  </tr>
		</table>
	</td>
  </tr>
  </table>
</body>
</html>
