  	<p>Cancelled Tender Lists</p>
<div style="height: auto;width: 680px;overflow: auto;">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="des_grid_detail">
	  <tr>
	   <th width='5%' ><b>S.No.</b></th>
	   <th ><b>Work Name</b></th>
	   <th ><b>Ward  No.</b></th>
	   <th ><b>Amount (RS.)</b></th>
	   <th ><b>Bidding Rate(%)</b></th>
	   <th ><b>Bidding Amount</b></th>
	   <th ><b>Comments </b></th>
	   </tr>
	  <!-- <tr style="background:#e6e6e6;" onmouseout="style.backgroundColor='#e6e6e6'" onmouseover="style.backgroundColor='#84DFC1';">
		<td>Complaint Date</td>
		<td>26 Aug 07:24 </td>
	  </tr>
	  <tr style="background:#f7f7f7;" onmouseout="style.backgroundColor='#f7f7f7'" onmouseover="style.backgroundColor='#84DFC1';">
		<td>Name</td>
		<td>Others</td>
	  </tr>
	  <tr style="background:#e6e6e6;" onmouseout="style.backgroundColor='#e6e6e6'" onmouseover="style.backgroundColor='#84DFC1';">
		<td>Complaint Number</td>
		<td>Others</td>
	  </tr>
	  <tr style="background:#f7f7f7;" onmouseout="style.backgroundColor='#f7f7f7'" onmouseover="style.backgroundColor='#84DFC1';">
		<td>Email id</td>
		<td><a href="#">test@gmail.com</a></td>
	  </tr>
	  <tr style="background:#e6e6e6;" onmouseout="style.backgroundColor='#e6e6e6'" onmouseover="style.backgroundColor='#84DFC1';">
		<td>Comments</td>
		<td><textarea name="Comment" cols="40" rows="5"></textarea></td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
		<td><input type="image" border="0" src="c_images/sbt_btn.png" name="edit_sub"></td>
	  </tr> -->
	  __PRODUCT_LIST__
	</table>
</div>