<tr __trclass__>
 <td>__slno__</td>
 <td style="font-family: 'kruti_dev_010regular';font-size:15px;"><div align='right' style='padding-right:15px;' >__WorkName__</div></td>
 <td ><div align='right' style='padding-right:15px;'>__WardNo__</div></td>
 
 <td ><div >__TotalAmount__</div></td>
 <!-- <td ><div >__TenderCategory__</div></td> -->
 <td ><div >__BiddingRate__</div></td>
 <td ><div >__BiddingAmount__</div></td>
  <td style="font-family: 'kruti_dev_010regular';font-size:15px;">
   __FinalComments__
 </td>  
</tr>