<script>
function ValidFrmSubmit(){
  if(document.change_password.oldpassword.value==''){
     alert('Please enter old password.');
	 document.change_password.oldpassword.focus();
	 return false;
  }

  if(document.change_password.newpassword.value==''){
     alert('Please enter new password.');
	 document.change_password.newpassword.focus();
	 return false;
  }

  if(document.change_password.confirmnewpassword.value==''){
     alert('Please enter confirm new password.');
	 document.change_password.confirmnewpassword.focus();
	 return false;
  }
  
   if(document.change_password.confirmnewpassword.value!=document.change_password.newpassword.value){
     alert('New password and confirm password do not match.');
	 document.change_password.confirmnewpassword.focus();
	 return false;
  }

}
</script>
	<p>Change Password</p>
	<form action='change_password.php' name='change_password' method='post' onsubmit='return ValidFrmSubmit();'>
  	<table width="50%" border="1" cellspacing="0" cellpadding="0" class="des_grid_detail">
	  	<tr>
            <td colspan="2" align="center" style='color:red;'>__PROMPT__</td>
          </tr>
			  <tr style="background:#e6e6e6;" onmouseout="style.backgroundColor='#e6e6e6'" onmouseover="style.backgroundColor='#84DFC1';">
		<td>Old Password</td>
		<td><input type='password' name="oldpassword"></td>
	  </tr> 
	   <tr style="background:#e6e6e6;" onmouseout="style.backgroundColor='#e6e6e6'" onmouseover="style.backgroundColor='#84DFC1';">
		<td>New Password</td>
		<td><input type='password' name="newpassword"></td>
	  </tr>
	   <tr style="background:#e6e6e6;" onmouseout="style.backgroundColor='#e6e6e6'" onmouseover="style.backgroundColor='#84DFC1';">
		<td>Confirm New Password</td>
		<td><input type='password' name="confirmnewpassword"></td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
		<td><input type="image" border="0" src="c_images/sbt_btn.png" name="changepass"></td>
	  </tr>
	</table>
