<!--   <tr style="background:#e6e6e6;" onmouseout="style.backgroundColor='#e6e6e6'" onmouseover="style.backgroundColor='#84DFC1';">
		<td>Comments</td>
		<td><textarea name="Comment" cols="40" rows="5"></textarea></td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
		<td><input type="image" border="0" src="c_images/sbt_btn.png" name="edit_sub"></td>
	  </tr> -->
	<p>Profile</p>
  	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="des_grid_detail">
	  		   <tr rowspan='6'>    
            <td width='70%' valign='top'>
			<table cellspacing="4" cellpadding="4" width="100%" border="0">
				<tr>
				<td width='50%'><span style="font-family: 'kruti_dev_010regular';font-size:15px;">vkosnd dk uke@QeZ dk uke </span> :</td>    
				<td align="left" style='font-family: kruti_dev_010regular;font-size:15px;'>
				  __ContractorName__</td>   
				</td>   
			  </tr>
			   <tr>    
				<td width='30%'><span style="font-family: 'kruti_dev_010regular';font-size:15px;">bZ&esy</span> :</td>    
				<td align="left" >
				  __Email__</td>   
				</td>   
			  </tr>
			   <tr>    
				<td width='30%'><span style="font-family: 'kruti_dev_010regular';font-size:15px;">Qksu ua0 </span> :</td>    
				<td align="left" >
				  __Phone__</td>   
				</td>   
			  </tr>
			  <tr>    
				<td width='30%'><span style="font-family: 'kruti_dev_010regular';font-size:15px;">jk’Vªh;rk</span> :</td>    
				<td align="left" >
				  <span style="font-family: 'kruti_dev_010regular';font-size:15px;">__rastriyata__</span></td>   
				</td>   
			  </tr>
			  <tr>    
				<td width='30%'><span style="font-family: 'kruti_dev_010regular';font-size:15px;">tkfr</span> :</td>    
				<td align="left" >
				  <span style="font-family: 'kruti_dev_010regular';font-size:15px;">__jati__</span></td>   
				</td>   
			  </tr>
			  <tr>    
				<td width='30%'><span style="font-family: 'kruti_dev_010regular';font-size:15px;">/keZ</span> :</td>    
				<td align="left" >
				 <span style="font-family: 'kruti_dev_010regular';font-size:15px;"> __dharm__</span></td>   
				</td>   
			  </tr>
			  <tr>    
            <td width='30%'>Password :</td>    
            <td align="left" >
              __password__</td>   
            </td>   
          </tr>
		  
			  </table></td>
			  <td ><table><tr><td>__photo__<br>__signature__</td></tr></table></td></tr> 
	</table>
