<tr > 
 <td class='__trclass__' class='__trclass__'>__slno__</td>
 <td class='__trclass__' >__WardNo__</td>
 <td class='__trclass__' style="font-family: 'kruti_dev_010regular';font-size:15px;">__WardName__</td>
 <td class='__trclass__' style="font-family: 'kruti_dev_010regular';font-size:15px;">__CorporatorName__</td>
 <td class='__trclass__' style="font-family: 'kruti_dev_010regular';font-size:15px;">__ProposerName__</td>
 <td class='__trclass__' style="font-family: 'kruti_dev_010regular';font-size:15px;">__JEInfo__</td>
 <td class='__trclass__' ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__WorkName__</div></td>
 <td class='__trclass__' ><div align='right' style='padding-right:15px;'>__EstimatedAmount__</td>
 
</tr>