<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" class="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="20%" align="left" valign="top"><img src="images/clip_image002.gif" width="170" height="130" style="margin:9px 0 0 8px;" /></td>
                <td width="80%" align="center" valign="middle" style='font-family:Kruti Dev 011;font-size:45px;' align="center" valign="middle">dk;kZy; tu lwpuk foHkkx] uxj fuxe >k¡lh</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="15%" align="center" class="main-menu"><a href="index.php" >Home</a></td>
        				<td width="15%" align="center" class="main-menu"><a href="search.php" >Search</a></td>
        				<td width="15%" align="center" class="main-menu"><a href="login.php">Login</a></td>
        				<td width="20%" align="center" class="main-menu"><a href="http://www.nnjhansi.in/" target="_blank">Download Information</a></td>
        				<td  align="center" class="main-menu"></td>
        				<td  align="center" class="main-menu"></td>
        				<td  align="center" class="main-menu"></td>
        				<td  align="center" class="main-menu"></td>
        				<td  align="center" class="main-menu"></td>
              </tr>
            </table></td>
          </tr>
        <tr>
        <td align="left" valign="top" class="col" height="20">&nbsp;</td>
       </tr>