<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Jhansi nagra nigam</title>
<link href="css/contractor.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="center">
<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="122" align="left" valign="middle"><a href="#"><img src="c_images/logo.png" alt="" border="0" /></a></td>
    <td width="780" align="center" valign="middle"><img src="c_images/welcome.png" alt="" width="506" height="26" /></td>
  </tr>
</table>
</td>
</tr>