<tr valign='top'>
			<td style='padding-left:15px;' width='5%'>__sno__</td>
		    <td width='15%'>__EmployeePhoto__</td>
			<td style='padding-left:15px;' >
				<table cellspacing='0' cellpadding='0' width='100%' border='0'>
				<tr>
				<td width='20%'><span style='font-family: kruti_dev_010regular;font-size:20px;'>deZpkjh dksM uEcj</span></td><td>:</td><td><span style='font-family: kruti_dev_010regular;font-size:20px;'>__emp_code__</span></td></tr><tr>
				<td><span style='font-family: kruti_dev_010regular;font-size:20px;'>deZpkjh dk uke</span></td><td>:</td><td><span style='font-family: kruti_dev_010regular;font-size:20px;padding-left:2px;'>__emp_name__</span></td></tr><tr>
				<td><span style='font-family: kruti_dev_010regular;font-size:20px;'>inuke</span></td><td>:</td><td><span style='font-family: kruti_dev_010regular;font-size:20px;'>__empPost__</span></td></tr><tr>
				<td><span style='font-family: kruti_dev_010regular;font-size:20px;'>eksckby uEcj</span></td><td>:</td><td><span style='font-family: kruti_dev_010regular;font-size:20px;'>__MobileNo__</span></td></tr><tr>
				<td><span style='font-family: kruti_dev_010regular;font-size:20px;'>irk</span></td><td>:</td><td><span style='font-family: kruti_dev_010regular;font-size:20px;padding-left:2px;'>__ResidentialAdd__</span></td>
				</tr></table>
				
			</td>
		    
            
</tr>
