<tr > 
 <td class='__trclass__' class='__trclass__'>__slno__</td>
 <td class='__trclass__' style="font-family: 'kruti_dev_010regular';font-size:15px;">__MadName__</td>
 <td class='__trclass__' >__wardno__</td>
 <td class='__trclass__' ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__workname__</div></td>
 <td class='__trclass__' ><div align='right' style='padding-right:15px;'>__estimateamt__</td>
 <td class='__trclass__' ><div align='right' style='padding-right:10px;font-family: kruti_dev_010regular;font-size:15px;'>__ContractorName__</div></td>
 <td class='__trclass__' >__appamt__</td>
 <td class='__trclass__' >__appdate__</td>
 <td class='__trclass__' >__appdate__</td>
  <td class='__trclass__' >__workstartdate__</td>
 <td class='__trclass__' >__workenddate__</td>
 
 <td class='__trclass__' >__CheckNos__</td>
 <td class='__trclass__' nowrap >__Payments__</td>
 <td class='__trclass__' >__End__</td>
 <td class='__trclass__' nowrap>__Status__</td>
 <td class='__trclass__' style="font-family: 'kruti_dev_010regular';font-size:15px;">__Comment__</td>
</tr>