<p>Fianl Tender Bidding Details</p>
  	<table width="100%" border="1" cellspacing="0" cellpadding="0" class="des_grid_detail">
      <tr><td colspan='2' align='center'><b>__PROMPT__</b></td></tr>
	  <tr><td> 
         <form name="bidding" action="final_bidding.php" method="post"  > 
         <table align="left" cellspacing="4" cellpadding="4" width="100%" border="0" align="center"> 
		   
		  <tr>    
            <td width='20%'><span style="font-family: 'kruti_dev_010regular';font-size:15px;">dk;Z dk uke</span> :</td>    
            <td align="left" style='font-family: kruti_dev_010regular;font-size:15px;'>
              __WorkName__</td>   
            </td>   
          </tr>
		  <tr>    
            <td width='20%'><span >Tender Amount</span> :</td>    
            <td align="left" >Rs.
              __TotalAmount__</td>   
            </td>   
          </tr>
		   <tr>    
            <td width='20%'><span style="font-family: 'kruti_dev_010regular';font-size:15px;">okMZ Uka0</span> :</td>    
            <td align="left">
              __WardNo__</td>   
            </td>   
          </tr>
		   <tr>    
            <td   ><span style="font-family: 'kruti_dev_010regular';font-size:15px;"> IkzLrkod</span> :</td>    
            <td align="left" style='font-family: kruti_dev_010regular;font-size:15px;'>
              __ProposerName__</td>   
          </tr>
		   <tr>    
            <td   ><span > Name of area</span> :</td>    
            <td align="left" style="font-family: 'kruti_dev_010regular';font-size:15px;">
              __AreaName__</td>   
          </tr>
		  <tr>    
            <td width='20%'><span >Tender Categoty</span> :</td>    
            <td align="left" >
              __TenderCategory__
            </td>   
          </tr>
		  <tr>    
            <td width='20%'><span >Tender Start Date</span> :</td>    
            <td align="left">
              <span>__TenderStartDate__</span>
            </td>   
          </tr>
		  <tr>    
            <td width='20%'><span >Tender End Date</span> :</td>    
            <td align="left">
              <span>__TenderEndDate__</span>
            </td>   
          </tr>
		  <tr>    
            <td width='20%'><span >Bidding Start Date</span> :</td>    
            <td align="left">
              <span>__BiddingStartDate__</span>
            </td>   
          </tr>
		  <tr>    
            <td width='20%'><span >Bidding End Date</span> :</td>    
            <td align="left">
              <span>__BiddingEndDate__</span>
            </td>   
          </tr>
          <tr>    
            <td width='20%'><span >Bidding Rate (%)</span> :</td>    
            <td align="left">
              <span><input type='text' name='BiddingRate' value='__BiddingRate__' size='5' readonly></span>
            </td>   
          </tr>
		  <tr>    
            <td width='20%'><span >Depostite Type</span> :</td>    
            <td align="left">
              <span><input type='radio' name='DepositeType' value='NSC' __NSC__ disabled>&nbsp;NSC&nbsp;&nbsp;<input type='radio' name='DepositeType' value='Draft' __Draft__ disabled>&nbsp;Draft&nbsp;&nbsp;<input type='radio' name='DepositeType' value='Other' __Other__ disabled>&nbsp;Other</span>
            </td>   
          </tr>
		  <tr>    
            <td width='20%'><span >Deposite Details</span> :</td>    
            <td align="left">
              <span><textarea name='DepositeDetails' rows='3' cols='30' readonly>__DepositeDetail__</textarea></span>
            </td>   
          </tr>
		  <tr>   
           <td></td>   
           <td>
			  <input type="hidden" name="cid" value="__cid__" >
			  <input type="hidden" name="TenderBidId" value="__TenderBidId__" >
			  
			  <!-- Change Status:<select name='Status'>
			  <option value='Pending' __Pending__>Pending</option>
			  <option value='Approved' __Approved__>Approved</option>
			  <option value='Cancelled' __Cancelled__>Cancelled</option>
			  </select> --><input type="submit" name="submit" value="Submit Bid" class="button">	
           </td>   
          </tr>  
        </table>  
      </form> 
    </td></tr>
   </table>
<table width="100%" align="left"> 
      
  </table>