<Script language=javascript>
<!--
function checkSignUpDetails()
{	
  with(window.document.group)
	{	
   if(city.value=="")
		{	alert("Enter City Name");
			city.focus(); return false;
		}
		return true;
	}
	
}

//-->
</Script>
<table width="100%" align="left"> 
  <tr>  
    <td height="30">  
      <table border="0" cellspacing="0" cellpadding="0" width="96%" align="left">  	
        <tr>  		
          <td height="30" valign="middle"><b>Edit Group Record</b</td>  	
        </tr>  
      </table>  
    </td>  
  </tr>  
  <tr>  <td>  
  <form name="group" action="edit_group.php" method="post" onsubmit='return checkSignUpDetails();'>  
        <table align="left" cellspacing="5" cellpadding="5" width="98%" border="0" align="center">       
          <tr>    
            <td width="130" >Group Name:</td>    
            <td align="left"><input type="text" name="gname" value="__gname__" size="40"></td>   
          </tr>     
          <tr>   
           <td></td>   
           <td>
            <input type="hidden" name="cid" value="__id__">
            <input type="submit" name="submit" value="Edit" class="button">
          </td>   
          </tr>  
        </table>  
      </form> </td> 
  </tr>
</table>