<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>UPHDB Jan Suvidha Lucknow</title>
</head>
 
<body>
<table width="750" cellsapcing="0" cellpadding="0" align="center" border="0">
  <tr>  
    <td><img src="../../images/logo.png" width="120" height="100"></td>
    <td align="left" valign="middle"><span style="font-family:Kruti Dev 011;font-size:25px;">tu lwpuk izdks"B uxj fuxe >k¡lh</span></td>
  </tr>
</table>
<table width="100%" align="left">
  <tr>
   <td align="left" height="45" valign="top"><b>Summary of Total Complaints (Category wise)</b></td>
  </tr>
  <tr>
  <td>
  <table border="1" cellpadding="1" cellspacing="1" align="left" width="750"> 
  <tr>
  <th align="center" width="5%"><b><span style="font-family:Kruti Dev 011;font-size:13px;">dz0 la0</span></b></th>
   <th align="center" width="35%"><b><span style="font-family:Kruti Dev 011;font-size:15px;">vf?kdkjh dk inuke</span></b></th>
   <th align="center" width="20%"><b><span style="font-family:Kruti Dev 011;font-size:15px;">izkIr f'kdk;rksa dh Js.kh</span></b></th>
   <th align="center" width="20%"><b><span style="font-family:Kruti Dev 011;font-size:15px;">fuLrkj.k dh fLFkfr</span></b></th>
   <th align="center" width="20%"><b><span style="font-family:Kruti Dev 011;font-size:15px;">vo'ks"k</span></b></th>
   <!--<th align="center"><b>Total Default</b></th>-->   
  </tr>
  <tr>
   <td align="center">&nbsp;</td>
   <td align="center">&nbsp;</td>
   <td align="center">&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">,</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">ch</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">lh</span></td>
   <td align="center">&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">,</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">ch</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">lh</span></td>
   <td align="center">&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">,</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">ch</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">lh</span></td>
   <!--<td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C</td>-->  
  </tr>
   __complain_list__
  </table>
  </td>
  </tr>

</table>
</body>
</html>