<Script language=javascript>
<!--
function checkSignUpDetails()
{	with(window.document.MemberLoginForm)
	{	if(username.value=="")
		{	alert("Enter Username");
			username.focus(); return false;
		}
		
		if(password.value=="")
		{	alert("Enter Password");
			password.focus(); return false;
		}
		return true;
	}
}
//-->
</Script>
 <tr>
    <td align="left" valign="bottom"><img src="img/bl.gif" width="252" height="14" /></td>
  </tr>
    </table></td>
    <td width="69%" align="left" valign="top"><img src="img/01.jpg" width="531" height="290" style="margin-left:12px;" /></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top"><img src="img/image.jpg" width="796" height="315" style="margin-top:10px;" /></td>
    </tr>
 </table></td>
</tr>
          