*
{
	margin: 0px;
	padding: 0px;
}
html, body {
    height: 100%;
}

html {
	background:#9AC3EC url(http://jdimg.com/supergreen/bg.jpg) repeat-x scroll left top;
}
body, input, textarea
{
	font-family: "lucida grande", 'lucida sans unicode', verdana, arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
a:link, a:visited
{
	text-decoration: none;
	color: #666666;
}
a:hover
{
	color: #000000;
}
.clear
{
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}
h1
{
	
}
h2
{
	
}
h3
{
	font-size: 15px;
}
#wrapper-contain {
	background:#E1E1E1 none repeat scroll 0 0;
	width:890px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;	
}
#wrapper-contain #wrapper-contain-hdr {
	background:transparent url(http://jdimg.com/supergreen/contain-hdr.png) no-repeat scroll left bottom;
	height:15px;
	margin:0 auto;
	width:870px;
}
#wrapper
{
	background:#FFFFFF none repeat scroll 0 0;
	width: 830px;
	margin: 0px auto;
	padding: 0px 20px;
}
#header
{
	padding: 20px 0px 0px 0px;
}
#header h1 a span
{
	text-indent: -9000px;
	display: block;
	background: url('../img/logo.png') no-repeat;
	width: 275px;
	height: 63px;
	float: left;
	margin: 0px 0px 0px 15px;
}
#header h3#call-us
{
	text-indent: -9000px;
	background: url('../img/phone.png') no-repeat;
	width: 293px;
	height: 49px;
	float: right;
	margin: 5px 15px 0px 0px;
}
#header #nav
{
	background: url('../img/nav.png') no-repeat;
	width: 801px;
	height: 42px;
	margin: 15px auto 0px auto;
}
#header #nav ul
{
	list-style-type: none;
	padding: 13px 0px 0px 30px;
}
#header #nav ul li
{
	float: left;
	background: url('../img/nav-break.png') no-repeat top right;
	padding: 0px 25px 0px 25px;
}
#header #nav ul li.signup
{
	background: none;
}
#header #nav ul li.signup a span
{
	background: url('../img/nav-signup.png') no-repeat top left;
	text-indent: -9000px;
	width: 95px;
	height: 28px;
	display: block;
	margin: -5px 0px 0px 0px;
	cursor: hand;
	cursor: pointer;
}





#content
{
	color: #333333;
}
#content .text-contain
{
	padding: 20px 30px 0px 30px;
}
#content .text-contain p
{
	margin: 10px 0px;
}




.push {
    height: 20px;
}
#footer
{
	text-align: center;
	margin: 30px 0px 50px 0px;
	font-size: 10px;
	color: #666666;
	background:#E1E1E1 none repeat scroll 0 0;
	margin:0 auto;
	width:890px;
	height: 20px;
}
#footer ul
{
	list-style-type: none;
	text-align: center;
}
#footer ul li
{
	display: inline;
	border-right: solid 1px #cccccc;
	padding-right: 10px;
	margin-right: 10px;
}
#footer ul li.li-end
{
	border: 0px;
}
#footer ul li.li-starter
{
	border-left: solid 1px #cccccc;
	padding-left: 10px;
	margin-left: 6px;
}
#wrapper-contain #wrapper-contain-ftr {
	background:transparent url(http://jdimg.com/supergreen/contain-ftr.png) no-repeat scroll left bottom;
	height:8px;
	margin:0 auto;
	width:870px;
}