<br>
<br>
<table border="0" cellpadding="3" cellspacing="3" align="left">
  <tr>
   <td><h2>Reports for Monitoring</h2></td>
  </tr>
  <tr>
   <td height="20"><a href="javascript: void(0)" onclick="window.open('supervisory_reports.php','windowname1','width=750, height=650,scrollbars=yes'); return false;"><b>Summary of Total Complaints (Category wise)</b></a></td>
  </tr>
 <!-- <tr>
   <td height="20"> <a href='supervisory_reports.php'><b>Status view (including defaulter no.)</b></a></td>
  </tr>
  <tr>
   <td height="20"> <a href='supervisory_reports.php'><b>Officer wise (Defaulters) Pending Complaints </b></a></td>
  </tr>
  <tr>
   <td height="20"> <a href='supervisory_reports.php'><b>Officer wise disposed Complaints</b></a></td>
  </tr>
  <tr>
   <td height="20"> <a href='supervisory_reports.php'><b>Date wise (oldest) Pending Complaints</b></a></td>
  </tr>-->
 <!--  <tr>
   <td height="20"> <a href='supervisory_reports.php'><b>Officer wise (Interim) Complaints</b></a></td>
  </tr> -->
  <tr> 
   <td height="20"> <a href='dep_reports.php'><b>Department Wise Report</a></b></td>
 </tr>
  <tr> 
   <td height="20"> <a href='monthly_reports.php'><b>Monthly Department Wise Status Report</a></b></td>
 </tr>
<!--   <tr> 
   <td height="20"> <a href='nature_reports.php'><b>Department Wise Report Category Report</a></b></td>
 </tr> -->
</table>