
<script language = javascript>
<!--
function selectAll()
{	with(window.document.city)
	{
		totalElements = elements.length;
		for(i = 0; i < totalElements; i++)
		{	if (elements[i].type == 'checkbox')
			{	elements[i].checked = true;
			}
		}		
	}
}

function selectNone()
{	with(window.document.city)
	{	 
		totalElements = elements.length;
		for(i = 0; i < totalElements; i++)
		{	
			if (elements[i].type == 'checkbox')
			{	elements[i].checked = false;
			}
		}		
	}
}

function checkSelected()
{	with(window.document.city)
	{	totalChecked = 0; 
		totalElements = elements.length;
		for(i = 0; i < totalElements; i++)
		{	
			if (elements[i].type == 'checkbox')
			{	if (elements[i].checked) 
				{	totalChecked++;
					break;
				}
			}
		}		

		if (totalChecked == 0)
		{	alert("Select a items");
			return false;
		}

		return true;
	}
}

function confirmDelete()
{	with(window.document.city)
	{	if (checkSelected())
		{	return confirm("The selected items will be deleted. Are you sure?");
		}
		else
		{	return false;
		}
	}
}

//-->
</script>
<table width="100%" align="left">
 <tr>
  <td height="90">
  <form name="city" action="city.php" method="post">
  <table border="0" cellpadding="0" cellspacing="1" align="left" width="100%"> 
    <tr>
     <td height="40">Click here to <a href='add_city.php'>Add City</a></td>
     <td height="30">Click on edit link to edit the City</td>
    </tr>
    <tr>
     <td align="center"  bgcolor="#464682" style="text-decoration:none;color:#FFFFFF" colspan="2"><b>__PROMPT__</b></td>
    </tr>
  </table>
 </td>
  </tr>
  <tr>
  <td>
  <table border="0" cellpadding="1" cellspacing="1" align="center"  class="tableList"> 
  <tr>
  <th><b>S.no.</b></th>
   <th><b>X</b></th>
   <th><b>City Name</b></th>
   <th><b>Edit</b></th>
  </tr>
  __CITY_LIST__
  <tr>
  <td colspan="8" align="left" height="30">
  <input type="button" value="Select All" onclick="return selectAll();" class="button">
  <input type="button" value="Select None" onclick="return selectNone();" class="button">
  <input type="submit" name="SUBMIT_DELETE" value="Delete Selected" onclick="return confirmDelete();" class="button">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
  </td></tr>
  </table>
  </td>
  </tr>
  <tr>
  <td>
  <table align="center" width="95%" style="border-color:#FFFFFF">
   <tr><td align="right">__PREV_PAGE_LINK__&nbsp;&nbsp;&nbsp;Pages: __PAGE_NAVS__&nbsp;&nbsp;&nbsp; __NEXT_PAGE_LINK__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
  </table> 
</form>
</td>
 </tr>
</table>