<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>NAGAR NIGAM DIWAS, NAGAR NIGAM JHANSI</title>
</head>
 
<body>
<table width="650" align="left" border="0"> 
  <tr>  
    <td><img src="../../images/logo.png" width="120" height="100"></td>
    <td align="left" valign="middle"><span style="font-family:Kruti Dev 011;font-size:25px;">uxj fuxe fnol] >k¡lh uxj fuxe] >k¡lh</span></td>
  </tr>
  <tr>  
    <td align="left" height="20" colspan="2">&nbsp;</td>
  </tr>
  <tr>  
    <td align="left" colspan="2"><span style="font-family:Kruti Dev 011;font-size:15px;">lsok esa] </span></td>
  </tr>
  <tr>  
    <td align="left" colspan="2"> __con_officer__</td>
  </tr>
  <tr>  
    <td align="left" style="font-family:Kruti Dev 011;font-size:15px;" height="35" valign="bottom" colspan="2">egksn;</td>
  </tr>
  <tr>  
    <td align="left" height="35" valign="bottom" colspan="2">
     &nbsp;&nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">vkt fnukad </span> __cdate__ <span style="font-family:Kruti Dev 011;font-size:15px;">
     dks</span> <span style="font-family:Kruti Dev 011;font-size:15px;">__cmode__ </span><span style="font-family:Kruti Dev 011;font-size:15px;">ds ek/;e ls fuEufyf[kr f'kdk;r@leL;k@iszPNk  izkIr gqbZ gSA ftldh f'kdk;r la[;k</span>
     __cid__ <span style="font-family:Kruti Dev 011;font-size:15px;">gSA tks f'kdk;r dh  Js.kh</span>  __ccategory__ <span style="font-family:Kruti Dev 011;font-size:15px;">gSA</span>
    </td>
  </tr>
  <tr>  
    <td align="left" style="font-family:Kruti Dev 011;font-size:15px;" height="35" valign="bottom" colspan="2"><b>lwpuk@leL;k@izsPNk dk fooj.k</b></td>
  </tr>
  <tr>  
    <td height="50" valign="bottom" colspan="2"><span style="font-family:Kruti Dev 011;font-size:15px;">vkosnu drkZZ dk uke</span> :  &nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">__cname__</span></td>
  </tr> 
  <tr>  
    <td height="15" valign="bottom" colspan="2"><span style="font-family:Kruti Dev 011;font-size:15px;">vkosnu  drkZ dk irk</span> :  &nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">__caddress__</span></td>
  </tr>
  <tr>  
    <td height="15" valign="bottom" colspan="2"><span style="font-family:Kruti Dev 011;font-size:15px;">nwjHkk"k@eksckbZy la[;k</span> :  &nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">__ccontno1__</span></td>
  </tr> 
  <tr>  
    <td height="35" valign="bottom" colspan="2"><span style="font-family:Kruti Dev 011;font-size:15px;"><b>vkosnu dk lkjka'k</b></span> :  &nbsp;&nbsp;<span style="font-family:Kruti Dev 011;font-size:15px;">__cdetail__</span></td>
  </tr>
  <tr>  
    <td height="50" valign="bottom" colspan="2"><span style="font-family:Kruti Dev 011;font-size:15px;"><b>mDr f'kdk;r dk xq.koRrk ds lkFk fuLrkj.k vkids }kjk fnukad</b></span> __tdate__ <span style="font-family:Kruti Dev 011;font-size:15px;">rd visf{kr gSA</span></td>
  </tr> 
  <tr>
   <td colspan="2" align="center" height="40" valign="bottom">
    <input type="button" name="print" value="Print" onclick="window.print();">&nbsp;&nbsp;
    <input type="button" name="cancel" value="Cancel" onclick="window.close();">
   </td>
  </tr>
 </table>
</body>
</html>