
<table width="100%" align="left"> 
  <tr>  
    <td height="30">  
      <table border="0" cellspacing="0" cellpadding="0" width="96%" align="left">  	
        <tr>  		
          <td height="30" valign="middle"><b>Edit Officer Recourds
              </b</td>  	
        </tr>  
      </table>  </td>  
  </tr>  
  <tr>  <td>  
      <form name="editOfficer" action="edit_officer.php" method="post" onsubmit='return checkSignUpDetails();'>  
        <table align="left" cellspacing="5" cellpadding="5" width="98%" border="0" align="center">       
          <tr>    
            <td width="130" >Officer Code:</td>    
            <td align="left"><input type="text" name="offcode" value="__offcode__" size="30"></td>   
          </tr>
          <tr>    
            <td width="110" >Officer  Designation:</td>    
            <td align="left"><input type="text" name="offdesi" value="__offdesi__" size="30"></td>   
          </tr>
          <tr>    
            <td width="110" >Department:</td>    
            <td align="left"><input type="text" name="department" value="__department__" size="30"></td>   
          </tr>
          <tr>    
            <td width="110" >Officer  Name:</td>    
            <td align="left"><input type="text" name="offname" value="__fname__"size="30"></td>   
          </tr> 
           <tr>    
            <td width="110" >Address:</td>    
            <td align="left"><input type="text" name="address" value="__faddress__"size="30"></td>   
          </tr>
          <tr>    
            <td width="110" >Email:</td>    
            <td align="left"><input type="text" name="email" value="__email__"size="30"></td>   
          </tr>
          <tr>    
            <td width="110" valign="top">Mobile No:</td>    
            <td align="left"><input type="text" name="contact" value="__fcontact__"size="30"><br><br><input type="text" name="contact1" value="__fcontact1__" size="30"></td>   
          </tr>    
          <tr>   
            <td><input type="hidden" name="sfid" value="__fid__"></td>  
           <td>
              <input type="submit" name="submit" value="submit" class="button">
          </td>   
          </tr>  
        </table>  
      </form> </td> 
  </tr>
</table>