<Script language=javascript>
<!--
function checkSignUpDetails()
{	
  with(window.document.search)
	{	
    if(city.value=="")
		{	
      alert("Select City");
			city.focus(); return false;
		}
		if(sdate.value=="")
		{	
      alert("Enter From Date.");
			sdate.focus(); return false;
		}
		return true;
	}
	
}
//-->
</Script>
<br>
<form name="search" action="nature_reports.php" method="POST" onsubmit='return checkSignUpDetails();'>
<table border="0" cellpadding="1" cellspacing="1" align="left">
 <tr>
  <td>
   Nature :
   <select name="nature">
    <option value="">-- Select Nature of Complaint--</option> 
    <option value="1000">All</option>
    __c_nature__
   </select>
   &nbsp;&nbsp;&nbsp;From Date :<input id="demo3" name="sdate" type="text" size="10"><a href="javascript:NewCal('demo3','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>
   &nbsp;&nbsp;&nbsp;&nbsp; To Date :<input id="demo4" name="edate" type="text" size="10"><a href="javascript:NewCal('demo4','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>
   &nbsp;&nbsp;&nbsp;<input type="submit" name="search" value="Search" class="button">
  </td>
 </tr>
</table>
</form>
<br><br>
<form name="complainant" action="default_comp.php" method="post">
<br>
<table width="100%" align="left">
  __PROMPT__
  <tr>
  <td>
  <table border="1" cellpadding="2" cellspacing="2" align="left" width="90%"> 
  <tr><td height="35" valign="middle" colspan="6"><b>__officer_text__</b> &nbsp;&nbsp;&nbsp;<b> __sdate_text__</b> &nbsp;&nbsp;&nbsp;<b> __edate_text__</b></td></tr>
  <tr>
  <th align="center"><b>S.N.</b></th>
   <th align="center"><b>Date</b></th>
   <th align="center"><b>Total Complaint</b></th>
   <th align="center"><b>Total Disposed</b></th>
   <th align="center"><b>Total Pending</b></th>
   <th align="center"><b>Total Default</b></th>   
  </tr>
  <tr>
   <td align="center">&nbsp;</td>
   <td align="center">&nbsp;</td>
   <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&nbsp;</td>
   <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&nbsp;</td>
   <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&nbsp;</td>
   <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&nbsp;</td>   
  </tr>
   __complain_list__
  </table>
  </td>
  </tr>

</table>
</form>