<Script language=javascript>
<!--
function checkSignUpDetails()
{  
	with(window.document.add_mayer_info)
	{	
        if(Mayer_Name.value=="")
		{	alert("Enter mayer name");
			Mayer_Name.focus(); return false;
		}
		 if(Mayer_Photo.value=="")
		{	alert("Upload mayer Photo");
			Mayer_Photo.focus(); return false;
		}
		
		
     }
		return true;
	}

//-->
</Script>

<table width="100%" align="left">
<form name="add_mayer_info" action="add_mayer.php" method="post" onsubmit='return checkSignUpDetails();' enctype="multipart/form-data">
	<tr>
      <td>
		<table width="100%" class="grayhead" border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td class="grayheadleft">&nbsp;</td>
			  <td class="grayheadmid">Add mayer</td>
			  <td class="grayheadright">&nbsp;</td>
			</tr>
		</table>
	</td>
    </tr>
    <tr>
	  <td><table width="100%"  border="0" cellspacing="5" cellpadding="5">
	       <tr>
		 <td align="center" colspan="2"  class="successmsg"><b>__PROMPT__</b></td>
		 </tr>
		<tr>
			<td colspan="2"><span style="color:red">*</span> Required</td>
		</tr>
		  <tr>
		  <td colspan=""><span style="color:red">*</span>Mayer Name</td>
		  <td><input type="text" name="Mayer_Name" value=""></td>
		 </tr> 
		 <tr>
		  <td><span style="color:red">*</span> Upload Mayer Photo </td>
		  <td><INPUT NAME="Mayer_Photo" TYPE="file">
		</td>
		  
		 <tr>
		  <td valign="top"><span style="color:red">*</span>Mayer Description:</td>
		  <td> __TINY_HTML_EDITOR__</td>
		 </tr>

		 <tr>
		  <td>Status</td>
		  <td><select name="status">
		  <option value="1">Live</option>
		  <option value="0">Draft</option>
		 </select>
		</td>
		 </tr>
		 <tr>
		  <td></td>
		  <td><input type="submit" name="submit" value="Add" class="button"></td>
		 </tr>
		 </table>
		  </td></tr>
		 </form>
 </table>
 



