<Script language=javascript>
<!--
function checkSignUpDetails()
{  
	with(window.document.add_tender)
	{	
        
		
		 if(file_desc.value=="")
		{	alert("Enter file description");
			file_desc.focus(); return false;
		}
		
		
		
     }
		return true;
	}

//-->
</Script>

<table width="100%" align="left">
<form name="add_tender" action="add_notice.php" method="post" onsubmit='return checkSignUpDetails();' enctype="multipart/form-data">
	<tr>
      <td>
		<table width="100%" class="grayhead" border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td class="grayheadleft">&nbsp;</td>
			  <td class="grayheadmid">Add Notice</td>
			  <td class="grayheadright">&nbsp;</td>
			</tr>
		</table>
	</td>
    </tr>
	
    <tr>
	  <td><table width="100%"  border="0" cellspacing="5" cellpadding="5">
	       <tr>
		 <td align="center"  class="successmsg" colspan="2"><b>__PROMPT__</b></td>
		 </tr>
		<tr>
			<td colspan="2"><span style="color:red">*</span> Required</td>
		</tr>
		 
		 <tr>
		  <td> Upload pdf file </td>
		  <td><INPUT NAME="pdf_file" TYPE="file">
		</td>
		  <tr>
		  <td><span style="color:red">*</span>Description </td>
		  <td><textarea NAME="file_desc" rows="8" cols="40"></textarea>
		</td>
		<tr>
		  <td valign="top">Notice End Date:</td>
		  <td><input type="text" name="tdate" id="demo6"><a href="javascript:NewCal('demo6','ddmmyyyy')"><img src="../images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>
		 </tr>
		 <tr>
		  <td>Status</td>
		  <td><select name="status">
		  <option value="1">Live</option>
		  <option value="0">Draft</option>
		 </select>
		</td>
		 </tr>
		 <tr>
		  <td></td>
		  <td><input type="submit" name="submit" value="Add" class="button"></td>
		 </tr>
		 </table>
		  </td></tr>
		 </form>
 </table>
 



