<script type="text/javascript">
function checkSignUpDetails() {
    var f = document.forms["add_page"];
    if(!f || !f.name.value.trim()) {
        alert("Please enter Page Name");
        if(f && f.name) f.name.focus();
        return false;
    }
    return true;
}
</script>
<script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<!-- <script type="text/javascript">
    tinyMCE.init({
        mode : "textareas",
        theme : "simple"
    });
</script> -->

<script language="javascript" type="text/javascript">
<!--
function showcategory(val)
  { 
  
      //alert("deepak");
  		makeRequest("category","getcategary.php?id="+val);
  }
 //-->
 </script>

<table width="100%" align="left">
<form name="add_page" action="add_page.php" method="post" onsubmit='return checkSignUpDetails();' enctype="multipart/form-data">
	<tr>
      <td>
		<table width="100%" class="grayhead" border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td class="grayheadleft">&nbsp;</td>
			  <td class="grayheadmid">Add Page</td>
			  <td class="grayheadright">&nbsp;</td>
			</tr>
		</table>
	</td>
    </tr>
    <tr>
	  <td><table width="100%"  border="0" cellspacing="5" cellpadding="5">
	       <tr>
		 <td align="center"  class="successmsg"><b>__PROMPT__</b></td>
		 </tr>
		<tr>
			<td colspan="2"><span style="color:red">*</span> Required</td>
		</tr>
		 <tr>
		  <td><span style="color:red">*</span> Name: </td>
		  <td><input type="text" name="name"></td>
		 </tr>
		 <tr>
		  <td valign="top"><span style="color:red">*</span>Page Text:</td>
		  <td> __TINY_HTML_EDITOR__</td>
		 </tr>

		 <tr>
		  <td>Status</td>
		  <td><select name="status">
		  <option value="1">Live</option>
		  <option value="0">Draft</option>
		 </select>
		</td>
		 </tr>
		 <tr>
		  <td>&nbsp;</td>
		  <td><input type="submit" name="submit" value="Add" class="button"></td>
		 </tr> 
		 </table>
		  </td></tr>
		 </form>
 </table>
 



