 <tr class="catagoryrow">
<td width="1%" align="center">&nbsp;</td>
<td width="4%" align="center" valign="middle"><input type="checkbox" name = cid[] value = "__Comm_Id__"></td>
        <td width="10%" align="center"><a href="commissioner_details.php?cid=__Comm_Id__"  style="color:#000000;">__Comm_Id__</a></td>

        <td width="20%" align="center">__Comm_Name__</td>
        <td width="20%" align="center">__c_image__</td>
       
        
        <td width="20%" align="center">__status__</td>
		<td width="20%"><a href="edit_commissioner.php?cid=__Comm_Id__">Edit</a></td>
</tr>

