
<!-- <script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode : "textareas",
        theme : "simple"
    });
</script> -->
<Script language=javascript>
<!--
function checkSignUpDetails()
{  
	with(window.document.edit_mayer_info)
	{	
        if(Mayer_Name.value=="")
		{	alert("Enter mayer name");
			Mayer_Name.focus(); return false;
		}
		
		
		
     }
		return true;
	}

//-->
</Script>

<table width="100%" align="left">
<form name="edit_mayer_info" action="edit_mayer.php" method="post" onsubmit='return checkSignUpDetails();' enctype="multipart/form-data">
	<tr>
      <td>
		<table width="100%" class="grayhead" border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td class="grayheadleft">&nbsp;</td>
			  <td class="grayheadmid">Edit Mayer Info</td>
			  <td class="grayheadright">&nbsp;</td>
			</tr>
		</table>
	</td>
    </tr>
    <tr>
	  <td><table width="100%"  border="0" cellspacing="5" cellpadding="5">
	       <tr>
		 <td align="center"  class="successmsg"><b>__PROMPT__</b></td>
		 </tr>
		<tr>
			<td colspan="2"><span style="color:red">*</span> Required</td>
		</tr>
		 <tr>
		  <td colspan=""><span style="color:red">*</span>Mayer Name</td>
		  <td><input type="text" name="Mayer_Name" value="__Mayer_Name__"></td>
		 </tr> 
		 <tr>
		  <td><span style="color:red">*</span> Upload Mayer Photo </td>
		  <td><INPUT NAME="Mayer_Photo" TYPE="file">
		</td>
		 <tr>
		  <td valign="top">Mayer Description:</td>
		  <td>__TINY_HTML_EDITOR__</td>
		 </tr>
		   <tr>
		  <td>Status</td>
		  <td><select name="status">
		  <option value="1" __status__>Live</option>
		  <option value="0" __status1__>Draft</option>
		 </select>
		</td>
		 </tr>
		 <tr>
		  <td><input type="hidden" name="mid" value="__Mayer_Id__"></td>
		  <td><input type="submit" name="submit" value="Update"></td>
		 </tr>
		 </table>
		  </td></tr>
		 </form>
 </table>
 


