
<!-- <script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode : "textareas",
        theme : "simple"
    });
</script> -->
<Script language=javascript>
<!--
function checkSignUpDetails()
{  
	with(window.document.edit_commissioner_info)
	{	
        if(Comm_Name.value=="")
		{	alert("Enter mayer name");
			Comm_Name.focus(); return false;
		}
		
		
		
     }
		return true;
	}

//-->
</Script>

<table width="100%" align="left">
<form name="edit_commissioner_info" action="edit_commissioner.php" method="post" onsubmit='return checkSignUpDetails();' enctype="multipart/form-data">
	<tr>
      <td>
		<table width="100%" class="grayhead" border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td class="grayheadleft">&nbsp;</td>
			  <td class="grayheadmid">Edit Commissioner Info</td>
			  <td class="grayheadright">&nbsp;</td>
			</tr>
		</table>
	</td>
    </tr>
    <tr>
	  <td><table width="100%"  border="0" cellspacing="5" cellpadding="5">
	       <tr>
		 <td align="center"  class="successmsg"><b>__PROMPT__</b></td>
		 </tr>
		<tr>
			<td colspan="2"><span style="color:red">*</span> Required</td>
		</tr>
		 <tr>
		  <td colspan=""><span style="color:red">*</span>Commissioner Name</td>
		  <td><input type="text" name="Comm_Name" value="__Comm_Name__"></td>
		 </tr> 
		 <tr>
		  <td><span style="color:red">*</span> Upload Photo </td>
		  <td><INPUT NAME="Comm_Photo" TYPE="file">
		</td>
		 <tr>
		  <td valign="top">Description:</td>
		  <td>__TINY_HTML_EDITOR__</td>
		 </tr>
		   <tr>
		  <td>Status</td>
		  <td><select name="status">
		  <option value="1" __status__>Live</option>
		  <option value="0" __status1__>Draft</option>
		 </select>
		</td>
		 </tr>
		 <tr>
		  <td><input type="hidden" name="cid" value="__Comm_Id__"></td>
		  <td><input type="submit" name="submit" value="Update"></td>
		 </tr>
		 </table>
		  </td></tr>
		 </form>
 </table>
 


