       <table width="100%" border="0" cellspacing="0" cellpadding="0"  align="center" height="400">
              <tr valign="top">
                <td>
                <form name="login" action="index.php" method="POST" onload="document.login.uname.value.focus();">
                 <table width="60%" border="0" cellspacing="4" cellpadding="4" valign="top" align="center">
                 <tr>
                 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                 </tr>
                  <tr>
                 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                 </tr>
                 
                 
                 
                    <tr>
                      <td align="center" colspan="2"><b>Admin Login</b></td>
                    </tr>
                     <tr>
                      <td align="center" colspan="2">__PROMPT__</td>
                    </tr>
                    <tr>
                      <td width="36%" align="right">USER NAME:</td>
                      <td width="64%" ><input type="text" name="uname" />
                      </td>
                    </tr>
                    
                    <tr>
                      <td align="right">PASSWORD:</td>
                      <td><input type="password" name="password" /></td>
                    </tr>
                   
                    <tr>
                       <td></td>
                       <td><input type="submit" name="submit" value="submit" /></td>
                    </tr>
                   
                    
                </table></td>
              </tr>
              </form>
            </table>
            