<!-- <tr>
 <td ><table class="catagoryrow" width="100%" border="0" cellspacing="0" cellpadding="0"> -->
 <tr class="catagoryrow">
<td width="1%" align="center">&nbsp;</td>
<td width="4%" align="center" valign="middle"><input type="checkbox" name = mid[] value = "__Mayer_Id__"></td>
        <td width="10%" align="center"><a href="mayer_details.php?mid=__Mayer_Id__"  style="color:#000000;">__Mayer_Id__</a></td>

        <td width="20%" align="center">__Mayer_Name__</td>
        <td width="20%" align="center">__m_image__</td>
       
        
        <td width="20%" align="center">__status__</td>
		<td width="20%"><a href="edit_mayer.php?mid=__Mayer_Id__">Edit</a></td>
</tr>
 <!--  </table></td>
</tr> -->
