<table width="100%" align="left">
  <tr>
      <td><table width="100%" class="grayhead" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="grayheadleft">&nbsp;</td>
          <td class="grayheadmid">Officer Details</td>
          <td class="grayheadright">&nbsp;</td>
        </tr>
      </table></td>
    </tr>


  <tr>
    <td >
    <table width="100%" border="0" cellspacing="10" cellpadding="0">
    
   <tr>
    <td>First Name</td>
    <td>__firstname__</td>
   </tr>
   <tr>
    <td>Last Name</td>
    <td>__lastname__</td>
   </tr>
   <tr>
    <td>Email</td>
    <td>__email__</td>
   </tr>
   <tr>
    <td>Designation</td>
    <td>__Designation__</td>
   </tr>
   <tr>
    <td>Office No.</td>
    <td>__OfficeNo__</td>
   </tr>
   <tr>
    <td>Residence No.</td>
    <td>__ResNo__</td>
   </tr>
   
  <tr>
     <td height="20">&nbsp;</td>
  </tr>
    </table>





