
<tr>
 <td width="5%" align="center"><input type="checkbox" name = oid[] value = "__Officer_Id__"></td>
        <td width="10%" align="center"><a href="officer_details.php?oid=__Officer_Id__" style="color:#000000;">__Officer_Id__</a></td>
        <td width="20%" align="center">__OfficerName__</td>
        <td width="15%" align="center">__Designation__</td>
        <td width="20%" align="center">__Email__</td>
         <td width="10%" align="center">__Status__</td>
		<td width="10%" align="center"><a href="edit_officer_info.php?oid=__Officer_Id__">Edit</a></td>
</tr>

