<table width="100%" align="left" cellspacing="1" cellpadding="1">

  <tr>
      <td><table width="100%" class="grayhead" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="grayheadleft">&nbsp;</td>
          <td class="grayheadmid">Smart City Campagin Report</td>
          <td class="grayheadright">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr>
     <td height="10"></td>
    </tr>
    <tr>
     <td height="10"><h2>Gender Wise Report</h2></td>
    </tr>
    <tr>
     <td>
       <table border='1' width='400'>
        <tr>
          <td align='center'><b>Total Participant</b></td>
          <td align='center'><b>Male</b></td>
          <td align='center'><b>Female</b></td>
        </tr>
        <tr>
          <td align='center'>__TOTAL_RECORDSET__</td>
          <td align='center'>__TOTAL_RECORDSET_male__</td>
          <td align='center'>__TOTAL_RECORDSET_female__</td>
        </tr>
       </table>
     </td>
    </tr>
    
    <tr>
     <td height="10" width="200">
      <table border='0' >
        <tr>
          <td align='center'><h2>Ward Wise Report  :</h2></td>
          <td align='center'><form name='report' method="post" action=''>
      <select name="ward_no" onchange="this.form.submit()">
        <option value=''>Select Ward No</option>
        __ward_list__
      </select>
      </form></td>
        </tr>
      </table>
     </td>
    </tr>
    <tr>
      <td align='center'><h2>Jhansi as a Smart City</h2></td>
    </tr>
    <tr>
     <td>
       <table border='1' width='600'>
        <tr>
          <td align='center'><b>Questions</b></td>
          <td align='center'><b>Rank1</b></td>
          <td align='center'><b>Rank2</b></td>
          <td align='center'><b>Rank3</b></td>
          <td align='center'><b>Rank4</b></td>
          <td align='center'><b>Rank5</b></td>
        </tr>
        <tr>
          <td align='left'>Water supply with smart meters</td>
          __water_supply_data__
        </tr>
        <tr>
          <td align='left'>Traffic and transportation improvment</td>
          __traffic_data__
        </tr>
        <tr>
          <td align='left'>Safety and Security</td>
          __safety_data__
        </tr>
        <tr>
          <td align='left'>Online municipal services</td>
          __municipal_data__
        </tr>
        <tr>
          <td align='left'>City bus services</td>
          __bus_data__
        </tr>
       </table>
     </td>
    </tr>
    
    <tr>
      <td align='center'><h2>Smart interventions in the selected area</h2></td>
    </tr>
    <tr>
     <td>
       <table border='1' width='600'>
        <tr>
          <td align='center'><b>Questions</b></td>
          <td align='center'><b>Rank1</b></td>
          <td align='center'><b>Rank2</b></td>
          <td align='center'><b>Rank3</b></td>
          <td align='center'><b>Rank4</b></td>
          <td align='center'><b>Rank5</b></td>
          <td align='center'><b>Rank6</b></td>
        </tr>
        <tr>
          <td align='left'>Water supply with smart meters</td>
          __water_supply_data_one__
        </tr>
        <tr>
          <td align='left'>Multi level parking</td>
          __parking_data__
        </tr>
        <tr>
          <td align='left'>Undergroound electric cabling</td>
          __underground_data__
        </tr>
        <tr>
          <td align='left'>Solid waste management & sanitation</td>
          __solid_data__
        </tr>
        <tr>
          <td align='left'>Transport and intelligent traffic management</td>
          __transport_data__
        </tr>
        <tr>
          <td align='left'>Improved education and helth infrastucture</td>
          __education_data__
        </tr>
       </table>
     </td>
    </tr>
    
    <tr>
      <td align='center'>&nbsp;</td>
    </tr>
    <tr>
     <td>
       <table border='1' width='600'>
        <tr>
          <td align='center'><b></b></td>
          <td align='center'><b>Yes</b></td>
          <td align='center'><b>No</b></td>
        </tr>
        <tr>
          <td align='left'>Will you be willing to pay increased of new user changes for the services which will be provided under the city Plan?</td>
          __yes_data__
        </tr>
        <tr>
          <td align='left'>Will you be willing to contribute/join in any form (Funds, Voluntary, Services, Time & Knowledge) to the smart city project of Jhansi?</td>
          __no_data__
        </tr>
       </table>
     </td>
    </tr>
    <tr>
      <td align='center'>&nbsp;</td>
    </tr>
    <tr> 
					  <td align="left">
              <table border="1">
                <tr> 
        					<td align="left"><strong>In my opinion</strong></td>
        					<td align="center">Agree</td>
        					<td align="center">Disagree</td>
        					<td align="center">Partiially Agree</td>
        					<td align="center">Strongly Agree</td>
        					<td align="center">Strongly Disagree</td>
        				</tr>
        				<tr> 
        					<td align="left">1. My city is clean and garbage free</td>
        					__garbage_free__
        				</tr>
        				<tr> 
        					<td align="left">2. Commuting is jhansi is a hassle free experience for me</td>
        					__hassle_free__
        				</tr>
        				<tr> 
        					<td align="left">3. I have access to recreational areas/activites in my city</td>
        					__area__
        				</tr>
        				<tr> 
        					<td align="left">4. It is convenient to walk and cycle across the city</td>
        					__walk_cycle__
        				</tr>
        				<tr> 
        					<td align="left">5. My city is a green and pollution-free city</td>
        					__pollution_free__
        				</tr>
        				<tr> 
        					<td align="left">6. My city is rich in history</td>
        					__history__
        				</tr>
              </table>
            </td>
				</tr>
    
    <tr>
      <td align='center'>&nbsp;</td>
    </tr>
 </table>