
<tr>
<td width="1%" align="center"><a href="campaign_form.php?id=__id__">__id__</a></td>
<!--<td width="4%" align="center"><input type="checkbox" name = pid[] value = "__Pdf_Id__"></td>
        <td width="10%" align="center"><a href="../docs/__Pdf_Name__" style="color:#000000;" target="_new">__Pdf_Id__</a></td> -->
        
        <td width="20%" align="center">__name__</td>
        <td width="30%" align="center">__address__</td>
        
        <td width="20%" align="center">__mobile__</td>
        <td width="20%" align="center">__gender__</td>
        <td width="20%" align="center">__age__</td>
        <td width="20%" align="center">__ward_no__</td>
		    <!--<td width="20%"><a href="#" onclick="openPopup('smartcity_print.php?id=__id__');">Print</a></td>-->
</tr>
