
<tr>
<td width="1%" align="center">&nbsp;</td>
<td width="4%" align="center"><input type="checkbox" name = pid[] value = "__Pdf_Id__"></td>
        <td width="10%" align="center"><a href="../docs/__Pdf_Name__" style="color:#000000;" target="_new">__Pdf_Id__</a></td>

        <td width="20%" align="center">__Pdf_Name__</td>
        <td width="30%" align="center">__Pdf_Desc__</td>
        
        <td width="20%" align="center">__Status__</td>
		<td width="20%"><a href="edit_tender.php?pdfId=__Pdf_Id__">Edit</a></td>
</tr>
