 <tr class="catagoryrow">
<td width="1%" align="center">&nbsp;</td>
<td width="4%" align="center" valign="middle"><input type="checkbox" name = cid[] value = "__Work_Id__"></td>
        <td width="10%" align="center">__Work_Id__</td>

        <td width="20%" align="center">__Work_Name__</td>
        <td width="20%" align="center">__w_image__</td>
       
        
        <td width="20%" align="center">__status__</td>
		<td width="20%"><a href="edit_work.php?cid=__Work_Id__">Edit</a></td>
</tr>

