<Script language=javascript>
<!--
function checkSignUpDetails()
{	with(window.document.edit_items)
	{	
        if(MadName.value=="")
		{	
            alert("Please enter mad name.");
			MadName.focus(); 
            return false;
		}

	}
	
}

</Script>
<table width="100%" align="left"> 
      <tr><td> 
         <form name="edit_items" action="edit_mad.php" method="post" onsubmit='return checkSignUpDetails();' > 
         <table align="left" cellspacing="4" cellpadding="4" width="100%" border="0" align="center"> 
            <td height="40">
      <a href='#'><b>Edit Mad Information</b></a>
     </td>
    </tr>
		   <tr>    
            <td  width="220" ><span >Mad Name</span> :</td>    
            <td align="left">
              <input type="text" name="MadName" value="__MadName__" size="25" style="font-family: 'kruti_dev_010regular';font-size:15px;"></td>   
          </tr>
		  
          <tr>   
           <td></td>   
           <td>
		      <input type='hidden' name='MadId' value='__MadId__'>
              <input type="submit" name="submit" value="submit" class="button">
           </td>   
          </tr>  
        </table>  
      </form> 
    </td></tr>
  </table>