<tr>
 <td>__slno__</td>
 <td >__wardno__</td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__workname__</div></td>
 <td ><div align='right' style='padding-right:15px;'>__WorkOrderNo__</td>
 <td >__estimateamt__</td>
 <td ><div align='right' style='padding-right:10px;font-family: kruti_dev_010regular;font-size:15px;'>__ContractorName__</div></td>
 <td >__appdate__</td>
 <td >__appamt__</td>
  <td >__workstartdate__</td>
 <td >__workenddate__</td>
 <td nowrap>__Payments__</td>
 <td >__CheckNos__</td>
 <td >__Status__</td>
 <td style="font-family: 'kruti_dev_010regular';font-size:15px;">__Comment__</td>
</tr>