<tr >
 <td>__slno__</td>
  <td><input type="checkbox" name = cid[] value = "__cid__"></td>
<!--  <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__MadName__</div></td> -->
 <td ><div align='right' style='padding-right:15px;'>__WardNo__</div></td>
 <td style="font-family: 'kruti_dev_010regular';font-size:15px;"><div align='right' style='padding-right:15px;' >__WorkName__</div></td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__MinRate__</div></td>
 
 <td ><div >__amount__</div></td>
 <td style="font-family: 'kruti_dev_010regular';font-size:15px;"><div align='right' style='padding-right:10px;'>__ContractorName__</div></td>
 <!--  <td ><div >__Status__</div></td> -->
 
  <td><div >__Status__</div></td> 
  <td>
   <a href="edit_tender.php?cid=__cid__">Edit</a>/<a href="tender_details.php?cid=__cid__">View</a>
 </td> 
</tr>