<Script language=javascript>
<!--
function checkSignUpDetails()
{	
  with(window.document.addcomplainant)
	{	
    
		if(cname.value=="")
		{	
      alert("Enter Complainant Name");
			cname.focus(); return false;
		}
		if(cnature.value=="")
		{	
      alert("Select Nature of Complaint");
			cnature.focus(); return false;
		}
		if(summary.value=="")
		{	
      alert("Enter Complaint Summary");
			summary.focus(); return false;
		}
		if(officer.value=="")
		{	alert("Selct Officer");
			officer.focus(); return false;
		}
		
		return true;
	}
	
}

function ShowWards(Corporator){
       var myRandom=parseInt(Math.random()*99999999);  // cache buster
       makeRequest("WardId","returncompward.php?Corporator="+Corporator+"&rand="+myRandom); 
}

function Showcorporator(value)
  {
    //if(value=='ik’kZn'){
	   var myRandom=parseInt(Math.random()*99999999);  // cache buster
       makeRequest("corp_id","returncorporator.php?value="+value+"&rand="+myRandom); 
	//}
  
  }


//-->
</Script>

<Script language=javascript>
<!--

 function validatePhoneNumber(elementValue)
 {
  var phoneNumberPattern = /^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/;
  if(phoneNumberPattern.test(elementValue)==false){
  return true;  
 }else{ return false;}
}

function checknumber(str)
{
 
//  var alpha = /^([a-zA-Z0-9_-]+)$/;
 var text = /^([a-zA-Z]+)$/;
   if(text.test(str)==false){
     return false;
   }else{ return true;}
}

 function Showofficer(id)
  {
    var myRandom=parseInt(Math.random()*99999999);  // cache buster
    makeRequest("cid","returnofficer.php?id="+id+"&rand="+myRandom);
  }
 
 function ShowDate(id)
  {
    var myRandom=parseInt(Math.random()*99999999);  // cache buster
    makeRequest("did","returndate.php?id="+id+"&rand="+myRandom);
  }

 
//-->
</Script>
<table width="100%" align="left"> 
  <tr>  
    <td>  
      <form name="addcomplainant" action="add_complainant.php" method="post" onsubmit='return checkSignUpDetails();'>  
        <table align="left" cellspacing="5" cellpadding="5" width="98%" border="0" align="center">    
          
		  <tr>
           <td  colspan="2" align="center" style="color:red;font-weight:bold;">__message__</td>
          </tr>
		  <tr>
           <td width="150"><b>Complaint No <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;r la[;k</span>):</b></td>
           <td> <input type="text" name="compno"></td>
          </tr>
          <tr> 
           <td><b> Complaint Date<br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;r dh frfFk</span>) :</b></td>
           <td> <input type="text" name="cdate" id="demo6"><a href="javascript:NewCal('demo6','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>
          </tr>
          <tr>
		  <td>Complaint Type</td>
		  <td><select name='C_Type'><option value='0'>Complaint</option><option value='1'>Proposal</option></select></td>
		  </tr>
		  <tr>
          <td width="150" valign="top">Complaint Mode:<span style="color:red;">*</span>
          <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;r dk ek?;e</span>)
          </td>
          <td align="left">
           <select name="cmode" style="font-family:Kruti Dev 011;font-size:13px;" onchange="Showcorporator(this.value);">
                <option value="uxj vk;qä eqykdkr"><span style="font-family:Kruti Dev 011;font-size:13px;">uxj vk;qä </span></option>
                <option value="'kklu"><span style="font-family:Kruti Dev 011;font-size:13px;"> 'kklu</span></option>
                <option value="vk;qä >k¡lh e.My"><span style="font-family:Kruti Dev 011;font-size:13px;">vk;qä >k¡lh e.My</span></option>
                <option value="ftykf/kdkjh] >k¡lh"><span style="font-family:Kruti Dev 011;font-size:13px;">ftykf/kdkjh] >k¡lh</span></option>
                <option value="eq[; eU=h"><span style="font-family:Kruti Dev 011;font-size:13px;">eq[; eU=h</span></option>
                
				<option value="lkalnx.k"><span style="font-family:Kruti Dev 011;font-size:13px;">lkalnx.k</span></option>
                <option value="fo/kk;dx.k"><span style="font-family:Kruti Dev 011;font-size:13px;">fo/kk;dx.k</span></option>
               <!--  <option value="e.Myk;qä"><span style="font-family:Kruti Dev 011;font-size:13px;">e.Myk;qä</span></option>
                <option value="dfe”uj"><span style="font-family:Kruti Dev 011;font-size:13px;">dfe”uj</span></option> -->
                <option value="egkikSj"><span style="font-family:Kruti Dev 011;font-size:13px;">egkikSj</span></option>
                <option value="Ikk”kZnx.k"><span style="font-family:Kruti Dev 011;font-size:13px;">Ikk”kZnx.k</span></option>
                <option value="lek/kku dsUn"><span style="font-family:Kruti Dev 011;font-size:13px;">lek/kku dsUn</span></option>
           </select>  
          </td>
          </tr>
		   <tr>
          <td>Corporator :
          </td>
          <td><div id='corp_id'>
              <select  name="CorporatorId" style="font-family:Kruti Dev 011;font-size:13px;">
                <option value="">Select corporator</option>
                  __c_corporator__
                </select>
              </div></td>
         </tr>
        <tr>
          <td>Ward Complain :
          </td>
          <td><div id='WardId'>
              <select  name="WardId">
                <option value="">Select Ward</option>
                  __c_ward__
                </select>
              </div></td>
         </tr>
          
          <tr>    
            <td > Phone:
             <br>(<span style="font-family:Kruti Dev 011;font-size:13px;"> VsyhQksu ua0</span>) 
            </td>    
            <td align="left"><input type="text" name="add_phone"></td>   
          </tr>
          
          <tr>    
            <td  >Complainant  Name:<span style="color:red;">*</span>
             <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;rdrkZ dk uke</span>)
            </td>    
            <td align="left"><input type="text" name="cname" style="font-family:Kruti Dev 011;font-size:15px;"></td>   
          </tr>
          
          <tr>    
            <td  valign="top">Address:
             <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;rdrkZ dk irk</span>)
            </td>    
            <td align="left"> 
              <textarea name="address" rows="3" cols="40" style="font-family:Kruti Dev 011;font-size:20px;"></textarea>
            </td>  
          </tr>
        
          
          <tr>
           <td valign="top">Complaint Summary :<span style="color:red;">*</span>
            <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;r lkjka'k</span>)
           </td>
           <td>
            <textarea name="summary" rows="6" cols="40" style="font-family:Kruti Dev 011;font-size:20px;"></textarea>
           </td>
          </tr>
        
          
        
        <tr>
         <td align="left">Target Date :</td>
         <td align="left"><input type="text" name="tdate" id="demo5"><a href="javascript:NewCal('demo5','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>
        </tr>
         <tr>
           <td>Department:<span style="color:red;">*</span>
            <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">foHkkx</span>)
           </td>
           <td>
              <select  name="department" onchange="Showofficer(this.value);">
                <option value="">Select Department</option>
                  __nature__
                </select>
            </td>
         </tr>
         <tr>
          <td>Officer :<span style="color:red;">*</span>
           <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">vf?kdkjh</span>)
          </td>
          <td><div id='cid'>
              <select  name="c_officer">
                <option value="">Select Officer</option>
                  __c_officer__
                </select>
              </div></td>
         </tr>
          
          
          <tr>    
            <td >Old Complaint no if any :
             <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">iwoZ f'kdk;r la[;k</span>)
            </td>    
            <td align="left"><input type="text" name="oldcno" size="10"></td>   
          </tr>
          <tr>   
           <td></td>   
           <td>
              <input type="submit" name="submit" value="SAVE & SEND" class="button" onclick = "if (! confirm('Are you sure want to add complaint. if you want to edit complain details click on cancel button.')) return false;">
          </td>   
          </tr>  
        </table>  
      </form>
    </td> 
  </tr>
</table>