<Script language=javascript>
<!--
function checkSignUpDetails()
{	
  with(window.document.editcomplainant)
	{	
   if(ddate.value=="")
		{	
      alert("Enter Disposal Date.");
			ddate.focus(); return false;
		}
		if(officer.value=="")
		{	alert("Selct Supervisory Officer");
			officer.focus(); return false;
		}
		return true;
	}
	
}
//-->
</Script>

<table width="100%" align="left"> 
  <tr>  
    <td height="30">  
      <table border="0" cellspacing="0" cellpadding="0" width="96%" align="left">  	
        <tr>  		
          <td height="30" valign="middle"><b>Disposed Complainant Record</b></td>  	
        </tr>  
      </table>  </td>  
    </tr>  
    <tr><td>  
      <form name="editcomplainant" action="disposal.php" method="post" onsubmit='return checkSignUpDetails();'>  
        <table align="left" cellspacing="5" cellpadding="5" width="98%" border="0" align="center">       
          <tr>
          <td width="180" valign="top">Complaint No 
          <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;r la[;k</span>)&nbsp;&nbsp; : __cid__</td>
          <td align="left">
          <!--<a href="javascript:NewCal('demo1','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>-->
          Complaint Date
          <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;r dh frfFk</span>): &nbsp;&nbsp; __cdate__
          </td>
          </tr>
          <tr>
          <td width="180" valign="top">Complaint Mode 
          <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;r dk ek?;e</span>): </td>
          <td align="left"> __cmode__
           <!--&nbsp;&nbsp;<select name="cmode">
           <option value="Newspaper" __scmode1__>Newspaper</option>
           <option value="Fax" __scmode2__>Fax</option>
           <option value="Television" __scmode3__>Television</option>
           <option value="Phone" __scmode4__>Phone</option>
           <option value="Other" __scmode5__>Other</option>
          </select> -->
          </td>
          </tr>
          __cmodetype__
          __add_phone1__
          <tr>    
            <td width="180" >Complainant  Name
             <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;rdrkZ dk uke</span>) :</td>    
            <td align="left"><input type="text" name="cname" value="__cname__" style="font-family:Kruti Dev 011;font-size:15px;" readonly></td>   
          </tr>
          <tr>    
            <td width="110" valign="top">Address
            <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;rdrkZ dk irk</span>):</td>    
            <td align="left"><textarea name="address"  rows="3" cols="45" style="font-family:Kruti Dev 011;font-size:20px;" readonly>__address__</textarea>   
          </tr> 
          <!--<tr>    
            <td width="110" >City :</td>    
            <td align="left"><input type="text" name="city" value="__city__" readonly></td>   
          </tr>-->
          <tr>
           <td valign="top">Complaint Summary 
           <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;r lkjka'k</span>):</td>
           <td>
            <textarea name="summary" rows="5" cols="45" style="font-family:Kruti Dev 011;font-size:20px;" readonly>__summary__</textarea>
           </td>
          </tr>
          <tr>
           <td valign="top">Department 
           <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">foHkkx</span>):</td>
           <td>
            __nature__
           </td>
          </tr>
          <tr><td>
          Complaint Category 
          <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">f'kdk;r dh Js.kh</span>):</td> 
          <td><!--<select name="category">
           <option value="A" __select1__>A</option>
           <option value="B" __select2__>B</option>
           <option value="C" __select3__>C</option>
           <option value="D" __select4__>C</option>
           <option value="T" __select5__>C</option>
          </select> -->__category__
         <!--<input id="demo3" name="tdate"  value="__tdate__" type="text" size="10"><a href="javascript:NewCal('demo3','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>-->
        </td>
        </tr>
        <tr>
         <td>Target Date 
         <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">visf{kr fuLrkj.k frfFk</span>):</td>
         <td>__tdate__</td>
        </tr>
          <tr>
          <td>Officer :
          <br>(<span style="font-family:Kruti Dev 011;font-size:13px;">vf?kdkjh</span>)
          </td>
          <td>
              
            __concern_officer__
                
          </td>
         </tr>
          
          
          <tr>    
            <td width="110" >Disposal Date :</td>    
            <td align="left"><input id="demo4" name="ddate" type="text" size="10"><a href="javascript:NewCal('demo4','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>   
          </tr>
          <tr>
           <td valign="top">Disposal Text :</td>
           <td>
            <textarea name="disposaltext" rows="5" cols="45" style="font-family:Kruti Dev 011;font-size:20px;"></textarea>
           </td>
          </tr>
          <tr>   
            <td>
             <input type="hidden" name="cid" value="__cid__">
             <input type="hidden" name="officer1" value="__officer1__">
             <input type="hidden" name="c_officer1" value="__c_officer1__">
             <input type="hidden" name="contact" value="__contact1__">
             <input type="hidden" name="cdate" value="__cdate__">
             <input type="hidden" name="cmode" value="__cmode__">
             <input type="hidden" name="category" value="__category__">
             <input type="hidden" name="cname" value="__cname__">
             <input type="hidden" name="nature" value="__nature__">
             <input type="hidden" name="summary" value="__summary__">
             <input type="hidden" name="cmodetype" value="__cmodetype__">
             <input type="hidden" name="tdate" value="__tdate__">
             <input type="hidden" name="add_phone" value="__add_phone__">
           </td>  
           <td>
              <input type="submit" name="submit" value="Disposed" class="button">
          </td>   
          </tr>  
        </table>  
      </form> </td> 
  </tr>
</table>