
<table width="100%" align="left"> 
  <tr>  
    <td height="30">  
      <table border="0" cellspacing="0" cellpadding="0" width="96%" align="left">  	
        <tr>  		
          <td height="30" valign="middle"><b>Edit Ward Recourds
              </b</td>  	
        </tr>  
      </table>  </td>  
  </tr>  
  <tr>  <td>  
      <form name="editward" action="edit_ward.php" method="post" onsubmit='return checkSignUpDetails();'>  
        <table align="left" cellspacing="5" cellpadding="5" width="98%" border="0" align="center">       
          <tr>    
            <td width="110" >Ward No:</td>    
            <td align="left">
              <input type="text" name="wardno" value="__wardno__"size="30"></td>   
          </tr> 
            
          
         
         
           
               
          <tr>   
            <td><input type="hidden" name="wid" value="__wid__"></td>  
           <td>
              <input type="submit" name="submit" value="submit" class="button">
          </td>   
          </tr>  
        </table>  
      </form> </td> 
  </tr>
</table>