<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NAGAR NIGAM JHANSI</title>
</head>
 
<body>
<table width="650" cellsapcing="0" cellpadding="0" align="center" border="1">
  <tr>
  <td>
   <table border="0" width="100%" align="center" bgcolor="#4b0100">
 <tr>
  <td align="left"><img src="../img/logo.jpg" / width="210"></td>
  <td align="center"  	 height="45" valign="top">
  <span style="font-size:20px;text-decoration:none;color:#FFFF00"><b>Welcome to Jhansi Nagar Nigam</b></span>
  <br>
  <span style="font-size:15px;text-decoration:none;color:#FFFF00"><b>104 MG Road , Lucknow (U.P.)</b></span>
  <br>
  <span style="font-size:12px;text-decoration:none;color:#FFFF00"><b>Toll Free No 1800-180-5333, Landline Phone No. 0522-2236803 </b></span>
  </td>
 </tr>
</table>
  </td>
 </tr>
  <tr>
   <td  colspan="2" height="30" valign="middle">
    Total Complaint Records __search_text__ __sdate_text__ __edate_text__ __category_text__ 
   </td>
  </tr>
  <tr>
   <td colspan="2">
    __NEWS_LIST__
   </td>
  </tr>
  <tr>
   <td colspan="2" align="center" height="40" valign="bottom">
    <input type="button" name="print" value="Print" onclick="window.print();">&nbsp;&nbsp;
    <input type="button" name="cancel" value="Cancel" onclick="window.close();">
   </td>
  </tr>
</table>
</body>
</html>
