<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>NAGAR NIGAM JHANSI</title>
</head>
<body>
<table width="730" cellsapcing="4" cellpadding="4" align="center" border="0">
  <tr>  
    <td><img src="../../images/logo.png" width="120" height="100"></td>
    <td align="left" valign="middle"><span style="font-family:Kruti Dev 011;font-size:25px;">tuizfrfuf/k@‘kklu lUnHkZ</span></td>
  </tr>
  <tr>
   <td></td>
  </tr>
 <tr >    
    <td width="200" >Complainant No:</td>    
    <td align="left">__cid__</td>
  </tr> 
  <tr>    
    <td >Complainant Name:</td>    
    <td align="left" style="font-family:Kruti Dev 011;font-size:15px;">__cname__ </td>
  </tr>   
  <tr >    
    <td >Address:</td>    
    <td align="left" style="font-family:Kruti Dev 011;font-size:15px;">__caddress__</td>
  </tr>  
   __cmodetype__    
   __add_phone1__
  <tr>    
    <td >Details :</td>    
    <td align="left" style="font-family:Kruti Dev 011;font-size:15px;">__cdetail__</td>
  </tr> 
  <tr>
    <td  >Officer:</td>  
    <td align="left">__conofficer__</td> 
  </tr>
   <tr>
    <td  >Complaint Date :</td>  
    <td align="left">__cdate__ &nbsp;&nbsp;__ctime__</td>
  </tr>
   <tr>
    <td >Complaint Category:</td>  
    <td align="left">__ccategory__</td> 
  </tr>
  <tr>
    <td >Target Date:</td>  
    <td align="left">__tdate__</td> 
  </tr>
  <tr>
    <td  >Complaint Mode:</td>  
    <td align="left">__cmode__</td> 
  </tr>
  __disposal_text__
</table>
</body>
</html>