    <div id="logoarea">
      <div id="logoarealeft">
        <div id="logo"><a href="index.html"><img src="images/logo.png" width="126" height="126" /></a></div>
        <div id="like"><img src="images/logoname.png" width="288" height="25" />
          <div id="subname">Welcome to Nagar Nigam Official website</div>
        </div>
      </div>
      
    </div>
    <div id="navigation">
      <ul>
        <li><a href="index.php">Home</a></li>
        <li><a href="#">Reports</a>
        	<ul>
            	<li><a href="je_wise_report.php">J.E. Wise</a></li>
                <li><a href="ae_wise_report.php">A.E. Wise</a></li>
                <li><a href="exn_wise_report.php">ExEn Wise</a></li>
                <li><a href="ward_wise_report.php">Ward Wise</a></li>
                <li><a href="contractor_wise_report.php">Contractor Wise</a></li>
				<li><a href="mad_wise_report.php">Mad Wise</a></li>
				<li><a href="proposedwork_report.php">Proposed Works</a></li>
            </ul>
        </li>
        <li><a href="ward_wise_civilwork.php">Civil work Photographs Reports</a> </li>
        <li><a href="login.php">Login</a></li>
      </ul>
    </div>
    