<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td align="center">
             <table width="100%" cellsapcing="0" cellpadding="0" align="center" border="0">
              <tr>
               <td align="right" valign="middle" width="180"><img src="../images/clip_image002.gif" width="130" height="90"></td>
               <td style='font-family:Kruti Dev 011;font-size:45px;' align="center" valign="middle">dk;kZy; tu lwpuk foHkkx] uxj fuxe >k¡lh</td>
              </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" class="pad"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top" class="menu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><a href="automation.php"><span style='font-family:Kruti Dev 011;font-size:18px;'>jftLVªs’ku QkeZ</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="complete_form.php"><span style='font-family:Kruti Dev 011;font-size:18px;'>fuLrkfjr lwph</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="add_answer.php"><span style='font-family:Kruti Dev 011;font-size:18px;'>foHkkxh; mRrj</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="letters15.php"><span style='font-family:Kruti Dev 011;font-size:18px;'>15 fnol Lej.k i=</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="letters30.php"><span style='font-family:Kruti Dev 011;font-size:18px;'>25 fnol Lej.k i=</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="reports.php"><span style='font-family:Kruti Dev 011;font-size:18px;'>foHkkxh; fjiksVZ</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="page.php"><span style='font-family:Kruti Dev 011;font-size:18px;'>foHkkxh; lwph</span></a></td>
                  </tr>
                  
                  <tr>
                    <td><a href="changepword.php"><span style='font-family:Kruti Dev 011;font-size:18px;'>ikl oMZ cnysa</span></a></td>
                  </tr>
                  <tr>
                    <td><a href="logout.php"><span style='font-family:Kruti Dev 011;font-size:18px;'>ckgj fudysa</span></a></td>
                  </tr>
                </table></td>