<Script language=javascript>
<!--
function checkSignUpDetails()
{
if (isNaN(window.document.add_stocks.ChequeNo.value)) {
                alert('Please enter Cheque No. in Numeric digits.');
				return false;
            }
	
	
}


function ShowItems(ItemTypeRef){
       var ItemType=ItemTypeRef.value;
	   var rowIndex= ItemTypeRef.parentNode.parentNode.rowIndex ;
	   var divname='ItemId['+rowIndex+']';
       var myRandom=parseInt(Math.random()*99999999);  // cache buster
	   //alert("returnitems.pItemType="+ItemType+"&rand="+myRandom);
       makeRequest(divname,"returnitems.php?ItemType="+ItemType+"&rand="+myRandom); 
}

function addRow(tableID) {
 
			var table = document.getElementById(tableID);
 
			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);
 
			var colCount = table.rows[0].cells.length;
 
			for(var i=0; i<colCount; i++) {
 
				var newcell	= row.insertCell(i);
 
				newcell.innerHTML = table.rows[0].cells[i].innerHTML;
				//if(i==1)
				//console.log(newcell.innerHTML);
				//alert(newcell.childNodes);
				switch(newcell.childNodes[0].type) {
					case "text":
						newcell.childNodes[0].value = "";
							break;
					case "checkbox":
							newcell.childNodes[0].checked = false;
							break;
					case "select-one":
							newcell.childNodes[0].selectedIndex = 0;
							if(i==1){
								newcell.childNodes[0].id='ItemId['+rowCount+']';
							}
							break;
				}
			}
}
</Script>
<table width="100%" align="left"> 
      <tr><td> 
         <form name="add_stocks" action="add_stocks.php" method="post" onsubmit='return checkSignUpDetails();' enctype="multipart/form-data"> 
         <table align="left" cellspacing="4" cellpadding="4" width="100%" border="0" align="center"> 
		  <tr>    
            <td  width="220" style="font-family: 'kruti_dev_010regular';font-size:20px;">[kjhn fnukad</td>    
            <td align="left">
              <input type="text" name="PurchasingDate" size="15" id="demo1"><a href="javascript:NewCal('demo1','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>   
          </tr>
		  <tr>    
            <td  width="220" ><span style="font-family: 'kruti_dev_010regular';font-size:20px;">QeZ dk uke</span> :</td>    
            <td align="left"><input type="text" name="FirmName" style="font-family: 'kruti_dev_010regular';font-size:15px;" size="50" ></td> 
              
          </tr>
		  <tr>    
            <td  width="220" ><span style="font-family: 'kruti_dev_010regular';font-size:20px;">buokWbt la[;k</span> :</td>    
            <td align="left"><input type="text" name="InvoiceNo" size="25" ></td> 
              
          </tr>
		  
		  <tr>    
            <td  width="220" ><span style="font-family: 'kruti_dev_010regular';font-size:20px;">pSd la[;k</span> :</td>    
            <td align="left"><input type="text" name="ChequeNo" size="25" ></td>   
              
          </tr>
		   <tr><td colspan='2'>
		 
		 <table width="100%" border="0" cellspacing="2" cellpadding="0" >
						   <tr><td width="20%"  style="font-family: 'kruti_dev_010regular';font-size:20px;">lkexzh dk izdkj</td><td width="40%" align='center' style="font-family: 'kruti_dev_010regular';font-size:20px;">lkexzh dk uke</td><td width="20%" style="font-family: 'kruti_dev_010regular';font-size:20px;">lkexzh ek=k</td><td width="20%" style="font-family: 'kruti_dev_010regular';font-size:20px;">ewY; izfr lkexzh</td>
						   </tr>
						    <tr><td colspan="5">
								<table width="100%" border="0" cellspacing="2" cellpadding="0" id="dataTable">
								<tr><td width="30%" align='left'>__category__</td>
								<td width="30%" align='left'>__edit_items__</td>
								<td width="20%" align='left'> <input name="Qty[]" type="text" class="inp"  size="7"></td><td width="20%" align='left'><input name="Price[]" type="text" class="inp"  size="7"></td></tr>
								</table>
						   </tr></td>
						   </table>
		<div><input type="button" name="addmore" value="ADD MORE ITEMS" onclick="addRow('dataTable')"></div>
		 </td></tr>

		  
		  <tr>   
           <td></td>   
           <td>
              <input type="submit" name="submit" value="submit" class="button">
           </td>   
          </tr>  
        </table>  
      </form> 
    </td></tr>
  </table>