<tr>
 <td>__slno__</td>
 <td><input type="checkbox" name = cid[] value = "__cid__"></td>
 <td style="font-family: 'kruti_dev_010regular';font-size:15px;" nowrap>__strItemName__</td>
 <td align='right' style='padding-right:20px;'>__strQty__</td>
 <td align='right' style='padding-right:20px;'>__strPrice__</td>
 <td align='right' style='padding-right:20px;'>Rs.__STotal__</td>
 <td>__PurchasingDate__</td>
 <td>__InvoiceNo__</td>
 <td>__ChequeNo__</td>

 <td>
   <a href="edit_stocks.php?cid=__cid__">Edit</a>
 </td>
</tr>