<div id="footer">
<ul>
<li><a href="index.php">home</a></li>
					<li><a href="tenders.php">tender</a></li>
					<li><a href="taxes.php">tax</a></li>
					<li><a href="notices.php">notices</a></li>
					<li><a href="gallery.php">photo gallery</a></li>
					<li><a href="downloads.php">form download's</a></li>
					<li><a href="aboutus.php">about us</a></li>
					<li><a href="contactus.php">contact us</a></li>
          <li class="child"><a href="smart_city.php">smart city</a></li>
          <li class="child"><a href="http://www.jnnjhansi.com/soumoto.php" target='_new'>Nagar Nigam Help</a></li>
</ul>
<span>All rights reserved 2013 &copy; Nagar Nigam Jhansi U.P. India.</span>
</div>