	<div id="mailmiddilright">
		<div id="iconthree">
			<div id="icononeimg"><img src="images/icon-three.png" width="16" height="16" style="margin:7px 0 0 5px" /></div>
			<div id="icontextthree">Important Menu's</div>	
		</div>
		<ul>
			<li><a href="#">Citizen Charter</a></li>
			<li><a href="#">Stastistic</a></li>
			<li><a href="#">Administration</a></li>
			<li><a href="#">History Jhansi City</a></li>
			<li><a href="#">Nagar Vikas Vibhag,U.P</a></li>
			<li><a href="#">Department</a></li>
			<li><a href="#">Achievement</a></li>
			<li><a href="#">Suchna Adhikar</a></li>
			<li><a href="#">Download's</a></li>
			<li><a href="#">Photo Gallery</a></li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Property Tax</a></li>
			<li><a href="#">Apply Death and Birth Certificate</a></li>
			<li><a href="#">Search Jan suchna Prakosth</a></li>
		</ul>

		<div id="navbox">Downloads</div>
		<div id="nav2">
			<ul>
			<li><a href="#">dfdf</a></li>
			<li><a href="#">dfdf</a></li>
			<li><a href="#">dfdf</a></li>	
			</ul>
		</div>
	</div>