+	<div id="mailmiddilright">
	<div id="iconthree"><div id="icononeimg"><img src="images/icon-three.png" width="16" height="16" style="margin:7px 0 0 5px" /></div><div id="icontextthree">Important Menu's</div>	</div>
	<ul>
		<li><a href="citizen_charter.php">Citizen Charter</a></li>
                  <li><a href="docs/Sou-motu disclosure under RTI Act.pdf" target="_new">Sou-motu disclosure under RTI Act</a></li>
                    <li><a href="docs/calander.pdf" target="_new">List of Holidays & Calendar-2019</a></li>
                    <li><a href="stastistics.php">Stastistic</a></li>
                    
                    <li><a href="administration.php">Administration</a></li>
                    <li><a href="jhansi_history.php">History Jhansi City</a></li>
                    <li><a href="nagar_vikash.php">Nagar Vikas Vibhag,U.P</a></li>
                    <!--<li><a href="accessibility.php">Accessibility</a></li>
                    <li><a href="complaints.php">Complaint's</a></li>-->
                    <li><a href="departments.php">Department</a></li>
                    <!--<li><a href="achievements.php">Achievement</a></li>
                    <!--<li><a href="docs/menual_of_suchna_adhikar.doc" >Suchna Adhikar</a></li>
                    <!--<li><a href="feedback.php">Feedback</a></li>-->
                    <li><a href="downloads.php">Form Download's</a></li>
                    <li><a href="house_resolution.php">Nagar Nigam House Resolutions</a></li>
                    <li><a href="gallery.php">Photo Gallery</a></li>
                    <!-- <li><a href="links.php">Links</a></li>
                    <li><a href="http://www.jhansipropertytax.com/" target="_blank">Property Tax</a></li>
                    <li><a href="http://www.jhansibirthanddeath.com/" target="_blank">Apply Death and Birth Certificate</a></li> -->
                    <li><a href="search_janprakost.php">Search Jan suchna Prakosth</a></li>
                    <li><a href="search_jnndiwas.php">Search Nagar Nigam Diwas</a></li>
                    <li><a href="search_jnnhpc.php">Search Jan Pratinidhi/Shasan Sandarbh Complaints</a></li>
                    <li><a href="/janprakost/admin/">Login Jan suchna Prakosth</a></li>
                    <li ><a href="/jansuchna/login.php">Login Jan Suchna Adhikar</a></li>
                    <li ><a href="/jnndiwas/admin/index.php">Login Nagar Nigam Diwas</a></li>
                    <li ><a href="/jnnhpc/admin/index.php">Login Jan Pratinidhi/Shasan Sandarbh</a></li>
                    <li ><a href="/jnnsamadhan/admin/index.php">Login Samadhan kendra</a></li>
					<li><a href="http://gpscropsoft.com/vehicles/vehicle_live" target='_new'>vehicle status</a></li>
					<li><a href="http://gpscropsoft.com/vehicles/vehicle_map" target='_new'>vehicle Monitoring on Map</a></li>
					<li><a href="http://gpscropsoft.com/vehicles/vehicle_curr_route_live" target='_new'>vehicle Routes</a></li>

	</ul>

	<div id="navbox"><a href='http://webmail.jnnjhansi.com' target='_new' style='text-decoration:none;color:#FFFFFF;'>Webmail Login</a></div>
	<div id="nav2">
	<!-- <ul>
	<li><a href="#">dfdf</a></li>
	<li><a href="#">dfdf</a></li>
	<li><a href="#">dfdf</a></li>	

	</ul> -->
	</div>

	</div>