<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					Smart City</h2>
					<p>&nbsp;</p>
          <form action="" method="post" name="smart_city" >
					<table width="100%" border="0" cellspacing="10" cellpadding="10" align="center">
            <tr> 
							  <td align="left">1.<span style='font-family:Kruti Dev 011;font-size:20px;'>	LekVZ flVh ls vkidk D;k vk"k; gS\</span></td>
						</tr>
            <tr> 
							  <td align="left"><textarea name="answer1" rows="2" cols="400"></textarea></td>
						</tr>
            <tr> 
							  <td align="left">2.<span style='font-family:Kruti Dev 011;font-size:20px;'>	>k¡lh "kgj dks LEkkVZ flVh ds :Ik esa fdl Hkkafr ns[kuk pkgrs gS\</span></td>
						</tr>
            <tr> 
							  <td align="left">3.<span style='font-family:Kruti Dev 011;font-size:20px;'>	vkidh utj esa >k¡lh "kgj dh izFke ekax D;k&D;k gS\</span></td>
						</tr>
            <tr> 
							  <td align="left">4.<span style='font-family:Kruti Dev 011;font-size:20px;'>	vkidh utj esa >k¡lh "kgj dh vkSj D;k&D;k vko";drk,a gS] izkFkfedrk ds Øe esa n"kkZ;sa \</span></td>
						</tr>
            <tr> 
							  <td align="left">5.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vki LekVZ flVh gsrq LekVZ cuus dks rS;kj gS\</span></td>
						</tr>
            <tr> 
							  <td align="left">6.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vki LEkkVZ flVh gsrq viuk gj izdkj dk ;ksxnku fn;s tkus gsrq rS;kj gS\</span></td>
						</tr>
            <tr> 
							  <td align="left">7.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vki fodkl ds Lrj] ifjorZu vkSj lq/kkj ds bPNqd gS\ ;fn gkW rks fdl izdkj\</span></td>
						</tr>
            <tr> 
							  <td align="left">8.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vki vius uxj fuokfl;ksa dks csgrj thou Lrj iznku djus ds bPNqd gS\</span></td>
						</tr>
            <tr> 
							  <td align="left">9.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vki LoPN ,oa lqfLFkj okrkoj.k iznku djus ds bPNqd gS\</span></td>
						</tr>
            <tr> 
							  <td align="left">10.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vki 500 ,dM+ Hkwfe U;wure vkoklh; vkcknh dks fjVªksfQfVax LEkkVZ flVh ds :Ik esa fodflr djus ds bPNqd gS\</span></td>
						</tr>
            <tr> 
							  <td align="left">11.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vki 50 ,dM+ U;wure ds VqdMs+ ?kus cktkj dks Hkwfe dh O;oLFkk dj LekVZ flVh ds :Ik esa fodflr djus ds bPNqd gS\</span></td>
						</tr>
            <tr> 
							  <td align="left">12.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vkids eqgYys@okMZ esa dksbZ ,slk 50 ,dM+ U;wure {ks= esa dksbZ iqjkus cktkj@ekdsZV dks iquZfuekZ.k djus ds bPNqd gSA</span></td>
						</tr>
            <tr> 
							  <td align="left">13.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vki uxj dks gjkHkjk cukus esa bPNqd gSA ;fn gkW rks vkidks 250 ,dM+ U;wure {ks= esa dksbZ ,slk LFkku gS\</span></td>
						</tr>
            <tr> 
							  <td align="left">14.<span style='font-family:Kruti Dev 011;font-size:20px;'>	D;k vki iSu flVh ds ek/;e ls dksbZ ,d lqfo/kk ftlls lEiw.kZ uxjoklh ykHkkfUor gksa mnkgj.k ds fy;s "kgj dh ifjogu O;oLFkk ;k vki }kjk dksbZ lq>koA</span></td>
						</tr>
            <tr> 
							  <td align="left"></td>
						</tr>
					</table>
          </form>
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>