<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<title>Jhansi Nagar Nigam</title>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/slide.css" rel="stylesheet" type="text/css" />



<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    jQuery(window).load(function() {
        jQuery('#slider').nivoSlider({
			animSpeed:1000,
			effect: 'random',
			prevText: '', // Prev directionNav text
        	nextText: '' // Next directionNav text			
		});
    });
    </script>
    <link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/default/default.css" type="text/css" media="screen" />
</head>

<body>
<div id="container">
<div id="wrapper">
__TOPBAR__

<div id="main">
<div id="mailleft">
	<div id="iconone"><div id="icononeimg"><img src="images/icon-one.png" width="27" height="27" /></div><div id="icontext"> Notice Board</div>	</div>
	<marquee direction='up' height='600' scrolldelay="150" behavior="scroll"  onmouseover="this.stop();" onmouseout="this.start();">
	__Work_view__
	</marquee>

	<div id="navbox">Photo Gallery <span><a href="gallery.php">View All</a></span></div>

	<div id="pic"><img src="images/5.jpg" width="283" height="171" /></div>

	</div>

<div id="mailmiddiltop">
	<div id="boxone">
	<div id="boxmi">__Mayer_Image__</div>
	<div id="boxte">Mayor <span> __Mayer_Name__ </span></div>

	</div>
	<div id="boxtwo">
	<div id="boxmi">__Commissioner_Image__</div>
	<div id="boxte">Municipal Commissioner<span>__Comm_Name__</span></div>
	</div>


<div id="mailmiddilsecond">
	<div id="mailmiddilleft">
	<div id="icontwo"><div id="icononeimg"><img src="images/icon-two.png" width="20" height="25" style="margin:3px 0 0 5px" /></div><div id="icontexttwo">Latest Tenders</div>	</div>
	<img src="images/mark.png" width="25" height="22" style="margin:5px 0 5px 0" />
	<marquee direction='up' style="text-transform: uppercase"  scrollamount="6" height='290' scrolldelay="150" truespeed behavior="scroll"  onmouseover="this.stop();" onmouseout="this.start();">
	<ul>
	  __tender_view__
	</ul>
	</marquee>
    
    <div class="google_map" style="border-top: 6px #fff solid;">
    <h1 style="background: #000; color: #fff; margin: 0; font-size: 15px; padding: 6px 12px;font-weight: normal;">Map</h1>
    	<iframe width="360" height="365" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=jhansi+nagar+nigam&amp;aq=&amp;sll=25.444121,78.567604&amp;sspn=0.168342,0.338173&amp;g=jhansi&amp;ie=UTF8&amp;hq=nagar+nigam&amp;hnear=Jhansi,+Uttar+Pradesh&amp;t=m&amp;cid=13682369725505538264&amp;ll=25.46141,78.572073&amp;spn=0.027123,0.030899&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=jhansi+nagar+nigam&amp;aq=&amp;sll=25.444121,78.567604&amp;sspn=0.168342,0.338173&amp;g=jhansi&amp;ie=UTF8&amp;hq=nagar+nigam&amp;hnear=Jhansi,+Uttar+Pradesh&amp;t=m&amp;cid=13682369725505538264&amp;ll=25.46141,78.572073&amp;spn=0.027123,0.030899&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
    
	</div>

__RIGHTBAR__

</div>
</div>
</div>


__BOTTOMBAR__


</div>
</div>
</body>
</html>



