<Script language=javascript>
<!--
function checkSignUpDetails()
{	
  with(window.document.firm)
	{	
   if(nname.value=="")
		{	alert("Enter Firm Name");
			nname.focus(); return false;
		}
		return true;
	}
	
}

//-->
</Script>
<table width="100%" align="left"> 
  <tr>  
    <td height="30">  
      <table border="0" cellspacing="0" cellpadding="0" width="96%" align="left">  	
        <tr>  		
          <td height="30" valign="middle"><b>Add Firm</b</td>  	
        </tr>  
      </table>  
    </td>  
  </tr>  
  <tr>  <td>  
  <form name="firm" action="add_firm.php" method="post" onsubmit='return checkSignUpDetails();'>  
        <table align="left" cellspacing="5" cellpadding="5" width="98%" border="0" align="center">       
          <tr>    
            <td width="130" ><span style="font-family: 'kruti_dev_010regular';font-size:20px;">QeZ dk uke</span>:</td>    
            <td align="left"><input type="text" name="nname" size="60"></td>   
          </tr>     
          <tr>   
           <td></td>   
           <td>
            <input type="submit" name="submit" value="ADD" class="button">
          </td>   
          </tr>  
        </table>  
      </form> </td> 
  </tr>
</table>