<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" valign="top" class="text">Welcome to Nagar Nigam Jhansi Control Panel</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="52%" align="center"><img src="../images/jhansi.jpg" width="305" height="227" /></td>
          <td width="48%"><img src="../images/jhansi_fort.jpg" width="305" height="227" /></td>
        </tr>
      </table>
     </td>
    </tr>
  </table>