<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					Swachh Bharat Mission</h2>
					<br>
					<a href="http://www.swachhbharaturban.in/sbm/home/#/SBM" target="_blank">Swachh Bharat Abhiyan</a>
					<br>
					<a href="http://swachhbharaturban.gov.in/ihhl/" target="_blank">Apply for IHHL</a>
					<br>
					<a href="https://swachhbharat.mygov.in/user/3010884" target="_blank">Swachh Bharat Activity</a>
					<br>

					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>