<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					Administration</h2>
					<p>&nbsp;</p>
					<table width="100%" border="1" cellspacing="0" cellpadding="0" align="left">
						<tr> 
							  <td align="center" width="25%"><strong>Name</strong></td>
							  <td align="center" width="25%"><strong>Designation</strong></td>
							  <td align="center" width="25%"><strong>Email</strong></td>
							  <td align="center" width="10%"><strong>Office No</strong></td>
							  <td align="center" width="15%"><strong>Res. No</strong></td>
						</tr>
						__PRODUCT_LIST__
						
					</table>
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>