<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					Amrut Reforms 2017-18</h2>
					
					<table width="680px" border="1" cellspacing="1" cellpadding="5"><tr><td colspan='5' align='center'><b>AMRUT Reform Scoring Milestones for F.Y. 2018-19 (with backlog of F.Y. 2017-18)</b></td><tr>
					<tr><td colspan='5'>&nbsp;</td></tr>

					<tr><td>&nbsp;</td><td><b>REFORMS</b></td><td><b>TIMELINE</b></td><td><b>CURRENT STATUS</b></td><td><b>ANNEXURE</b></td></tr>
					
					<tr><td colspan='5'><b>1- E Governance</b></td></tr>
					<tr><td >1 </td><td colspan='5'><b>Personnel Staff Management (ULB Level)</b></td></tr>
					<tr>
						  <td>&nbsp;</td>
						  <td>Online Notification of Recruitment Rules for all municipal cadres</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Rules are available on <a href='http://localbodies.up.nic.in/rules.html' target='_new'>http://localbodies.up.nic.in/rules.html</a></td>
					  <td><a href='http://jnnjhansi.com/docs/ANNEX-1.jpg' target='_new'>ANNEX-1</a></td>
					  </tr>

					  <tr>
						  <td>&nbsp;</td>
						  <td>Online Up-to-date Service records/staff Details and seniority lists of last two years ; 2015-16 and 2016-17</td>
						  <td>&nbsp;</td>
						  <td>Same is available on <a href='http://e-nagarsewaup.gov.in/mpr/masik_nikaye_samiksha/' target='_new'>http://e-nagarsewaup.gov.in/mpr/masik_nikaye_samiksha/login_Page.jsp</a></td>
					  <td><a href='http://jnnjhansi.com/docs/ANNEX-2.jpg' target='_new'>ANNEX-2</a><BR><a href='http://jnnjhansi.com/docs/ANNEX-3.jpg' target='_new'>ANNEX-3</a></td>
					  </tr>
					<tr>
						  <td>&nbsp;</td>
						  <td>Online Bio-metric attendance system</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Same has been implemented via biometric attendance machine and software to capture the attendance.
</td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-4.pdf' target='_new'>ANNEX-4</a></td>
					  </tr>

					  <tr>
						  <td>&nbsp;</td>
						  <td>Online payment of salaries & wages</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Salaries and wages are being paid online via Union Bank of India A/C No 346102011000101.</td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-5.pdf' target='_new'>ANNEX-5</a></td>
					  </tr>

					  <tr>
						  <td>&nbsp;</td>
						  <td>Online Employees Grievance Redressal system</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Link for http://jansunwai.up.nic.in/ has been provided in JNN website <a href='http://jnnjhansi.com' target='_new'>http://jnnjhansi.com </td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-6.jpg' target='_new'>ANNEX-6</a></td>
					  </tr>

					  <tr>
						  <td>&nbsp;</td>
						  <td>Sou-motu disclosure under RTI Act on website</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Same is available on JNN website <a href='http://jnnjhansi.com' target='_new'>http://jnnjhansi.com</td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-7.jpg' target='_new'>ANNEX-7</a></td>
					  </tr>
					  
					  <tr><td >2 </td><td colspan='5'><b>Project Management (ULB Level)</b></td></tr>
					<tr>
						  <td>&nbsp;</td>
						  <td>Online PMIS: Financial Progress</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Financial progress has been updated on <a href='http://e-nagarsewaup.gov.in/pmsuat/pms' target='_new'>http://e-nagarsewaup.gov.in/pmsuat/pms</a> </td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-8.pdf' target='_new'>ANNEX-8</a></td>
					  </tr>

					  <tr>
						  <td>&nbsp;</td>
						  <td>Online PMIS: Physical Progress</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Physical progress has been updated on <a href='' target='_new'>http://e-nagarsewaup.gov.in/pmsuat/pms</a></td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-8.pdf' target='_new'>ANNEX-8</a></td>
					  </tr>


					  <tr>
						  <td>&nbsp;</td>
						  <td>Online issue of NIT and Providing tender documents online</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Tenders were issues via UP e-Tender portal <a href='https://etender.up.nic.in' target='_new'>https://etender.up.nic.in</a></td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-9.pdf' target='_new'>ANNEX-9</a></td>
					  </tr>


					  <tr>
						  <td>&nbsp;</td>
						  <td>Online submission of tender including online payment of EMD</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Payment of EMD was taken via online payment mode only</td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-9.pdf' target='_new'>ANNEX-9</a></td>
					  </tr>


					  


					  <tr>
						  <td>&nbsp;</td>
						  <td>Online payments to consultants/contractor/vendors</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>
	Payments to consultants/contractor/vendors were made via online payment mode only</td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-10.pdf' target='_new'>ANNEX-10</a><BR><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-11.pdf' target='_new'>ANNEX-11</a></td>

					  <tr>
						  <td>&nbsp;</td>
						  <td>Geo-tagging of assets created</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b></td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-12.pdf' target='_new'>ANNEX-12</a></td>
					  </tr>
					<tr><td colspan='5'><b>2- Municipal Cadre</b></td></tr>
					<tr>
						  <td>1</td>
						  <td>Policy for right-sizing the number of Municipal functionaries by states</td>
						  <td>&nbsp;</td>
						  <td>STATE  LEVEL</td>
					  <td>&nbsp;</td>
					  </tr>
                      <tr><td colspan='5'><b>3- Double Entry Accounting System (DEAS) (ULB Level)</b></td></tr>
					<tr>
						  <td>1</td>
						  <td>Implementation of Accrual based Double Entry Accounting System.</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>Software "Account Master NN" is being used as Double Entry Accounting System</td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-13.pdf' target='_new'>ANNEX-13</a></td>
					  </tr>
					  <tr>
						  <td>2</td>
						  <td>Publication of Audited of Balance-Sheet/Annual Financial Statements on ULB website. (Year 2015-16, 2016-17 & 2017-18)</td>
						  <td>&nbsp;</td>
						  <td>Same is available on JNN website <a href='http://jnnjhansi.com/finance_docs.php' target='_new'>http://jnnjhansi.com/finance_docs.php</a></td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-14.jpg' target='_new'>ANNEX-14</a></td>
					  </tr>
					   <tr><td colspan='5'><b>4 - Urban Planning</b></td></tr>
					<tr>
						  <td>1</td>
						  <td>Establish Urban Development Authority</td>
						  <td>&nbsp;</td>
						  <td>STATE  LEVEL</td>
					  <td>&nbsp;</td>
					  </tr>
					  <tr>
						  <td>2</td>
						  <td>Develop at least one Children Park every year in AMRUT cities (Year 2016-16, 2016-17 & 2017-18). (ULB Level)</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>Agreement, Work Order and Geo-tagged photographs are attached for all the parks.</td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-15.pdf' target='_new'>ANNEX-15</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-16.pdf' target='_new'>ANNEX-16</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-17.pdf' target='_new'>ANNEX-17</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-18.pdf' target='_new'>ANNEX-18</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-19.pdf' target='_new'>ANNEX-19</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-20.pdf' target='_new'>ANNEX-20</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-21.pdf' target='_new'>ANNEX-21</a></td>
					  </tr>

<tr><td colspan='5'><b>5 - Swatchh Bharat Mission (S.B.M.)</b></td></tr>
					<tr>
						  <td>1</td>
						  <td>Elimination of Open Defecation (O.D.F.) : Policy</td>
						  <td>&nbsp;</td>
						  <td>STATE INITIATIVE</td>
					      <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-22.jpg' target='_new'>ANNEX-22</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-31.pdf' target='_new'>ANNEX-31</a></td>
					  </tr>
					  <tr>
						  <td>2</td>
						  <td>Elimination of Open Defecation (O.D.F.) : Percentage. (ULB Level)</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>Jhansi Municipal Corporation has been recertified as Open Defecation Free on 12th March 2019. By Laws have also been published in news paper.</td>
					      <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-23.pdf' target='_new'>ANNEX-23</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-29.pdf' target='_new'>ANNEX-29</a></td>
					  </tr>
					  <tr>
						  <td>3</td>
						  <td>Waste Collection (Door to Door Collection) (ULB Level)</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>Door to Door waste collection is being done in all 60 wards of Jhansi Municipal Corporation. Complaints in Swachhta App are being used regularly.</td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-24.pdf' target='_new'>ANNEX-24</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-25.pdf' target='_new'>ANNEX-25</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-26.pdf' target='_new'>ANNEX-26</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-30.pdf' target='_new'>ANNEX-30</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-32.pdf' target='_new'>ANNEX-32</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-33.jpeg' target='_new'>ANNEX-33</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-34.pdf' target='_new'>ANNEX-34</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-35.jpeg' target='_new'>ANNEX-35</a></td>
					  </tr>
					  <tr>
						  <td>4</td>
						  <td>Transportation of Waste (ULB Level)</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b><br>Transportation services are available for all the wards of Jhansi Municipal Corporation.</td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-27.pdf' target='_new'>ANNEX-27</a><br><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-36.jpg' target='_new'>ANNEX-36</a></td>
					  </tr>
					  <tr>
						  <td>5</td>
						  <td>Scientific Disposal (Composting, RDF, Waste to Energy, etc.) (ULB Level)</td>
						  <td>&nbsp;</td>
						  <td><b>Achieved</b></td>
					  <td><a href='http://jnnjhansi.com/docs/DOCS2017-18/ANNEX-28.pdf' target='_new'>ANNEX-28</a></td>
					  </tr>					  
<tr><td colspan='5'>&nbsp;</td></tr>



					  </tr>



					</table>
					</td>
			  </tr>
			  
			</table>
		  </td>
        </tr>
 </table>