<table width="680px" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	  	<td colspan="2" align="left" valign="top">
			<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
			Jhansi Smart City Citizen Engagement Campaign</h2>
			<p>&nbsp;</p>
			<form method="post" action="" name="campaign">
			<table width="100%" border="0" cellspacing="5" cellpadding="5" align="center">
				<tr> 
					  <td align="left"><strong>Dear Citizen,</strong></td>
				</tr>
				<tr> 
					  <td align="left">Our city of jhansi aims to be a Smart City. The city values to your input and ideas for making Jhansi
            Smart. Kindly spare five minutes of your precious time and contribute to your city's future.</td>
				</tr>
				<tr> 
					  <td align="left" style="color:green;"><strong>__msg__</strong></td>
				</tr>
        <tr> 
					  <td align="left"><strong>Citize's Contact Information<hr/></strong></td>
				</tr>
				<tr> 
					  <td align="left"><strong>Name :</strong> <input type="text" name="name" size="70"></td>
				</tr>
				<tr> 
					  <td align="left"><strong>Gender :</strong>
             Male <input type="radio" name="gender" value="Male">
             Female <input type="radio" name="gender" value="Female">
             Transgender <input type="radio" name="gender" value="Transgender">
             
            </td>
				</tr>
				<tr> 
					  <td align="left">
             <strong>Age : </strong><input type="text" name="age" size="2">&nbsp;&nbsp;
             <strong>Ward No : </strong><input type="text" name="wardno" size="2">&nbsp;&nbsp;
             <strong>Locality : </strong><input type="text" name="locality">
            </td>
				</tr>
				<tr> 
					  <td align="left">
             <strong>Occupation :</strong>
             Retired <input type="radio" name="occupation" value="Retired">
             Business <input type="radio" name="occupation" value="Business">
             Employee <input type="radio" name="occupation" value="Employee">
             Professional <input type="radio" name="occupation" value="Professional">
             Student <input type="radio" name="occupation" value="Student">
             Unemployed <input type="radio" name="occupation" value="Unemployed">
             
            </td>
				</tr>
				<tr> 
					  <td align="left"><strong>Residential Address : </strong><input type="text" name="address" size="70"></td>
				</tr>
				<tr> 
					  <td align="left">
             <strong>Pin code : </strong><input type="text" name="pincode" size="7">&nbsp;&nbsp;
             <strong>Work Place :</strong>Jhansi<input type="radio" name="workplace" value="jhansi">
             Out Of Jhansi<input type="radio" name="workplace" value="out of jhansi">&nbsp;&nbsp;
             <strong>Mobile : </strong><input type="text" name="mobile" size="10">
            </td>
				</tr>
				<tr> 
					  <td align="left"><strong>Jhansi as a Smart City<hr/></strong></td>
				</tr>
				<tr> 
					  <td align="left">Please input RANK ALL the following as per your priority for your city's future under Pan-city proposal.</td>
				</tr>
				<tr> 
					  <td align="left">
             Water supply with smart meters <input type="text" name="water_supply" size="2">&nbsp;&nbsp;&nbsp;&nbsp;
             Traffic and transportation improvment  <input type="text" name="traffic" size="2"> <br><br>
             Safety and Security <input type="text" name="safety" size="2">&nbsp;&nbsp;
             Online municipal services  <input type="text" name="municipal_services" size="2">&nbsp;&nbsp;
             City bus services  <input type="text" name="bus_services" size="2">
            </td>
				</tr>
				<tr> 
					  <td align="left"><strong>Others : </strong><input type="text" name="others" size="70"></td>
				</tr>
				
				<tr> 
					  <td align="left"><strong>Smart interventions in the selected area <hr/></strong></td>
				</tr>
				<tr> 
					  <td align="left">
             In the first round of smart city challange, Sipri, Civil Lines, Kachari Chauraha and Bus stand area was selected for
             area based development based on citizen consultaion. Please RANK ALL the following interventions that must be taken
             up on priority for area development in the selected area unnder the smart city mission.
            </td>
				</tr>
				<tr> 
					  <td align="left">
             Water supply with smart meters <input type="text" name="water_supply_one" size="2">&nbsp;&nbsp;
             Multi level parking   <input type="text" name="parking" size="2"> &nbsp;&nbsp;
             Undergroound electric cabling <input type="text" name="cabling" size="2"><br><br>
             Solid waste management & sanitation  <input type="text" name="sanitation" size="2">&nbsp;&nbsp;
             Transport and intelligent traffic management  <input type="text" name="intellegent_traffic" size="2"><br><br>
             Improved education and helth infrastucture  <input type="text" name="infrastucture" size="2">
             
            </td>
				</tr>
				<tr> 
					  <td align="left"><strong>Others : </strong><input type="text" name="others_interventions" size="70"></td>
				</tr>
				<tr> 
					  <td align="left">
              <table>
                <tr> 
        					  <td align="left" width="80%">Will you be willing to pay increased of new user changes for the services which will be provided under the city Plan?</td>
        					  <td align="left">
                     Yes <input type="radio" name="pay" value="Yes">
                     No <input type="radio" name="pay" value="No">
                     </td>
        				</tr>
        				<tr> 
        					  <td align="left">Will you be willing to contribute/join in any form (Funds, Voluntary, Services, Time & Knowledge) to the smart city project of Jhansi?</td>
        					  <td align="left">
                     Yes <input type="radio" name="time_join" value="Yes">
                     No <input type="radio" name="time_join" value="No">
                     </td>
        				</tr>
              </table>
            </td>
				</tr>
				
				<tr> 
					  <td align="left">
              <table border="1">
                <tr> 
        					<td align="left"><strong>In my opinion</strong></td>
        					<td align="center">Strongly Agree</td>
        					<td align="center">Agree</td>
        					<td align="center">Partiially Agree</td>
        					<td align="center">Disagree</td>
        					<td align="center">Strongly Disagree</td>
        				</tr>
        				<tr> 
        					<td align="left">1. My city is clean and garbage free</td>
        					<td align="center"><input type="radio" name="garbage_free" value="Strongly Agree"></td>
        					<td align="center"><input type="radio" name="garbage_free" value="Agree"></td>
        					<td align="center"><input type="radio" name="garbage_free" value="Partiially Agree"></td>
        					<td align="center"><input type="radio" name="garbage_free" value="Disagree"></td>
        					<td align="center"><input type="radio" name="garbage_free" value="Strongly Disagree"></td>
        				</tr>
        				<tr> 
        					<td align="left">2. Commuting is jhansi is a hassle free experience for me</td>
        					<td align="center"><input type="radio" name="hassle_free" value="Strongly Agree"></td>
        					<td align="center"><input type="radio" name="hassle_free" value="Agree"></td>
        					<td align="center"><input type="radio" name="hassle_free" value="Partiially Agree"></td>
        					<td align="center"><input type="radio" name="hassle_free" value="Disagree"></td>
        					<td align="center"><input type="radio" name="hassle_free" value="Strongly Disagree"></td>
        				</tr>
        				<tr> 
        					<td align="left">3. I have access to recreational areas/activites in my city</td>
        					<td align="center"><input type="radio" name="area_activites" value="Strongly Agree"></td>
        					<td align="center"><input type="radio" name="area_activites" value="Agree"></td>
        					<td align="center"><input type="radio" name="area_activites" value="Partiially Agree"></td>
        					<td align="center"><input type="radio" name="area_activites" value="Disagree"></td>
        					<td align="center"><input type="radio" name="area_activites" value="Strongly Disagree"></td>
        				</tr>
        				<tr> 
        					<td align="left">4. It is convenient to walk and cycle across the city</td>
        					<td align="center"><input type="radio" name="walk_cycle" value="Strongly Agree"></td>
        					<td align="center"><input type="radio" name="walk_cycle" value="Agree"></td>
        					<td align="center"><input type="radio" name="walk_cycle" value="Partiially Agree"></td>
        					<td align="center"><input type="radio" name="walk_cycle" value="Disagree"></td>
        					<td align="center"><input type="radio" name="walk_cycle" value="Strongly Disagree"></td>
        				</tr>
        				<tr> 
        					<td align="left">5. My city is a green and pollution-free city</td>
        					<td align="center"><input type="radio" name="pollution_free" value="Strongly Agree"></td>
        					<td align="center"><input type="radio" name="pollution_free" value="Agree"></td>
        					<td align="center"><input type="radio" name="pollution_free" value="Partiially Agree"></td>
        					<td align="center"><input type="radio" name="pollution_free" value="Disagree"></td>
        					<td align="center"><input type="radio" name="pollution_free" value="Strongly Disagree"></td>
        				</tr>
        				<tr> 
        					<td align="left">6. My city is rich in history</td>
        					<td align="center"><input type="radio" name="history" value="Strongly Agree"></td>
        					<td align="center"><input type="radio" name="history" value="Agree"></td>
        					<td align="center"><input type="radio" name="history" value="Partiially Agree"></td>
        					<td align="center"><input type="radio" name="history" value="Disagree"></td>
        					<td align="center"><input type="radio" name="history" value="Strongly Disagree"></td>
        				</tr>
              </table>
            </td>
				</tr>
				
				<tr> 
					  <td align="center"><input type="submit" name="submit" value="submit"></td>
				</tr>
				
				<tr> 
					  <td align="left"><strong>Note - Kindly fill above smart city participation of only once.</strong></td>
				</tr>
			</table>
			</form>
			</td>
	  </tr>
	</table>
	  </td>
      </tr>
</table>
<br/><br/>