<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					Contact Us</h2>
					<table width="50%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                          <td width="48%">&nbsp;</td>
                          <td width="52%">&nbsp;</td>
                        </tr>
                        <tr>
                          <td valign="top">Address :</td>
                          <td>Municipal Corporation Office <br />
Near Elite Chauraha <br />
Civil Lines Jhansi (Uttar Pradesh) <br />
Pin Code - 284001</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>24X7 Citizen Help Line No. :</td>
                          <td>0510-3-500-700</td>
                        </tr>
                        <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          
                        <tr>
                          <td>Municipal Commissioner Office Contact No. :</td>
                          <td>0510-2332097</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>E-mail :</td><br />
                          <td>nagarayukta@jnnjhansi.com, jnnjhansi@gmail.com </td><br />
                                                <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <!--<tr>
                          <td>Download/View Officer's Contact Number  :</td>
                          <td><a href="OfficerCUG.pdf"  target='_new'>List of Contact Number</a></td>-->
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>