<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					e-News Letter</h2>
					<p>&nbsp;</p>
					<table width="100%" border="1" cellspacing="0" cellpadding="0" align="center">
						<tr> 
							  <td align="center" width="10%"><strong>Sr.No</strong></td>
							  <td align="center" width="90%"><strong>Download's</strong></td>
						</tr>
						
						      <td align="center" width="10%">1</td>
							  <td align="center" width="90%"><a href="/docs/March 2019.pdf" style="color:#000000;" target="_new">e-News Letter Month of  March 2019</a></a></td>
<tr>							 
							  <td align="center" width="10%">2</td>
							  <td align="center" width="90%"><a href="/docs/February 2019.pdf" style="color:#000000;" target="_new">e-News Letter Month of February 2019</a></a></td>
<tr>							  
						      <td align="center" width="10%">3</td>
							  <td align="center" width="90%"><a href="/docs/January 2019.pdf" style="color:#000000;" target="_new">e-News Letter Month of January 2019</a></a></td>
<tr>							  
						      <td align="center" width="10%">4</td>
							  <td align="center" width="90%"><a href="/docs/December 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of December 2018</a></a></td>
 <tr>
							  <td align="center" width="10%">5</td>
							  <td align="center" width="90%"><a href="/docs/November 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of November 2018</a></a></td>
<tr>
<tr> 
							  <td align="center" width="10%">6</td>
							  <td align="center" width="90%"><a href="/docs/October 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of October 2018</a></a></td>
<tr> 
							  <td align="center" width="10%">7</td>
							  <td align="center" width="90%"><a href="/docs/September 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of September 2018</a></a></td>
<tr> 
							  <td align="center" width="10%">8</td>
							  <td align="center" width="90%"><a href="/docs/August 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of August 2018</a></a></td>
<tr> 
							  <td align="center" width="10%">9</td>
							  <td align="center" width="90%"><a href="/docs/July 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of July 2018</a></a></td>

<tr> 
							  <td align="center" width="10%">10</td>
							  <td align="center" width="90%"><a href="/docs/June 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of June 2018</a></a></td>
<tr> 
							  <td align="center" width="10%">11</td>
							  <td align="center" width="90%"><a href="/docs/May 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of May 2018</a></a></td>
<tr> 
							  <td align="center" width="10%">12</td>
							  <td align="center" width="90%"><a href="/docs/April 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of April 2018</a></a></td>
<tr>

<tr> 
							  <td align="center" width="10%">13</td>
							  <td align="center" width="90%"><a href="/docs/March 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of March 2018</a></a></td>
<tr> 
							  <td align="center" width="10%">14</td>
							  <td align="center" width="90%"><a href="/docs/February 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of February 2018</a></a></td>
<tr> 
							  <td align="center" width="10%">15</td>
							  <td align="center" width="90%"><a href="/docs/January 2018.pdf" style="color:#000000;" target="_new">e-News Letter Month of January 2018</a></a></td>
<tr> 
							  <td align="center" width="10%">16</td>
							  <td align="center" width="90%"><a href="/docs/December 2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of December 2017</a></a></td>
<tr> 
<tr> 
							  <td align="center" width="10%">17</td>
							  <td align="center" width="90%"><a href="/docs/November 2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of November 2017</a></a></td>
<tr>
							  <td align="center" width="10%">18</td>
							  <td align="center" width="90%"><a href="/docs/October 2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of October 2017</a></a></td>
<tr> 
							  <td align="center" width="10%">19</td>
							  <td align="center" width="90%"><a href="/docs/September 2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of September 2017</a></a></td>
<tr> 
							  <td align="center" width="10%">20</td>
							  <td align="center" width="90%"><a href="/docs/August 2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of August 2017</a></a></td>
<tr> 
							  <td align="center" width="10%">21</td>
							  <td align="center" width="90%"><a href="/docs/July 2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of July 2017</a></a></td>

<tr> 
							  <td align="center" width="10%">22</td>
							  <td align="center" width="90%"><a href="/docs/Newsletter_June_2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of June 2017</a></a></td>
<tr> 
							  <td align="center" width="10%">23</td>
							  <td align="center" width="90%"><a href="/docs/Newsletter_May_2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of May 2017</a></a></td>
<tr> 
							  <td align="center" width="10%">24</td>
							  <td align="center" width="90%"><a href="/docs/Newsletter_April_2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of April 2017</a></a></td>
<tr> 
							  <td align="center" width="10%">25</td>
							  <td align="center" width="90%"><a href="/docs/Newsletter_March_2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of March 2017</a></a></td>
<tr> 
							  <td align="center" width="10%">26</td>
							  <td align="center" width="90%"><a href="/docs/Newsletter_February_2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of February 2017</a></a></td>
<tr> 
							  <td align="center" width="10%">27</td>
							  <td align="center" width="90%"><a href="/docs/Newsletter_January_2017.pdf" style="color:#000000;" target="_new">e-News Letter Month of January 2017</a></a></td>
						<tr> 
							  <td align="center" width="10%">28</td>
							  <td align="center" width="90%"><a href="/docs/Newsletter_December_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of December 2016</a></a></td>
<tr> 
							  <td align="center" width="10%">29</td>
							  <td align="center" width="90%"><a href="/docs/Newsletter_November_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of November 2016</a></a></td>
<tr> 
							  <td align="center" width="10%">30</td>
							  <td align="center" width="90%"><a href="/docs/Newsletter_October_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of October 2016</a></a></td>
						<tr> 
                                                          <td align="center" width="10%">31</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_September_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of September 2016</a></a></td>
<tr> 
<tr> 
							  <td align="center" width="10%">32</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_August_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of August 2016</a></a></td>
<tr> 
							  <td align="center" width="10%">33</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_July_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of July 2016</a></a></td>
<tr> 
							  <td align="center" width="10%">34</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_June_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of June 2016</a></a></td>
						</tr>
<tr> 
							  <td align="center" width="10%">35</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_May_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of May 2016</a></a></td>
						</tr>
<tr> 
							  <td align="center" width="10%">36</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_April_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of April 2016</a></a></td>
						</tr>
							  <td align="center" width="10%">37</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_mar_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of March 2016</a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">38</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_feb_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of February 2016</a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">39</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_jan_2016.pdf" style="color:#000000;" target="_new">e-News Letter Month of January 2016</a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">40</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_dec_2015.pdf" style="color:#000000;" target="_new">e-News Letter Month of December 2015</a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">41</td>
							  <td align="center" width="90%"><a href="/docs/e- news letters 2015.pdf" style="color:#000000;" target="_new">e-News Letter Month of November 2015</a></a></td>
						</tr>
            <tr> 
							  <td align="center" width="10%">42</td>
							  <td align="center" width="90%"><a href="/docs/newsletter_octo_2015.pdf" style="color:#000000;" target="_new">e-News Letter Month of October 2015</a></a></td>
						</tr>
            <tr> 
							  <td align="center" width="10%">43</td>
							  <td align="center" width="90%"><a href="/docs/e-News Letter September_Jhansi Nagar Nigam.pdf" style="color:#000000;" target="_new">e-News Letter Month of September 2015</a></a></td>
						</tr>
            <tr> 
							  <td align="center" width="10%">44</td>
							  <td align="center" width="90%"><a href="/docs/august news letter 2015.pdf" style="color:#000000;" target="_new">e-News Letter Month of August 2015</a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">45</td>
							  <td align="center" width="90%"><a href="/docs/news letters july 2015.pdf" style="color:#000000;" target="_new">e-News Letter Month of July 2015</a></a></td>
						</tr>
            <tr> 
							  <td align="center" width="10%">46</td>
							  <td align="center" width="90%"><a href="/docs/June 2015.pdf" style="color:#000000;" target="_new">e-News Letter Month of June 2015</a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">47</td>
							  <td align="center" width="90%"><a href="/docs/May 2015.pdf" style="color:#000000;" target="_new">e-News Letter Month of May 2015</a></td>
						</tr>
            <tr> 
							  <td align="center" width="10%">48</td>
							  <td align="center" width="90%"><a href="/docs/April 2015.pdf" style="color:#000000;" target="_new">e-News Letter Month of April 2015</a></td>
						</tr>
					</table>
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>