Balance Sheet FY 2024-25Balance Sheets & 3rd Party Audit ReportBalance Sheets & 3rd Party Audit Report
	 Income Expenditure Reports <table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="middle" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					Budget & Balance Sheet </h2>
					<p>&nbsp;</p>
					<table width="100%" border="1" cellspacing="0" cellpadding="0" align="center">
						<tr> 
							  <td align="center" width="10%"><strong>Sr.No</strong></td>
							  <td align="center" width="90%"><strong>Budgets </h2></strong></td>
					
						<tr> 
						
							  <td align="center" width="10%">01</td>
							  <td align="center" width="90%"><a href="/docs/MOOL BUDGET-2026-2027.pdf" style="color:#000000;" target="_new"> Mool budget-2026-2027</a></a></td>
							<tr> 
								</tr>	</tr>
							<tr> 
						
							  <td align="center" width="10%">02</td>
							  <td align="center" width="90%"><a href="/docs/Punarikshit Budget 2025-26.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2025-26</a></a></td>
							<tr> 
								</tr>
						<tr> 
						
							  <td align="center" width="10%">03</td>
							  <td align="center" width="90%"><a href="/docs/MOOL BUDGET-2025-2026.pdf" style="color:#000000;" target="_new"> Mool budget-2025-2026</a></a></td>
							<tr> 
								</tr>
						<tr> 
						
							  <td align="center" width="10%">04</td>
							  <td align="center" width="90%"><a href="/docs/PUNARIKSHIT BUDGET-2024-2025.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2024-25</a></a></td>
							<tr> 
						
							  <td align="center" width="10%">05</td>
							  <td align="center" width="90%"><a href="/docs/Mool Budget 2024-25.pdf" style="color:#000000;" target="_new"> Mool budget-2024-2025</a></a></td>
							  </tr>
							<tr> 
							 <tr> 
							  <td align="center" width="10%">06</td>
							  <td align="center" width="90%"><a href="/docs/PUNARIKSHIT BUDGET-2023-2024.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2023-24</a></a>
							  </td>
						<tr> 
							 <tr>
							  <td align="center" width="10%">07</td>
							  <td align="center" width="90%"><a href="/docs/Mool budget 2023-24.pdf" style="color:#000000;" target="_new"> Mool budget-2023-2024</a></a></td>
							  <tr> 
							  <td align="center" width="10%">08</td>
							  <td align="center" width="90%"><a href="/docs/PUNARIKSHIT BUDGET-2022-2023.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2022-23</a></a></td>
						<tr> 
						
							  <td align="center" width="10%">09</td>
							  <td align="center" width="90%"><a href="/docs/MOOL BUDGET-2022-2023.pdf" style="color:#000000;" target="_new"> Mool budget-2022-2023</a></a></td>
						</tr>
							<tr> 
							  <td align="center" width="10%">10</td>
							  <td align="center" width="90%"><a href="/docs/PUNARIKSHIT BUDGET-2021-2022.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2021-22</a></a></td>
						</tr>
							<tr> 
						
							  <td align="center" width="10%">11</td>
							  <td align="center" width="90%"><a href="/docs/MOOL BUDGET-2021-2022.pdf" style="color:#000000;" target="_new"> Mool budget-2021-2022</a></a></td>
						</tr>
							<tr> 
							  <td align="center" width="10%">12</td>
							  <td align="center" width="90%"><a href="/docs/PUNARIKSHIT BUDGET-2020-2021.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2020-21</a></a></td>
						</tr>
												<tr> 
						
							  <td align="center" width="10%">13</td>
							  <td align="center" width="90%"><a href="/docs/MOOL BUDGET-2020-2021.pdf" style="color:#000000;" target="_new"> Mool budget-2020-2021</a></a></td>
						</tr>
							<tr> 
							  <td align="center" width="10%">14</td>
							  <td align="center" width="90%"><a href="/docs/PUNARIKSHIT BUDGET-2019-2020.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2019-20</a></a></td>
						</tr>
											</tr>
						<tr> 
							  <td align="center" width="10%">15</td>
							  <td align="center" width="90%"><a href="/docs/MOOL BUDGET-2019-2020.pdf" style="color:#000000;" target="_new"> Mool budget-2019-2020</a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">16</td>
							  <td align="center" width="90%"><a href="/docs/PUNARIKSHIT BUDGET-2018-2019.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2018-19</a></a></td>

<tr> 
							  <td align="center" width="10%">17</td>
							  <td align="center" width="90%"><a href="/docs/MOOL BUDGET-2018-2019.pdf" style="color:#000000;" target="_new"> Mool budget 2018-19</a></a></td>
						</tr>
<tr> 
							  <td align="center" width="10%">18</td>
							  <td align="center" width="90%"><a href="/docs/PUNARIKSHIT BUDGET-2017-2018.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2017-18</a></a></td>
						</tr>

						</tr>
<tr> 
							  <td align="center" width="10%">19</td>
							  <td align="center" width="90%"><a href="/docs/Mool_Budget_17-18.pdf" style="color:#000000;" target="_new"> Mool budget 2017-18</a></a></td>
						</tr>
<tr> 
							  <td align="center" width="10%">20</td>
							  <td align="center" width="90%"><a href="/docs/PUNARIKSHIT BUDGET-2016-2017.pdf" style="color:#000000;" target="_new"> Punarikshit Budget 2016-17</a></a></td>
<tr> 
							  <td align="center" width="10%">21</td>
							  <td align="center" width="90%"><a href="/docs/mool_Budget_16-17.pdf" style="color:#000000;" target="_new">Mool budget 2016-17</a></a></td>
						</tr>
						



						<p>&nbsp;</p>
					<table width="100%" border="1" cellspacing="0" cellpadding="0" align="center">
						<tr> 
							  <td align="center" width="10%"><strong>Sr.No</strong></td>
							  <td align="center" width="90%"><strong>Balance Sheets & 3rd Party Audit Report  </h2> </strong></td>
							  </tr>
							  	<tr> 
							  <td align="center" width="10%">01</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet FY 2025-26.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2025-2026</a></a></td>
							  	</tr>
							<tr> 
							  <td align="center" width="10%">02</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet FY 2024-25.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2024-2025</a></a></td>
							  	</tr>
						
						<tr> 
							  <td align="center" width="10%">03</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet 2023-24.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2023-2024</a></a></td>
							  	</tr>
							  		<tr> 
							  <td align="center" width="10%">04</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet 2022-23.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2022-2023</a></a></td>
							  	</tr>
							  		<tr> 
							  <td align="center" width="10%">05</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet 2021-22.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2021-2022</a></a></td>
							  	</tr>
						<tr> 
							  <td align="center" width="10%">06</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet 2021-22.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2021-2022</a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">07</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet 2020-21 with audit report.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2020-2021</a></a></td>
						</tr>
							<tr> 
							  <td align="center" width="10%">08</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet 2019-20 with audit report.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2019-2020</a></a></td>
						</tr>
						
						<tr> 
							  <td align="center" width="10%">09</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet 2018-19 with audit report.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2018-2019</a></a></td>
						</tr>
						
							 <tr> 
							  <td align="center" width="10%">10</td>
							  <td align="center" width="90%"><a href="/docs/Balance Sheet 2017-18 with audit report.pdf" style="color:#000000;" target="_new">Balance Sheet of Year 2017-2018</a></a></td>
						</tr>
						</tr>
						<tr> 
							  <td align="center" width="10%">11</td>
							  <td align="center" width="90%"><a href="/docs/BALANCE SHEET 2016-2017.pdf" style="color:#000000;" target="_new"> Balance Sheet of Year 2016-2017</a></a></td>
						</tr>
						
						
						
							  	<p>&nbsp;</p>
					<table width="100%" border="1" cellspacing="0" cellpadding="0" align="center">
						<tr> 
						
							  <td align="center" width="10%"><strong>Sr.No</strong></td>
							  <td align="center" width="90%"><strong>Audit Reports</h2></strong></td>
							  </tr>
						
													 <tr> 
							  <td align="center" width="10%">01</td>
							  <td align="center" width="90%"><a href="/docs/Audit 16-17.pdf" style="color:#000000;" target="_new">Audit 2016-17</a></a></td>
						</tr>

							 
<tr> 
							  <td align="center" width="10%">02</td>
							  <td align="center" width="90%"><a href="/docs/AUDIT.jpg" style="color:#000000;" target="_new"> Audit 2013-14</a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">03</td>
							  <td align="center" width="90%"><a href="/docs/internal auditor.pdf" style="color:#000000;" target="_new">Appointment of Internal Auditor </a></a></td>
						</tr>
						
						
					        	<p>&nbsp;</p>
					<table width="100%" border="1" cellspacing="0" cellpadding="0" align="center">
						<tr> 
						
							  <td align="center" width="10%"><strong>Sr.No</strong></td>
							  <td align="center" width="90%"><strong>Income Expenditure Reports </h2></strong></td>
						</tr>
							<tr> 
						
							  <td align="center" width="10%">01</td>
							  <td align="center" width="90%"><a href="/docs/Income Expenditure 2025-26.pdf" style="color:#000000;" target="_new">Income Expenditure 25-26 </a></a></td>
						</tr>
							<tr> 
						
							  <td align="center" width="10%">02</td>
							  <td align="center" width="90%"><a href="/docs/Income Expenditure 2024-25.pdf" style="color:#000000;" target="_new">Income Expenditure 24-25 </a></a></td>
						</tr>
						<tr> 
						
							  <td align="center" width="10%">03</td>
							  <td align="center" width="90%"><a href="/docs/2023-24 income expenditure.pdf" style="color:#000000;" target="_new">Income Expenditure 23-24 </a></a></td>
						</tr>
							<tr> 
						
							  <td align="center" width="10%">04</td>
							  <td align="center" width="90%"><a href="/docs/2022-23 income expenditure.pdf" style="color:#000000;" target="_new">Income Expenditure 22-23 </a></a></td>
						</tr>
							<tr> 
						
							  <td align="center" width="10%">05</td>
							  <td align="center" width="90%"><a href="/docs/2021-22 income expenditure.pdf" style="color:#000000;" target="_new">Income Expenditure 21-22 </a></a></td>
						</tr>
						<tr> 
						
							  <td align="center" width="10%">06</td>
							  <td align="center" width="90%"><a href="/docs/2020-21 income expenditure.pdf" style="color:#000000;" target="_new">Income Expenditure 20-21 </a></a></td>
						</tr>
						<tr> 
						
							  <td align="center" width="10%">07</td>
							  <td align="center" width="90%"><a href="/docs/2019-20 income expenditure.pdf" style="color:#000000;" target="_new">Income Expenditure 19-20 </a></a></td>
						</tr>
						<tr> 
						
							  <td align="center" width="10%">08</td>
							  <td align="center" width="90%"><a href="/docs/Income Expenditure  2018-2019.pdf" style="color:#000000;" target="_new">Income Expenditure 18-19 </a></a></td>
						</tr>
						<tr> 
							  <td align="center" width="10%">09</td>
							  <td align="center" width="90%"><a href="/docs/Income Expenditure 17-18.pdf" style="color:#000000;" target="_new">Income Expenditure 17-18 </a></a></td>
						</tr>
							<tr> 
							  <td align="center" width="10%">10</td>
							  <td align="center" width="90%"><a href="/docs/Income Expenditure 16-17.pdf" style="color:#000000;" target="_new">Income Expenditure 16-17 </a></a></td>
						</tr>
						
					
						
						
						
						
						 <table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  
						</tr>

						
					
          
          	
						
						</tr>
						
						
						</tr>
						
					</table>
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>
