<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td align="left" valign="top">
					<table width="331" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td align="left" valign="top" class="title_top">Mayor !</td>
					  </tr>
					  <tr>
					    <td align="left" valign="top" class="title_mdl">__Mayer_Image__</td>
					</tr>
					<tr>
					    <td align="left" valign="top" class="title_mdl">__Mayer_Name__</td>
					</tr>
					  <tr>
					    <td align="left" valign="top" class="title_mdl">
							__Mayer_Desc__
							<p><a href="mayer.php?mid=__mid__">more..,</a></p>
						</td>
				      </tr>
					  <tr>
					    <td align="left" valign="top" class="title_btm">&nbsp;</td>
				      </tr>
					</table>
				</td>
				<td align="right" valign="top">
					<table width="331" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td align="left" valign="top" class="title_top">Municipal Commissioner !</td>
					  </tr>
					  <tr>
					    <td align="left" valign="top" class="title_mdl">__Commissioner_Image__</td>
					</tr>
					<tr>
					    <td align="left" valign="top" class="title_mdl">__Comm_Name__</td>
					</tr>
					  <tr>
					    <td align="left" valign="top" class="title_mdl">
							__Commissioner_Desc__
							<p><a href="commissioner.php?cid=__cid__">more..,</a></p>
						</td>
				      </tr>
					  <tr>
					    <td align="left" valign="top" class="title_btm">&nbsp;</td>
				      </tr>
				  </table>
				</td>
			  </tr>
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					__pagetitle__</h2>
					__pagecontent__
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
      </table>