<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					History Jhansi City</h2>
					<table width="100%" border="0" cellspacing="0" cellpadding="2">
                  <tr> 
                    <td><img src="pics/rani_hostry_fort7.jpg" width="115" height="105"></td>
                    <td valign="top"><div align="justify"><font color="#000000">It 
                        is said that this <em>baradari</em> or pavilion was built 
                        by Raja Gangadhar Rao (A.D. 1838-53) for his brother who 
                        had deep interest in drama, music etc. The pavilion erected 
                        on a platform is square on plan and has three arched openings 
                        on each side. It is beautifully decorated with stucco 
                        mouldings depicting various floral and geometrical patterns.To 
                        the west of the pavilion is a fountain built on the Mughal 
                        Pattern.Believed to be blessed with the power of goddess 
                        Bhawani,this gun is popularly known as Bhawani Shankar. 
                        Placed in north &#8211;south orientation, the front portion 
                        of the gun has the form of crocodile, while it has elephant-like 
                        back. It measures 5.00 X0.60m with a diameter of 0.52m. 
                        An inscription on the gun dated to A D 1781 mentions the 
                        gun as Bhawani Shankar. Names of Raja Udit Singh and guru 
                        Jairam are also inscribed.</font></div></td>
                  </tr>
                  <tr> 
                    <td><img src="pics/rani_hostry_fort8.jpg" width="115" height="102"></td>
                    <td valign="top"><div align="justify"><font color="#000000">This 
                        gun is placed on the eastern side of the fort which can 
                        be seen by entering through the main gate. This lion-headed 
                        gun roared like a lion when fired, hence this name. Operated 
                        by GULAM Gaus Khan, this gun used to frighten the enemies. 
                        It measures 5.50mx1.80m with a diameter of 0.60m.Gulam 
                        Gaus Khan Bux and Motibai were three very faithful military 
                        officers of Rani Laxmi Bai army. Gulam Gaus Khan and Khuda 
                        Bux were artillery experts and there graves are situated 
                        inside the fort near Panch Mahal.Constructed by Raja Bir 
                        Singh Deo, this palace was originally five &#8211; storeyed, 
                        Rani Laxmi Bai is said to have used its ground floor as 
                        her meeting-hall, and stayed in one of the apartments 
                        on The first floor. </font></div></td>
                  </tr>
                  <tr> 
                    <td><img src="pics/rani_hostry_fort9.jpg" width="115" height="109"></td>
                    <td valign="top"><div align="justify"><font color="#000000">The 
                        top floor of the palace was added during the British rule. 
                        During the scientific clearance here, the remain of the 
                        drainage pattern of the palace have come to light.A Squire 
                        platform located in between two bastion on south - east, 
                        is regarded as a place from where the Rani let herself 
                        with Damodar Rao, her adopted son down on her horse on 
                        the night of April fourth and escaped from the fort during 
                        the freedom struggle. Built by Maratha Chief Naru Shankar, 
                        this temple is the exquisite example of blending of Maratha 
                        &amp; Bundella styles of architecture. Rani used to worship 
                        here regularly. The <em>Siva-linga</em> enshrined here 
                        is made of granite stone. Even today,this temple is very 
                        popular among devotees who throng the place in large numbers 
                        during Sivaratri festival.</font></div></td>
                  </tr>
                  <tr> 
                    <td valign="top"><img src="pics/rani_hostry_fort10.jpg" width="110" height="363"></td>
                    <td valign="top"><div align="justify"> 
                        <p><font color="#000000">Amod Udyan is situated near Siva 
                          Temple in the Fort. It was used by Rani for recreation.Situated 
                          between Amod Bag and Siva temple, this execution tower 
                          was erected during the regime of Raja Gangadarh Rao 
                          for the execution offenders Maratha chief Naru Shankar 
                          extended the fort in north eastern direction in 1742 
                          which came to be known as Shankargrah, largly owing 
                          to construction of Shiv temple in this part. The place 
                          was used for various functions and festival celebrations 
                          in which the Rani along with her friends used to participate. 
                          Rani Mahal, Palace of Rani Laxmi Bai embelished with 
                          multi colored art and painting on its walls and ceilings. 
                          Presently this palace is converted into a museum. It 
                          has a massive collection of Sculptures of the period 
                          between the 9th and 12th Centuries AD. Rani Mahal was 
                          built by Raghunath II of Navalkar family (1769-96) this 
                          palace later converted as the residences of Rani Laxmi 
                          Bai. Architecturally, it is a flat- roofed double-storeyed 
                          building having a quadrangular courtyard with a small 
                          wall and one fountain each on either side.This palace 
                          consists of a number of small rooms, six hall and parallel 
                          corridors with multi-foiled arches. The Darbar hall 
                          approached by a flight of steps is beautifully decorated 
                          with paintings in bright colours. The themes included 
                          floral and faunal designs. The arches are embellished. 
                          with peacock and rosette design. The ground floor of 
                          the palace houses stone sculptures from Lalitpur, Madanpur, 
                          Barua Sagar, Dudhai and Chandpur dating from later Gupta 
                          to medieval period. Maha Laxmi Temple an ancient temple 
                          devoted to Devi Mahalaxmi was built in 18th Century. 
                          This glorious temple is situated outside Laxmi &quot;Darwaza&quot; 
                          at south-western corner of Laxmi Tal. According Dr Vrindawan 
                          Lal Verma Rani Laxmi Bai used to visit this temple on 
                          every tuesday and friday. The Samadhi or 'Chhatari' 
                          of Maharaja Gangadhar Rao is situated on the Laxmi Tal 
                          outside Laxmi Gate. It is situated at a distance of 
                          1.5 Km from the fort. After the death of Maharaja Gangadhar 
                          Rao in 1853, this chhatari or samadhi was built by his 
                          wife Rani Laxmi Bai. The brick-built 'Chhatari' is located 
                          in centre of a courtyard. It is plastered in lime and 
                          decorated with various patterns in stucco. The complex 
                          has two gates-the main one being on south. The main 
                          'Chhatari' stands on a square platform in form of a 
                          <em>baradari</em> consisting of three arched entrances 
                          on each side. The flat roof of <em>baradari</em> is 
                          supported by stone pillars. The panels on upper part 
                          are decorated with various figures-one on the east side 
                          showing perhaps Raja Gangadhar Rao himself.</font></p>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr> 
                            <td><img src="pics/rani_hostry_fort11.jpg" width="600" height="100"></td>
                          </tr>
                        </table>
                      </div></td>
                  </tr>
                  <tr> 
                    <td><a href="jhansi_history1.html">..Back</a></td>
                    <td>&nbsp;</td>
                  </tr>
                </table>

					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>