<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					History Jhansi City</h2>
					<table width="100%" border="0" cellspacing="0" cellpadding="2">
                  <tr> 
                    <td valign="top"><img src="pics/rani_hostry_fort3.jpg" width="115" height="114"></td>
                    <td><div align="justify"><font color="#000000">At that time 
                        Lord Dalhousie was the Governor -General of India. Though 
                        little Damodar Rao, adopted son of late Maharaja Gangadhar 
                        Rao and Rani Laxmi Bai was Maharaja's heir and successor 
                        as per the Hindu tradition, but the British rulers rejected 
                        Rani's claim that Damodar Rao was their legal heir.Lord 
                        Dalhousie decided to annexe the state of Jhansi asMaharaja 
                        Gangadhar Rao had left no legal heir. This misfortune 
                        of Jhansi was used by the Britishers to expand their Empire.In 
                        March 1854 the British ruler announced 60,000 ( Sixty 
                        Thousand) annual pension for Rani and also ordered to 
                        leave the Jhansi fort. Jhansi was in humiliating condition 
                        but it was like a silent volcano before eruption.Rani 
                        Jhansi was determined not to give up Jhansi. </font></div></td>
                  </tr>
                  <tr> 
                    <td><img src="pics/rani_hostry_fost_gate1.jpg" width="115" height="119"></td>
                    <td><div align="justify"><font color="#000000">She was a symbol 
                        of patriotism and self respect. Britishers were making 
                        every effort to destroy the freedom of country where as 
                        Rani was determined to get rid of Britishers.Rani Laxmi 
                        Bai strengthened the defence of Jhansi and she assembled 
                        a volunteer army of rebellions. Women were also given 
                        Military training. Rani was accompanied by her brave warriors, 
                        some of them were Gulam Gaus Khan, Dost Khan, Khuda Baksh, 
                        Lala Bhau Bakshi, Moti Bai, Sunder-Mundar, Kashi Bai, 
                        Deewan Raghunath singh and Deewan Jawahar Singh. Along 
                        with all these warriors the local population of Jhansi 
                        irrespective of their religion or caste were always determined 
                        to fight and give their lives with pleasure for the cause 
                        of Independence and their beloved Rani.The Britishers 
                        attacked Jhansi in March 1858. Rani Jhansi with her faithful 
                        warriors decided not to surrender.</font></div></td>
                  </tr>
                  <tr>
                    <td height="13" valign="top"><img src="pics/rani_hostry_fost_4.jpg" width="115" height="115"></td>
                    <td><div align="justify"><font color="#000000">The fighting 
                        continued for about two weeks. Shelling on Jhansi was 
                        very fierce. In the Jhansi army women were also carrying 
                        ammunition and were supplying food to the soldiers. Rani 
                        Laxmi Bai was very active.She herself was inspecting the 
                        defence of the city.However, after this great war, Jhansi 
                        fell to the British forces. On that black day, the British 
                        army entered the Jhansi City. Rani Laxmi Bai, still full 
                        of courage and patriotism dressed as a man, took up arms, 
                        her son Damodar Rao was strapped tightly to her back.She 
                        was holding the reins of her horse in her mouth. In the 
                        fierce fighting she was using the sword with both her 
                        hands. When the situation was not in control, Rani of 
                        Jhansi with some of her warriors departed from Jhansi. 
                        Rani Laxmi Bai reached Kalpi. Many other rebellions force 
                        joined her.</font></div></td>
                  </tr>
                  <tr> 
                    <td height="13" valign="top"><img src="pics/rani_hostry_fost_5.jpg" width="115" height="114"></td>
                    <td valign="top"><div align="justify"><font color="#000000">Tattia 
                        Tope from Kalpi was also one of them, from Kalpi Rani 
                        departed to the Gwalior. Again a fierce battle took place. 
                        Rani Jhansi fought with deathless patriotism and martyrdom. 
                        However on the second day of fighting, the great heroine 
                        of the first struggle for India freedom, at the age of 
                        22 years, lost her life. That unfortunate day was 18th 
                        June of 1858.The fort of Maharani Jhansi has strategic 
                        importance since the earliest of times. It was built by 
                        Raja Bir Singh Ju Deo (1606-27) of Orchha on a rocky hill 
                        called Bangra in the town of Balwantnagar (presently known 
                        as Jhansi). The fort has ten gates ( Darwaza) .Some of 
                        these are Khandero Gate, Datia Darwaza, Unnao gate, Jharna 
                        Gate, Laxmi Gate, Sagar Gate, Orchha Gate, Sainyar Gate, 
                        Chand gate. Among places of interest within the main fort 
                        area are the Karak Bijli Toup ( Tank),</font></div></td>
                  </tr>
                  <tr> 
                    <td height="13"><img src="pics/rani_hostry_fost_6.jpg" width="115" height="164"></td>
                    <td valign="top"><div align="justify"><font color="#000000"> 
                        Rani Jhansi Garden, Shiv temple and a &quot;Mazar&quot; 
                        of Ghulam Gaus Khan, Moti Bai and Khuda Baksh .The Jhansi 
                        fort, a living testimony of ancient glamor and valour, 
                        also has a fine collection of sculptures which provide 
                        an excellent inside into the eventful history of Bundelkhand.Ganesh 
                        Mandir, where the marriage ceremany of Maharani Laxmi 
                        Bai, the brave heroine of 1857 Inedependence war, and 
                        Maharajai Gangadhar Rao was performed. This temple is 
                        dedicated to Lord Ganesh.located on the northern slop 
                        of the fort, it is built near the main entrance (city 
                        gate). dedicated to Lord Ganesh, This temple is executed 
                        in the traditional Maratha style. The temple was very 
                        popular until the fort was taken over by the British. 
                        Rani Laxmi Bai paid regular visits to this temple for 
                        worship. Entered through an arched entrance, it comprises 
                        a courtyard, <em>Mandapa</em> an <em>Garbhagriha</em>, 
                        ceiling of the latter being decorated with various geometrical 
                        and floral patterns.</font></div></td>
                  </tr>
                  <tr> 
                    <td height="13"><a href="jhansi_history.php">..Back</a></td>
                    <td><div align="right"><a href="jhansi_history2.php">Next...</a></div></td>
                  </tr>
                </table>

					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>