<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					History Jhansi City</h2>
					<table width="100%" border="0" cellspacing="0" cellpadding="2">
                        <tr> 
                          <td width="14%" valign="top"><img src="pics/rani_histry.jpg" width="115" height="165"></td>
                          <td width="86%"><div align="justify"><font color="#000000">Jhansi 
                              city, situated between the rivers Pahunj and Betwa 
                              is a symbol of bravery, courage and self respect. 
                              It is said that in ancient times Jhansi was a part 
                              of the regions Chedi Rashtra, Jejak Bhukti, Jajhoti 
                              and Bundelkhand.Jhansi was a stronghold of the Chandela 
                              kings. Balwant Nagar was the name of this place. 
                              But in 11th. century Jhansi lost its importance. 
                              In 17th. century under Raja Bir Singh Deo of Orchha 
                              Jhansi again rose to prominence.Raja Bir Singh Deo 
                              had good relations with the mughal emperor Jehangir.In 
                              1613 Raja Bir Singh Deo constructed the Jhansi fort. 
                              He died in 1627. After his death his son Juhar Singh 
                              succeeded him.Maharaja Chhatrasal Bundela of Panna 
                              was a good administrator and a brave warrior. In 
                              1729 Mohammed Khan Bangash attacked Chhatrasal. 
                              Peshwa Baji Rao(I ) helped Maharaja Chhatrasal and 
                              defeated mughal army. As a mark of gratitude Maharaja 
                              Chhatrasal offered a part of his state to Maratha 
                              Peshwa Baji Rao(I). Jhansi was also included in 
                              this part.In 1742 Naroshanker was made the subedar 
                              of Jhansi.During his tenure of 15 years he not only 
                              extended the Jhansi fort which was of strategic 
                              importance but also constructed some other buildings.</font></div></td>
                        </tr>
                        <tr> 
                          <td valign="top"><img src="pics/rani_histry_fost.jpg" width="115" height="104"></td>
                          <td><div align="justify"><font color="#000000"> The 
                              extended part of the fort is called Shankergarh.In 
                              1757 Naroshanker was called back by the Peshwa. 
                              After him Madhav Govind Kakirde and then Babulal 
                              Kanahai were made the subedars of Jhansi.In 1766 
                              Vishwas Rao Laxman was made the subedar of Jhansi.His 
                              period was from 1766 to 1769. After him Raghunath 
                              Rao (II) Newalkar was appointed the subedar of Jhansi. 
                              He was a very able administrator. He increased the 
                              revenue of the state.The MahaLaxmi Temple and the 
                              Raghunath Temple were built by him. For his own 
                              residence he constructed a beautiful building Rani 
                              Mahal in the city. In 1796 Raghunath Rao passed 
                              the subedari in favour of his brother ShivRao Hari.In 
                              1803 a </font></div></td>
                        </tr>
                        <tr> 
                          <td><img src="pics/rani_hostry_fost_1.jpg" width="115" height="90"></td>
                          <td><font color="#000000">treaty was signed between 
                            East India company and Maratha. After the death of 
                            Shiv Rao his grand son Ramchandra Rao was made subedar 
                            of Jhansi. He was not a good administrator. Ramchandra 
                            Rao died in 1835. After his death Raghunath Rao (III) 
                            was made his successor. In 1838 Raghunath Rao(III) 
                            also died. The British rulers then accepted Gangadhar 
                            Rao as the Raja of Jhansi.Due to the inefficient administration 
                            during the period of Raghunath Rao (III) the financial 
                            position of Jhansi was very critical.Raja Gangadhar 
                            Rao was a very good administrator. He was very generous 
                            and full of sympathy. He gave very good administration 
                            to Jhansi. During his period the local population 
                            of Jhansi was very satisfied.</font></td>
                        </tr>
                        <tr> 
                          <td><img src="pics/rani_hostry_fost_2.jpg" width="115" height="100"></td>
                          <td><font color="#000000">In 1842 Raja Gangadhar Rao 
                            married to Mannikarnika. After this marriage Mannikarnika 
                            was given the new name Laxmi Bai , who led forces 
                            against British in 1857. She sacrificed her life to 
                            the cause of Indian Independence in 1858.In 1861 the 
                            British Government gave the Jhansi fort and Jhansi 
                            city to JivajiRao Scindia. Jhansi was then became 
                            a part of Gwalior state. In 1886 Britishers took back 
                            Jhansi from Gwalior state.In independent India Jhansi 
                            was included in Uttar Pradesh.At present Jhansi is 
                            a Divisional Commissioner's Headquarter including 
                            district Jhansi, Lalitpur and Jalaun.Rani Laxmi Bai, 
                            the fiery Queen of Jhansi, also known as the Rani 
                            of Jhansi, one of the great nationalist heroine of 
                            the first war of Indian freedom, </font></td>
                        </tr>
                        <tr>
                          <td valign="top"><img src="pics/rani_hostry_fost_gate.jpg" width="115" height="178"></td>
                          <td><div align="justify"><font color="#000000">a symbol 
                              of resistance to the British rule in India was born 
                              on 19th November 1835 at Kashi (Presently known 
                              as Varanasi). Her father Moropanth was a Brahmin 
                              and her mother Bhagirathibai was a cultured, intelligent 
                              and god fearing lady.Mannikarnika (Manu) was the 
                              name of Rani Laxmi Bai in her childhood. Manu lost 
                              her mother at the age of four. The Complete responsibility 
                              of the young girl fell on the father. She completed 
                              her education and also learned horse riding, Sword 
                              fighting and shooting on a target with a gun.She 
                              was married to Raja Gangadhar Rao, the Maharaja 
                              of Jhansi in 1842, and became the Rani of Jhansi. 
                              After the marriage She was given the name Laxmi 
                              Bai. The Marriage ceremony was performed in Ganesh 
                              Mandir, the temple of Lord Ganesha situated in the 
                              city of Jhansi.</font><font color="#000000">Rani 
                              Laxmi Bai gave birth to a son in 1851, but unfortunately 
                              this child died when he was about four months old. 
                              After this tragedy, Damodar Rao was adopted a son. 
                              Later on Maharaja Gangadhar Rao also died on 21st 
                              November 1853.After the death of Maharaja Gangadhar 
                              Rao, Rani Laxmi Bai was left alone. At this time 
                              she was eighteen years old.Rani Laxmi Bai did not 
                              lost her courage, She always remembered her responsibility.</font></div></td>
                        </tr>
                        <tr> 
                          <td>&nbsp;</td>
                          <td><div align="right"><a href="jhansi_history1.php" >Next...</a></div></td>
                        </tr>
                      </table>
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>