<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					Mayer Details</h2>
					<table width="100%" align="left">
					<tr>
					  <td><table width="100%"  border="0" cellspacing="5" cellpadding="5">
						   <tr>
						 <td align="center" width="20%">__c_image__</td><td valign="top"><b>__Mayer_Name__</b></td>
						 </tr>
						 <tr>
						 <td align="left" colspan="2" ><b>About : __Mayer_Name__</b></td>
						 </tr>
						  <tr>
						 <td align="left" colspan="2" >__Mayer_Desc__</td>
						 </tr>
						 </table>
						  </td></tr>
						
				 </table>
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>