<script type="text/javascript">
  function validateForm() {
    var name = document.forms["smart_city"]["name"].value;
    var mobile = document.forms["smart_city"]["mobile"].value;
    var address = document.forms["smart_city"]["address"].value;
    if (name == "") {
        alert("Please enter name.");
        return false;
    }
    if (mobile == "") {
        alert("Please enter mobile.");
        return false;
    }
    if (address == "") {
        alert("Please enter address.");
        return false;
    }
  }
</script>
<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					SMART CITY LINK</h2>
					<p>&nbsp;</p>
					<br>	<br>
					&nbsp;&nbsp;<a href="http://smartcities.gov.in/" target="_blank"><b>http://smartcities.gov.in/</b></a>
					<br>	<br>
					&nbsp;&nbsp;<a href="http://smartcityjhansi.com/" target="_blank"><b>http://smartcityjhansi.com/</b></a>
					<br>	<br>
          <!--<form action="" method="post" name="smart_city" onsubmit="return validateForm()">
					<table width="100%" border="0" cellspacing="10" cellpadding="10" align="center">
						<tr> 
							  <td align="center" colspan="2"><strong>__msg__</strong></td>
						</tr>
            <tr> 
							  <td align="center" colspan="2"><strong>Register For Smart City</strong></td>
						</tr>
						<tr> 
							  <td align="right" width="40%">Name : </td>
							  <td align="center" width="60%"><input type="text" name="name"></td>
						</tr>
            <tr> 
							  <td align="right" valign="top" width="40%">Address : </td>
							  <td align="center" width="60%"><textarea name="address" rows="4" cols="22"></textarea></td>
						</tr>
            <tr> 
							  <td align="right" width="40%">Mobile No. </td>
							  <td align="center" width="60%"><input type="text" name="mobile"></td>
						</tr>
						<tr> 
							  <td align="center" width="40%"></td>
							  <td align="center" width="60%"><input type="submit" name="submit" value="submit"></td>
						</tr>
             <tr> 
							  <td align="center" colspan="2"><a href="smartcity_login.php">Click Here</a> to login.</td>
						</tr>
					</table>
          </form>-->
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>