
<table width="680px" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			  	<td colspan="2" align="left" valign="top">
					<h2 class="home_cont"><img src="images/content_header_img.png" alt="" align="absmiddle" />
					Smart City</h2>
					<p>&nbsp;</p>
          <form action="" method="post" name="smart_city" >
					<table width="100%" border="0" cellspacing="10" cellpadding="10" align="center">
						<tr> 
							  <td align="center" colspan="2"><strong>__msg__</strong></td>
						</tr>
            <tr> 
							  <td align="center" colspan="2"><strong>Login For Smart City</strong></td>
						</tr>
						<tr> 
							  <td align="right" width="40%">Mobile : </td>
							  <td align="center" width="60%"><input type="text" name="mobile"></td>
						</tr>
            <tr> 
							  <td align="right" width="40%">Password :</td>
							  <td align="center" width="60%"><input type="password" name="password"></td>
						</tr>
						<tr> 
							  <td align="center" width="40%"></td>
							  <td align="center" width="60%"><input type="submit" name="submit" value="Login"></td>
						</tr>
					</table>
          </form>
					</td>
			  </tr>
			</table>
		  </td>
        </tr>
 </table>