<Script language=javascript>
<!--
function checkSignUpDetails()
{	with(window.document.add_estimate)
	{	
        if(MadId.value=="")
		{	
            alert("Please select mad name.");
			MadId.focus(); 
            return false;
		} 
		if(WorkName.value=="")
		{	
            alert("Please enter work name.");
			WorkName.focus(); 
            return false;
		}
	}
	
}

</Script>
<script type="text/javascript">
$(function () {
$("#AddedDate").datepicker({
changeMonth: true,
changeYear: true,
yearRange: '2012:2020'
});
});
$(function () {
$("#ProposedDate").datepicker({
changeMonth: true,
changeYear: true,
yearRange: '2012:2020'
});
});

function ShowMadInfo(value)
  {
    
	   var myRandom=parseInt(Math.random()*99999999);  // cache buster
       makeRequest("mad_info","returnmadinfo.php?value="+value+"&rand="+myRandom); 
	
  
  }
</script>

<table width="100%" align="left"> 
      <tr><td> 
       <form  name="add_estimate" action="edit_civilwork.php" method="post" onsubmit='return checkSignUpDetails();'  enctype="multipart/form-data"> 
     <table align="left" cellspacing="4" cellpadding="4" width="100%" border="0" align="center"> 
      <tr>
     <td height="40" colspan='2'>
      <a href='#'><b>Enter Civil work with photo Information</b></a>
     </td>
    </tr>
		    <tr>    
            <td width='20%'><span style="font-family: 'kruti_dev_010regular';font-size:15px;">okMZ Uka0</span> :</td>    
            <td align="left">
              <input type="text" name="WardNo" size="5" value="__WardNo__" ></td>   
            </td>   
          </tr>
          
          <tr>    
            <td   ><span style="font-family: 'kruti_dev_010regular';font-size:15px;">dk;Z dk uke</span> :</td>    
            <td align="left">
              <textarea name='WorkName' rows='3' cols='40' style="font-family: 'kruti_dev_010regular';font-size:15px;">__WorkName__</textarea></td>   
          </tr>
           
		 
           <tr><td  ><span  style="font-family: 'kruti_dev_010regular';font-size:15px;">dk;Z izkjfEHkd dh QksVks</span></td>
           <td align='left'><span><input type="file" name="image_under"   > <br > __startphoto__ <input type="hidden" name="underImg" value="__start_photo__"></td></tr>
		  <tr><td>&nbsp;</td></tr>
          
            <tr><td  ><span  style="font-family: 'kruti_dev_010regular';font-size:15px;">dk;Z dh izxfr'khy QksVks</span></td>
           <td align='left'><span><input type="file" name="image_inprogress"   > <br /> __inprogressphoto__ <input type="hidden" name="improgressImg" value="__inprogess_photo__"></td></tr>
		  <tr><td>&nbsp;</td></tr>
          
            <tr><td  ><span  style="font-family: 'kruti_dev_010regular';font-size:15px;">dk;Z lekfIr dh QksVks </span></td>
           <td align='left'><span><input type="file" name="image_completed"   > <br/>__completedphoto__ <input type="hidden" name="completedImg" value="__complete_photo__"></td></tr>
		  <tr><td>&nbsp;</td></tr>
          
          
		    <tr><td  ><span  style="font-family: 'kruti_dev_010regular';font-size:15px;">fu'ikfnr /kukad</span></td><td align='left'><span><input type="text" name="date1" size="15"  value="__TotalAmount__"></td></tr>
            
            
              <tr><td  ><span  style="font-family: 'kruti_dev_010regular';font-size:15px;">QksVks viyksM fnukad</span></td><td align='left'><span><input type="text" name="date2" id="ProposedDate"   size='15' readonly value="__ProposedDate__"></td></tr>
              
                <tr><td  ><span>Status</span></td>
                <td align='left'>
                <select name="status" >
                <option value="">Select Status</option>
                <option value="1" __pendingstatus__ >Pending</option>
                <option value="2" __completedstatus__ >Complete</option>
                </select></td></tr>
          <tr>   
           <td></td>   
           <td>
			  <input type='hidden' name='EstmtId' value='__eid__'>
              <input type="submit" name="submit" value="Update" class="button">
           </td>   
          </tr>  
        </table>  
      </form> 
    </td></tr>
  </table>