<tr>
 <td>__slno__</td>
 <td><input type="checkbox" name = cid[] value = "__cid__"></td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__MadName__</div></td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__WorkName__</div></td>
 <td ><div align='right' style='padding-right:15px;'>__WardNo__</div></td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__AreaName__</div></td>
 <td ><div align='right' style='padding-right:10px;'>__TotalAmount__</div></td>
 <td ><div >__Status__</div></td>
 <!-- <td><div >__Status__</div></td> -->
 <td>
   __edit__<a href="estimate_details.php?cid=__cid__">View</a>
 </td>
</tr>