<tr>
 <td>__slno__</td>
 <td><input type="checkbox" name = cid[] value = "__cid__"></td>
 <td >__WardNo__</td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;" >__WorkName__</div></td>
 <td >__appdate__</td>
  <td >__WorkStartDate__</td>
 <td >__WorkEndDate__</td>
  <td style='font-family: kruti_dev_010regular;font-size:15px;' nowrap>__ContractorName__</div></td>
 <td ><div >__WorkOrderNo__</div></td>
 <td><div >__Amount__</div></td>
 <td ><div >__Installment__</div></td>
 <td><div >__PayDate__</div></td>
 <td><div >__CheckNo__</div></td>
 <td><div >__CheckDate__</div></td>
 <td>
   <a href="edit_payment.php?cid=__cid__">Edit</a>
 </td>
</tr>