<Script language=javascript>
<!--
function checkSignUpDetails()
{	with(window.document.add_transferdetail)
	{	
     	if(document.add_transferdetail.EmployeeCode.value=="")
	{	alert("Enter employee code.");
		document.add_transferdetail.EmployeeCode.focus(); 
		return false;
	}
	}
	
}



function addRow(tableID) {
 
			var table = document.getElementById(tableID);
 
			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);
 
			var colCount = table.rows[0].cells.length;
 
			for(var i=0; i<colCount; i++) {
 
				var newcell	= row.insertCell(i);
 
				newcell.innerHTML = table.rows[0].cells[i].innerHTML;
				//alert(newcell.childNodes);
				switch(newcell.childNodes[0].type) {
					case "text":
						newcell.childNodes[0].value = "";
							break;
					case "checkbox":
							newcell.childNodes[0].checked = false;
							break;
					case "select-one":
							newcell.childNodes[0].selectedIndex = 0;
							break;
				}
			}
}
</Script>
<h2 style="font-family: 'kruti_dev_010regular';font-size:20px;font-weight:bold;">uksfeuh fooj.k</h2>
<table width="100%" align="left"> 
      <tr><td> 
         <form name="add_transferdetail" action="add_nominee.php" method="post" onsubmit='return checkSignUpDetails();' enctype="multipart/form-data"> 
         <table align="left" cellspacing="0" cellpadding="4" width="100%" border="1" align="center"> 
		   <tr>
		 <td align="center"  class="successmsg" colspan='2'><b>__PROMPT__</b></td>
		 </tr>
		  <tr>
		  <td width='50%' ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >deZpkjh dksM uEcj</span><span style='padding-left:60px;'><input type="text" name="EmployeeCode" size='20'> </td>
		 </tr>
		   
		 <tr><td colspan='2'>
		 
		 <table width="100%" border="0" cellspacing="2" cellpadding="0" >
						   <tr><td width="25%" style="font-family: 'kruti_dev_010regular';font-size:20px;" >uksfeuh dk uke</td><td width="10%" style="font-family: 'kruti_dev_010regular';font-size:20px;">fyax</td><td width="15%" style="font-family: 'kruti_dev_010regular';font-size:20px;">fjys'ku</td><td width="10%" style="font-family: 'kruti_dev_010regular';font-size:20px;">tUe frfFk</td><td width="10%" style="font-family: 'kruti_dev_010regular';font-size:20px;">ih0,Q0 ijlsaV</td>
						   </tr>
						    <tr><td colspan="5">
								<table width="100%" border="0" cellspacing="2" cellpadding="0" id="dataTable">
								<tr><td><input name="NomineeName[]" type="text" style="font-family: 'kruti_dev_010regular';font-size:20px;"  size="30"></td><td><input name="NomineeSex[]" type="text" style="font-family: 'kruti_dev_010regular';font-size:20px;"  size="10"></td><td><input name="NomineeRelation[]" type="text" style="font-family: 'kruti_dev_010regular';font-size:20px;" size="15"></td><td><input name="NomineeDob[]" type="text" class="inp"  size="15"></td><td><input name="NomineePF[]" type="text" class="inp"  size="10"></td></tr>
								</table>
						   </tr></td>
						   </table>
		<div><input type="button" name="addmore" value="ADD MORE NOMINEE" onclick="addRow('dataTable')"></div>
		 </td></tr>
		 
		 <tr>
		  <td colspan='2' align='center'><input type="submit" name="submit" value="Update" class="button">&nbsp;<input type="button" name="cancel" value="Cancel" onclick='javascript:history.go(-1);'></td>
		 </tr>  
        </table>  
      </form> 
    </td></tr>
  </table>