<Script language=javascript>
function checkSignUpDetails()
{	
   if(document.add_transferdetail.EmployeeCode.value=="")
	{	alert("Enter employee code.");
		document.add_transferdetail.EmployeeCode.focus(); 
		return false;
	}

	

}


</Script>
<script language="javascript" type="text/javascript">
$(function () {
$("#TransferDate").datepicker({
changeMonth: true,
changeYear: true,
yearRange: '1935:2020'
});
});
 </script>
<h2 style="font-family: 'kruti_dev_010regular';font-size:20px;font-weight:bold;">LFkkukUrj.k fooj.k</h2>
<table width="100%" align="left" border='0'>
<form name="add_transferdetail" action="add_transferdetail.php" method="post" onsubmit='return checkSignUpDetails();' enctype="multipart/form-data">
	<tr>
	  <td><table width="100%"  border='1' cellspacing="0" cellpadding="5">
	      <tr>
		 <td align="center"  class="successmsg" colspan='2'><b>__PROMPT__</b></td>
		 </tr>  
		  <!-- <tr>
		 <td align="left"  class="successmsg" colspan='2' style="font-family: 'kruti_dev_010regular';font-size:20px;" ><b>O;fDrxr lwpuk</b></td>
		 </tr> -->
		 <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >deZpkjh dksM uEcj</span><span style='padding-left:78px;'><input type="text" name="EmployeeCode" size='23'> </td>
		  </tr>
		   <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >inuke</span><span style='padding-left:158px;'><input type="text" name="TransferPost" size='25' style="font-family: 'kruti_dev_010regular';font-size:20px;"> </td></tr>
		  <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >LFkkuh; fudk;@vuqHkkx</span><span style='padding-left:40px;'><input type="text" name="TransferTo" size='25' style="font-family: 'kruti_dev_010regular';font-size:20px;"> </td>
		 </tr>
		 <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >LFkkukUrj.k dk fnukad</span><span style='padding-left:55px;'><input type="text" name="TransferDate" id="TransferDate"    size='15'> </td>
		 </tr>
		 
		 <tr>
		  <td colspan='2' align='center'><input type="submit" name="submit" value="Update" class="button">&nbsp;<input type="button" name="cancel" value="Cancel" onclick='javascript:history.go(-1);'></td>
		 </tr> 
		 </table>
		  </td></tr>
		 </form>
 </table>
 



