<Script language=javascript>

function ShowPosts(value)
  {
    
	   var myRandom=parseInt(Math.random()*99999999);  // cache buster
       makeRequest("post_id","returnposts.php?value="+value+"&rand="+myRandom); 
	
  
  }


</Script>
<script language="javascript" type="text/javascript">
 </script>
<h2 style="font-family: 'kruti_dev_010regular';font-size:20px;font-weight:bold;">uksfeuh fooj.k</h2>
<table width="100%" align="left" border='0'>
<form name="add_education" action="edit_nominee.php" method="post">
	<tr>
	  <td><table width="100%"  border='1' cellspacing="0" cellpadding="5">
	    <!--  <tr>
		 <td align="center"  class="successmsg" colspan='2'><b>__PROMPT__</b></td>
		 </tr>  -->
		  <!-- <tr>
		 <td align="left"  class="successmsg" colspan='2' style="font-family: 'kruti_dev_010regular';font-size:20px;" ><b>O;fDrxr lwpuk</b></td>
		 </tr> -->
		 <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >deZpkjh dksM uEcj</span><span style='padding-left:78px;'><input type="text" name="EmployeeCode" size='23' value='__EmployeeCode__' > </td>
		  </tr>
		   <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >uksfeuh dk uke</span><span style='padding-left:105px;'><input type="text" name="NomineeName" size='25' value="__NomineeName__" style="font-family: 'kruti_dev_010regular';font-size:20px;"> </td></tr>
		  <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >fyax</span><span style='padding-left:175px;'><input type="text" name="NomineeSex" size='15' value='__NomineeSex__' style="font-family: 'kruti_dev_010regular';font-size:20px;"> </td>
		 </tr>
		 <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >fjys'ku</span><span style='padding-left:155px;'><input type="text" name="NomineeRelation" size='25'value="__NomineeRelation__" style="font-family: 'kruti_dev_010regular';font-size:20px;"> </td>
		 </tr>
		 <tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >tUe frfFk </span><span style='padding-left:130px;'><input type='text' name="NomineeDob" value="__NomineeDob__" > </td>
		 </tr>
		<tr>
		  <td  ><span style="font-family: 'kruti_dev_010regular';font-size:20px;" >ih0,Q0 ijlsaV </span><span style='padding-left:95px;'><input type='text' name="NomineePF" value='__NomineePF__' > </td>
		 </tr>
		
		 <tr>
		  <td colspan='2' align='center'><input type='hidden' name='NomineeId' value="__NomineeId__"><input type="submit" name="submit" value="Update" class="button">&nbsp;<input type="button" name="cancel" value="Cancel" onclick='javascript:history.go(-1);'></td>
		 </tr> 
		 </table>
		  </td></tr>
		 </form>
 </table>
 



