	<div class="header_login">
    <div class="logo"><!-- <a href="#"><img src="../adm_images/logo.gif" alt="" title="" border="0" /></a> --></div>
    <br><br><br><br><br><br>
    </div>

     
         <div class="login_form">
         
         <h3>Admin Panel Login</h3>
         
         
         
         <form action="index.php" method="post" class="niceform" name='login'>
         
                <fieldset>
                    <li>
                        <label for="email">Username:</label></dt>
                        <input type="text" name="uname" id="uname" size="54" />

                    <li
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" size="54" />
                    </li>
                    
                   <!--  <li class="remem">
                    	<input type="checkbox" name="interests[]" id="" value="" /><label class="check_label">Remember me</label>
                        
                    </li>
                     -->
                    
                     <li>
                     <input type="submit" name="submit" id="submit" value="SUBMIT" />
                     </li>
                    
                </fieldset>
                
         </form>
         </div>  
