<tr>
        	<td>__department__</td>
			<td>__total_emp__</td>
            <td>General</td>
            <td>__tot_gen1__</td>
			<td>__tot_gen2__</td>
            <td>__tot_gen3__</td>
            <td>__tot_gen4__</td>
</tr>
<tr>
        	<td>&nbsp;</td>
			<td>&nbsp;</td>
            <td>Handicapped</td>
            <td>__total_handi1__</td>
			<td>__total_handi2__</td>
            <td>__total_handi3__</td>
            <td>__total_handi4__</td>
</tr>
<tr>
        	<td>&nbsp;</td>
			<td>&nbsp;</td>
            <td>OBC</td>
            <td>__total_obc1__</td>
			<td>__total_obc2__</td>
            <td>__total_obc3__</td>
            <td>__total_obc4__</td>
</tr>
<tr>
        	<td>&nbsp;</td>
			<td>&nbsp;</td>
            <td>SC</td>
            <td>__total_sc1__</td>
			<td>__total_sc2__</td>
            <td>__total_sc3__</td>
            <td>__total_sc4__</td>
</tr>
<tr>
        	<td>&nbsp;</td>
			<td>&nbsp;</td>
            <td>ST</td>
            <td>__total_st1__</td>
			<td>__total_st2__</td>
            <td>__total_st3__</td>
            <td>__total_st4__</td>
</tr>
<tr>
        	<td>&nbsp;</td>
			<td>&nbsp;</td>
            <td><b>Total</b></td>
            <td><b>__Total1__</b></td>
			<td><b>__Total2__</b></td>
            <td><b>__Total3__</b></td>
            <td><b>__Total4__</b></td>
</tr>
