<tr>
        	<td>__slno__</td>
			<td><input type="checkbox" name = pid[] value = "__pid__"></td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__Post__</td>
            <td style="font-family: kruti_dev_010regular;font-size:20px;">__S_Nikay__</td>
            <!-- <td style="font-family: kruti_dev_010regular;font-size:20px;">__Reason__</td> -->
            <td >__FromDate__</td>
            <td >__ToDate__</td>
            <td >__Salary__</td>
            <td >__BasicSalary__</td>
            <td><a href="#"><img src="../adm_images/user_edit.png" alt="" title="" border="0" /></td>
            <td>__status__</td>
			
        </tr>


