<tr > 
 <td  class='__trclass__' class='__trclass__'>__slno__</td>
 <td class='__trclass__' >__wardno__</td>
 <td class='__trclass__' ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__workname__</div></td>

 <td class='__trclass__' >__startphoto__</td>
 <td class='__trclass__' >__inprogressphoto__</td>
 <td class='__trclass__' >__completedphoto__</td>

 <td class='__trclass__' >__workstartdate__</td>
 
 <td class='__trclass__' >__workenddate__</td>
 <td class='__trclass__' ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__Status__</div></td>
</tr>