<br/><br/>
<table width="100%" align="left"> 
  <form name="submit" action="add_comment.php" method="POST"> 
    <tr><td colspan="2" align="center"><b>__message__</b></td></tr>
    <tr>
    <td valign="top">Comment</td>
    <td height="50" valign="middle">
     <textarea rows='6' cols='50' style='font-family:Kruti Dev 011;font-size:18px;' name='comment'></textarea>
    </td>
   </tr>
   <tr>
    <td></td>
    <td>
     <input type="hidden" name="reg_id" value="__id__">
     <input type="hidden" name="type_id" value="__type__">
     <input type="submit" name="add" value="add">
    </td>
   </tr>
   </form>
  </table>