<script language = javascript>
<!--
function selectAll()
{	with(window.document.page)
	{
		totalElements = elements.length;
		for(i = 0; i < totalElements; i++)
		{	if (elements[i].type == 'checkbox')
			{	elements[i].checked = true;
			}
		}		
	}
}

function selectNone()
{	with(window.document.page)
	{	 
		totalElements = elements.length;
		for(i = 0; i < totalElements; i++)
		{	
			if (elements[i].type == 'checkbox')
			{	elements[i].checked = false;
			}
		}		
	}
}

function checkSelected()
{	with(window.document.page)
	{	totalChecked = 0; 
		totalElements = elements.length;
		for(i = 0; i < totalElements; i++)
		{	
			if (elements[i].type == 'checkbox')
			{	if (elements[i].checked) 
				{	totalChecked++;
					break;
				}
			}
		}		

		if (totalChecked == 0)
		{	alert("Select a items");
			return false;
		}

		return true;
	}
}

function confirmDelete()
{	with(window.document.page)
	{	if (checkSelected())
		{	return confirm("The selected items will be deleted. Are you sure?");
		}
		else
		{	return false;
		}
	}
}

//-->
</script>
<table width="100%" align="left">
 <tr>
  <td height="90">
  
  <table border="0" cellpadding="0" cellspacing="0" align="left" width="100%"> 
    
     <tr>
     <form name="page1" action="automation.php" method="POST">
     <td height="40">
       <input type="text" name="r_no">&nbsp;&nbsp;&nbsp;<input type="submit" name="submit" value="search">
     </td>
     </form>
    </tr>
    
    <tr>
     <td align="center"  bgcolor="#464682" style="text-decoration:none;color:#FFFFFF"><b>__PROMPT__</b></td>
    </tr>
  </table>
  </td>
  </tr>
 <tr>
  <td height="40">
  <form name="page" action="automation.php" method="post">
  <table border="0" cellpadding="5" cellspacing="1" align="center"  class="tableList">
  <tr>
   <th><b>S.No</b></th>
   <th><b>Select</b></th>
   <th><b>Reg.No</b></th>
   <th><b>Name</b></th>
   <th><b>App. Address</b></th>
   <th><b>Contact no</b></th>
   <th><b>Status</b></th>
   <th><b>Print</b></th>
  </tr>
  __PRODUCT_LIST__
  <tr><td colspan="9" align="right">
  <input type="button" value="Select All" onclick="return selectAll();" class="button">
  <input type="button" value="Select None" onclick="return selectNone();"  class="button">
  <input type="submit" name="SUBMIT_DELETE" value="Delete Selected" onclick="return confirmDelete();"  class="button">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
  </td></tr>
  </table>
  </form>
 </td>
  </tr>
  <tr>
  <td>
  <table align="center" width="95%" style="border-color:#FFFFFF">
   <tr><td align="right">__PREV_PAGE_LINK__&nbsp;&nbsp;&nbsp;Pages: __PAGE_NAVS__&nbsp;&nbsp;&nbsp; __NEXT_PAGE_LINK__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
  </table> 

</td>
 </tr>
</table>