<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" valign="top" class="text">Reports</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
      <table width="100%" border="0" cellspacing="4" cellpadding="4">
        <tr>
          <td><a href="zone_report.php">Department Wise Reports</a></td>
        </tr>
        <tr>
          <td><a href="glance_report.php">Report at a Glance</a></td>
        </tr>
        <!--<tr>
          <td><a href="zonefee_report.php">Zone Wise Fee Details</a></td>
        </tr>-->
      </table>
     </td>
    </tr>
  </table>