<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" valign="top" class="text">Department Report</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
      <form name="search" action="" method="POST"> 
      <table width="100%" border="0" cellspacing="4" cellpadding="4">
        <tr>
         <td>Department : <select name="department" style='font-family:Kruti Dev 011;font-size:18px;'><option value="1000">lHkh foHkkx</option>__dep_list__</select></td>
         <td>Start Date : <input type="text" name="sdate" id="demo1" size="7"><a href="javascript:NewCal('demo1','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>
         <td>End Date : <input type="text" name="edate" id="demo2" size="7"><a href="javascript:NewCal('demo2','ddmmyyyy')"><img src="../imges/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a></td>
         <td><input type="submit" name="submit" value="search" class="button"></td>
        </tr>
      </table>
      </form>
     </td>
    </tr>
  </table>