<div id="logoarea">
      <div id="logoarealeft">
        <div id="logo"><a href="index.html"><img src="images/logo.png" width="126" height="126" /></a></div>
        <div id="like"><img src="images/logoname.png" width="288" height="25" />
          <div id="subname">Welcome to Nagar Nigam Official website</div>
        </div>
      </div>
      
    </div>
    <div id="navigation">
      <ul>
        <li><a href="index.php">Home</a></li>
        <li><a href="#">Reports</a>
			<ul>
						    <li><a href="emp_summary.php">Summary of Employees</a></li>
						    <li><a href="emp_info.php">Employee Information</a></li>
						    <li><a href="emp_hnd_summary.php">Summary of Handicapped</a></li>
						    <li><a href="emp_gen_summary.php">Summary of General</a></li>
						    <li><a href="emp_obc_summary.php">Summary of OBC</a></li>
						    <li><a href="emp_sc_summary.php">Summary of SC</a></li>
						    <li><a href="emp_st_summary.php">Summary of ST</a></li>
						    <li><a href="emp_in_class.php">Employees in Class</a></li>
							<li><a href="emp_retirement.php">Retirement List</a></li>
							<!-- <li><a href="emp_not_permanent.php">Employee not Permanent</a></li>
						    <li><a href="emp_postwise.php">Post wise Employees</a></li>
						    
						    <li><a href="emp_senioritylist.php">Seniority List</a></li>
						    <li><a href="emp_suspended">Suspended Employees</a></li> -->
						    <!-- <li><a href="">Designation wise Summary</a></li> -->
						    <!-- <li><a href="#">Department wise Summary</a></li> -->
						 </ul>
		</li>
		<li><a href='search.php'>Search</a></li>
         <li><a href="login.php">Login</a></li>
      </ul>
    </div>