<tr>
 <td>__slno__</td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__MadName__</div></td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__WorkName__</div></td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__ProposerName__</div></td>
 <td ><div align='right' style='padding-right:15px;'>__WardNo__</div></td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__AreaName__</div></td>
 <td ><div align='right' style='padding-right:10px;'>__TotalAmount__</div></td>
 <td>
   <a href="proposedwork_details.php?cid=__cid__">__strIsTender__</a>
 </td>
</tr>