<tr>
 <td>__slno__</td>
 <!-- <td><input type="checkbox" name = cid[] value = "__cid__"></td> -->
<!--  <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__MadName__</div></td> -->
 <td ><div align='right' style='padding-right:15px;'>__WardNo__</div></td>
 <td ><div style="font-family: 'kruti_dev_010regular';font-size:15px;">__WorkName__</div></td>
 <td align='right'><div style='padding-right:15px;'>__EstimatedAmount__</div></td>
 <td ><div >__MinRate__</div></td>
 <td ><div align='right' style='padding-right:10px;'>__TotalAmount__</div></td>
 
 <td ><div >__DepositeType__<br>__DepositeDetails__</div></td>
 <td style="font-family: 'kruti_dev_010regular';font-size:15px;"><div align='left' >__ContractorName__</div></td>
 <td ><div >__WorkOrderNo__</div></td>
 <td ><div >__WorkStartDate__ To __WorkEndDate__</div></td>
 <!-- <td><div >__Status__</div></td> -->
  <td style="font-family: 'kruti_dev_010regular';font-size:15px;">
   __FinalComments__
 </td> 
</tr>