<table valign="top" border="0" width="100%" cellspacing="0" cellpadding="0" height="500">
  <tr>
   <td align="left" valign="top"><img src="../img/tl.gif" width="252" height="14" /></td>
  </tr>
  <tr ><td class="main-menu"><a href="add_complainant.php">Add Complaint</a></td></tr>
  <tr ><td class="main-menu"><a href="complainant.php">Total Complaints </a></td></tr>
  <tr ><td class="main-menu"><a href="disposed_comp.php" >Total Disposed Complaints</a></td></tr>
  <tr ><td class="main-menu"><a href="pending_comp.php" >Total pending Complaints</a></td></tr>
  <tr ><td class="main-menu"><a href="default_comp.php" >Total default Complaints</a></td></tr>
  <tr ><td class="main-menu"><a href="proposals.php" >Proposals </a></td></tr>
  <tr ><td class="main-menu"><a href="disposed_proposal.php" >Disposed Proposals </a></td></tr>
  <tr ><td class="main-menu"><a href="all_reports.php" >All Reports</a></td></tr>
  <tr ><td class="main-menu"><a href="nature_comp.php" >Department</a></td></tr>
  <tr ><td class="main-menu"><a href="con_officer.php" >Officers</a></td></tr>
  <tr ><td class="main-menu"><a href="wards.php" >Wards</a></td></tr>
  <tr ><td class="main-menu"><a href="corporator.php" >Corporators</a></td></tr>
  <!--<tr ><td class="main-menu"><a href="group_add.php" >Add Group</a></td></tr>
  <tr ><td class="main-menu"><a href="group_member.php" >Add Officer In Group</a></td></tr>
  <tr ><td height="40" bgcolor="#cac5b6" style="border-bottom:1px solid #4b0100">&nbsp;&nbsp;&nbsp;<a href="congroup_member.php" style="text-decoration:none;color:#4b0100"><b>Add Concerned Officer In Group</b></a></td></tr>
  <tr ><td class="main-menu"><a href="bulk_sms.php" >Bulk SMS </a></td></tr>
  <tr ><td class="main-menu"><a href="bulk_email.php" >Bulk Email</a></td></tr>
  <tr ><td height="40" bgcolor="#cac5b6" style="border-bottom:1px solid #4b0100">&nbsp;&nbsp;&nbsp;<a href="city.php" style="text-decoration:none;color:#4b0100"><b>City</b></a></td></tr>-->
  <tr ><td class="main-menu"><a href="change.php" >Change Password </a></td></tr>
  <tr ><td class="main-menu"><a href="logout.php" >Logout</a></td></tr>
  <tr>
    <td align="left" valign="bottom"><img src="../img/bl.gif" width="252" height="14" /></td>
  </tr>
</table>