<table width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr>
      <td align="left" valign="top" bgcolor="#eeeced"><img src="../logo.png" width="154" height="130" style="margin-left:30px;" /></td>
      <td align="left" bgcolor="#eeeced">
       <table width="90%" border="0" cellspacing="3" cellpadding="3">
        <tr>
         <td valign="top" align="left" style='font-family:Kruti Dev 011;font-size:45px;'>tuizfrfuf/k@‘kklu lUnHkZ</td>
        </tr>
        <tr>
         <td class="strip" ></td>
        </tr>
       </table>
      </td>
    </tr>
  </table>