<style>
	.text_image{ background:#B80002; color:#fff; padding:5px; border-radius:23px; box-shadow:1px 2px #000;}
.text_image1 {background:#B80002; color:#fff; padding:5px; border-radius:23px; box-shadow:1px 2px #000;}
</style>
 </head>
<div id='PrintArea'>
  <table class="style1" style="border:1px solid #ccc; border-style: outset;" bgcolor="#fff">
    <tbody>
      <tr>
        <td align="center" bgcolor="#CCC" valign="top">
     <div style="height: auto; width: 930px" align="left">
            <table align="center" style="padding: 1px; height: 762px; font-size: small; margin-top: 1px;">
              <tbody>
                <tr>
                  <td width="10" align="left" style="color: #FF0000">&nbsp;</td>
                  <td width="99" align="left" style='font-family: kruti_dev_010regular;font-size:20PX;'><span id="" style="font-weight:bold;">okMZ uEcj</td>
                  <td class="style62" colspan="2"><table width="558" class="style45">
                    <tbody>
                      <tr>
                        <td width="108" class="style47"><input name="ctl00$ContentPlaceHolder1$txtClassNo" value="__WardNo__" id="ctl00_ContentPlaceHolder1_txtClassNo" disabled="disabled" style="font-weight:bold;width:79px;" type="text" /></td>
                        <td width="36">&nbsp;</td>
                        <td width="89" align="right" style='font-family: kruti_dev_010regular;font-size:20PX;'"><span id="ctl00_ContentPlaceHolder1_lblClassName" style="font-weight:bold;">okMZ dk uke</span></td>
                        <td width="201" ><input name="ctl00$ContentPlaceHolder1$txtClassName" value="__WardName__" id="ctl00_ContentPlaceHolder1_txtClassName"  type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/></td>
                       <!--  <td width="100" align="right">???? </td> --> 
                      </tr>
                    </tbody>
                  </table></td>
                  <!-- <td width="227" class="style30"><input name="ctl00$ContentPlaceHolder1$FileUpload1" id="ctl00_ContentPlaceHolder1_FileUpload1" class="txtbox" style="width:219px;" type="file" /></td> -->
                </tr>
				<tr>
                  <td>&nbsp;</td>
                  <td height="31" class="style66" style='font-family: kruti_dev_010regular;font-size:20PX;'> lQkbZ ,oa [kk| fujh{kd dk uke</td>
                  <td class="style62" style='font-family: kruti_dev_010regular;font-size:20PX;'><input name="ctl00$ContentPlaceHolder1$txtState"  id="ctl00_ContentPlaceHolder1_txtState" style='font-family: kruti_dev_010regular;font-size:20PX;width:190px;'  type="text" value="__cleaner_inspector_name__"/></td>
                  <td class="style55" style='font-family: kruti_dev_010regular;font-size:20PX;'>eksckbZy uEcj </td>
                  <td class="style30" style='font-family: kruti_dev_010regular;font-size:20PX;'><input name="ctl00$ContentPlaceHolder1$txtPin" id="ctl00_ContentPlaceHolder1_txtPin" style="width:190px;" type="text" value='__cleaner_inspector_mobno__'/></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="style66" style='font-family: kruti_dev_010regular;font-size:20PX;'> goynkj dk uke</td>
                  <td class="style62"><input name="ctl00$ContentPlaceHolder1$txtPartyName" id="ctl00_ContentPlaceHolder1_txtPartyName" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;width:190px;'value="__hawaldar_name__"/></td>
                  <td class="style55" style='font-family: kruti_dev_010regular;font-size:20PX;'> eksckbZy uEcj</td>
                  <td class="style30"><input name="ctl00$ContentPlaceHolder1$txtWebsite" id="ctl00_ContentPlaceHolder1_txtWebsite" style="width:190px;" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/ value='__hawaldar_mobno__'></td>
                </tr>
                <tr>
                  <td style="color: #FF0000" align="left">&nbsp;</td>
                  <td class="style66" align="left">&nbsp;</td>
                  <td width="460" class="style62"><input name="ctl00$ContentPlaceHolder1$hdn_View_PhAdd" id="ctl00_ContentPlaceHolder1_hdn_View_PhAdd" type="hidden" /></td>
                  <!-- <td width="110" align="right" class="style55"> ???? ???????? </td>
                  <td class="style30"><input name="ctl00$ContentPlaceHolder1$FileUploadMap" id="ctl00_ContentPlaceHolder1_FileUploadMap" class="txtbox" style="width:227px;" type="file" /></td> -->

                </tr>
                <tr>
                  <td height="31" align="left" class="style48"></td>
                  <td colspan="4" rowspan="3" align="left" valign="top" class="style51"><table width="100%" class="style58" style="border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:10px;">
                    <tbody>
                      <tr>
                        <td height="31" colspan="4" align="center" bgcolor="#ccc" style='font-family: kruti_dev_010regular;font-size:20PX;'> <b>okMZ dh lhek,a</b></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td align="center" class="style60">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td width="9%" rowspan="4">__CorporatorPhoto__<br />
                          <br />
                          <!--<a href='__ReportLink__' target='_new'><input name="ctl00$ContentPlaceHolder1$btnCivilProjects" class="text_image1" id="ctl00_ContentPlaceHolder1_btnCivilProjects" src="" onclick='#' style="height:40px;width:172px;border-width:0px;font-family: kruti_dev_010regular;font-size:20PX;" type="button" value="fodkl dk;kZsa dk fooj.k" style='cursors:hand;'/></a>--></td>
                      </tr>
                      <tr>
                        <td width="28%">&nbsp;</td>
                        <td width="42%" align="center" class="style60"><textarea name="ctl00$ContentPlaceHolder1$txtClassN2" rows="2" cols="20" id="ctl00$ContentPlaceHolder1$txtClassN"  style='height:48px;width:231px;font-family: kruti_dev_010regular;font-size:20PX;'>__north__	</textarea></td>
                        <td width="21%">&nbsp;</td>
                        </tr>
                      <tr>
                        <td class="style59" align="right"><textarea name="ctl00$ContentPlaceHolder1$txtClassW2" rows="2" cols="20" id="ctl00$ContentPlaceHolder1$txtClassW" style='font-family: kruti_dev_010regular;font-size:20PX;height:79px;width:152px;'>__west__
                  </textarea></td>
                        <td class="style61" align="center"><img src="images/Direction.png" name="ctl00_ContentPlaceHolder1_Image1" width="300" height="281" id="ctl00_ContentPlaceHolder1_Image2" style="height:123px;width:163px;border-width:0px;" /></td>
                        <td class="style59"><textarea name="ctl00$ContentPlaceHolder1$txtClassE2" rows="2" cols="20" id="ctl00$ContentPlaceHolder1$txtClassE"  style='font-family: kruti_dev_010regular;font-size:20PX;height:75px;width:152px;'>__east__
                  </textarea></td>
                        </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td class="style60" align="center"><textarea name="ctl00$ContentPlaceHolder1$txtClassS2" rows="2" cols="20" id="ctl00$ContentPlaceHolder1$txtClassS"  style='height:48px;width:231px;font-family: kruti_dev_010regular;font-size:20PX;'>__south__</textarea></td>
                        <td>&nbsp;</td>
                        </tr>
                    </tbody>
                  </table></td>
                </tr>
                <tr>
                  <td class="style48" align="left"></td>
                </tr>
                <tr>
                  <td class="style71" align="left"></td>
                </tr>
                <tr>
                  <td > &nbsp;</td>
                  <td style='font-family: kruti_dev_010regular;font-size:20PX;' align="left">ik’kZn dk uke</td>
                  <td height="31" class="style62"><table class="style58">
                    <tbody>
                      <tr>
                        <td><input name="ctl00$ContentPlaceHolder1$txtParshadName" value="__CorporatorName__" id="ctl00_ContentPlaceHolder1_txtParshadName" style="width:294px;font-family: kruti_dev_010regular;font-size:20PX;" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/></td>
                        <!-- <td><a id="ctl00_ContentPlaceHolder1_btnGoName" disabled="disabled" style="font-weight:bold;">Go</a></td> -->
                      </tr>
                    </tbody>
                  </table></td>
                  <td class="style22">&nbsp;</td>
                  <td rowspan="6" align="center">__WardMap__</td>
                </tr>
                <tr>
                  <td align="left">&nbsp;</td>
                  <td style='font-family: kruti_dev_010regular;font-size:20PX;' align="left"> firk@ifr dk uke</td>
                  <td height="31" class="style62"><input name="" value="__FatherName__" id="" style="width:296px;font-family: kruti_dev_010regular;font-size:20PX;" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/></td>
                  <td class="style22">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color: #FF0000" align="left"> &nbsp;</td>
                  <td style='font-family: kruti_dev_010regular;font-size:20PX;' align="left"> eksckby uEcj </td>
                  <td height="31" class="style42"><input name="ctl00$ContentPlaceHolder1$txtMobileNo" value="__MobileNo__" id="ctl00_ContentPlaceHolder1_txtMobileNo" style='font-family: kruti_dev_010regular;font-size:20PX;' style="width:296px;" type="text" /></td>
                  <td class="style56">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color: #FF0000" align="left">&nbsp;</td>
                  <td style='font-family: kruti_dev_010regular;font-size:20PX;' align="left">bZ&esy</td>
                  <td height="31" class="style42"><input name="ctl00$ContentPlaceHolder1$txtEmail" value="__Email__" id="ctl00_ContentPlaceHolder1_txtEmail" style="width:296px;" type="text" /></td>
                  <td class="style56"></td>
                </tr>
                <tr>
                  <td class="style35" align="left"></td>
                  <td  align="left" style='font-family: kruti_dev_010regular;font-size:20PX;'> “kS{kf.kd ;ksX;rk</td>
                  <td height="31" class="style37"><input name="ctl00$ContentPlaceHolder1$txtEducation" value="__EduQualifications__" id="ctl00_ContentPlaceHolder1_txtEducation"  type="text" style='font-family: kruti_dev_010regular;font-size:20PX;width:296px;'/></td>
                  <td class="style57">&nbsp;</td>
                </tr>
                <tr>
                  <td class="style63" align="left"></td>
                  <td class="style64" align="left" style='font-family: kruti_dev_010regular;font-size:20PX;'>tUe frfFk</td>
                  <td height="31" class="style63"><input name="ctl00$ContentPlaceHolder1$txtDOB" value="__Dob__" id="ctl00_ContentPlaceHolder1_txtDOB" style="width:296px;" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/></td>
                  <td class="style65"></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td style='font-family: kruti_dev_010regular;font-size:20PX;'>O;kolk;@ukSdjh</td>
                  <td height="31" class="style62"><input name="ctl00$ContentPlaceHolder1$txtOccupation" value="__Profession__" id="ctl00_ContentPlaceHolder1_txtOccupation"  type="text" style='font-family: kruti_dev_010regular;font-size:20PX;width:296px;'/></td>
                  <td class="style55">&nbsp;</td>
                  <td class="style30">&nbsp;</td>
                </tr>
                <tr>
                  <td class="style32"></td>
                  <td class="style33" style='font-family: kruti_dev_010regular;font-size:20PX;'> orZeku irk</td>
                  <td class="style27" rowspan="3" align="left"><textarea name="ctl00$ContentPlaceHolder1$txtAddress1" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtAddress1" style='font-family: kruti_dev_010regular;font-size:20PX;height:61px;width:358px;'>__PresentAddress__</textarea></td>
                  <td class="style30" style='font-family: kruti_dev_010regular;font-size:20PX;'>fyax</td>
                  <td><input type='text' name='' value='__Sex__' style='font-family: kruti_dev_010regular;font-size:20PX;'></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="style66">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="style66">&nbsp;</td>
                  <td class="style30">&nbsp;</td>
                </tr>
                <!-- <!-- <tr>
                  <td>&nbsp;</td>
                  <td height="31" class="style66" style='font-family: kruti_dev_010regular;font-size:20PX;'> ???</td>
                  <td class="style62"><input name="ctl00$ContentPlaceHolder1$txtCity" value="????" id="ctl00_ContentPlaceHolder1_txtCity" style="width:190px;" type="text" /></td>
                  <td class="style55" style='font-family: kruti_dev_010regular;font-size:20PX;'> ????</td>
                  <td class="style30" style='font-family: kruti_dev_010regular;font-size:20PX;'><input name="ctl00$ContentPlaceHolder1$txtDistrict" value="????" id="ctl00_ContentPlaceHolder1_txtDistrict" style="width:190px;" type="text" /></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td height="31" class="style66" style='font-family: kruti_dev_010regular;font-size:20PX;'> ??????</td>
                  <td class="style62" style='font-family: kruti_dev_010regular;font-size:20PX;'><input name="ctl00$ContentPlaceHolder1$txtState" value="?????? ??????" id="ctl00_ContentPlaceHolder1_txtState" style="width:190px;" type="text" /></td>
                  <td class="style55" style='font-family: kruti_dev_010regular;font-size:20PX;'> ??? ??? </td>
                  <td class="style30" style='font-family: kruti_dev_010regular;font-size:20PX;'><input name="ctl00$ContentPlaceHolder1$txtPin" id="ctl00_ContentPlaceHolder1_txtPin" style="width:190px;" type="text" /></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="style66" style='font-family: kruti_dev_010regular;font-size:20PX;'> ???????? ?? ?? ???</td>
                  <td class="style62"><input name="ctl00$ContentPlaceHolder1$txtPartyName" value="BJP" id="ctl00_ContentPlaceHolder1_txtPartyName" style="width:190px;" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/></td>
                  <td class="style55"> ??????? ?? ???</td>
                  <td class="style30"><input name="ctl00$ContentPlaceHolder1$txtWebsite" id="ctl00_ContentPlaceHolder1_txtWebsite" style="width:190px;" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/></td>
                </tr> -->
                <tr>
                  <td>&nbsp;</td>
                  <td class="style66">&nbsp;</td>
                  <td class="style62" style='font-family: kruti_dev_010regular;font-size:20PX;'><b>__CorporatorType__<b></td>
                  <td class="style55" style='font-family: kruti_dev_010regular;font-size:20PX;'> vkj{k.k oxZ</td>
                  <td class="style30"><span style="font-size:Medium;font-weight:bold;font-family: kruti_dev_010regular;font-size:20PX;">
                    __Category__
                    </span></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="style66">&nbsp;</td>
                  <td class="style62">&nbsp;</td>
                  <td class="style55">&nbsp;</td>
                  <td class="style30"><input name="ctl00$ContentPlaceHolder1$txtSubCategory" value="__Cast__" id="ctl00_ContentPlaceHolder1_txtSubCategory"  type="text" style='font-family: kruti_dev_010regular;font-size:20PX;width:190px;'/></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td valign="top" class="style66">&nbsp;</td>
                  <td class="style18" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="4" valign="top" class="style66"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top" style='font-family: kruti_dev_010regular;font-size:20PX;'> eksgYyk</td>
                      <td><span class="style18">
                        <textarea name="ctl00$ContentPlaceHolder1$txtMainMohalle" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtMainMohalle"  style='font-family: kruti_dev_010regular;font-size:20PX;height:140px;width:704px;'>__Mohalla__</textarea>
                      </span></td>
                    </tr>
                    <tr>
                      <td valign="top">&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="21%" valign="top" style='font-family: kruti_dev_010regular;font-size:20PX;'> iwoZ esa ;fn ik’kZn jgk gks rks fooj.k</td>
                      <td width="79%"><span class="style18">
                        <textarea name="ctl00$ContentPlaceHolder1$txtOrg" rows="2" cols="10" id="ctl00_ContentPlaceHolder1_txtOrg" style='font-family: kruti_dev_010regular;font-size:20PX;height:71px;width:704px;'>__previous_record_as_corporator__</textarea>
                      </span></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td valign="top" class="style66">&nbsp;</td>
                  <td class="style18" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="4" rowspan="5" valign="top" class="style66"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="21%" height="31" style='font-family: kruti_dev_010regular;font-size:20PX;'> okMZ dh tula[;k</td>
                      <td width="35%" class="style62"><input name="ctl00$ContentPlaceHolder1$txtClassPopulation" id="ctl00_ContentPlaceHolder1_txtClassPopulation" style="width:294px;" type="text"value='__ward_population__'/></td>
                      <td width="17%" class="style19" style='font-family: kruti_dev_010regular;font-size:20PX;'> vuqlwfpr tkfr dh tula[;k</td>
                      <td width="27%" class="style30"><input name="ctl00$ContentPlaceHolder1$txtAnusuchitJati" id="ctl00_ContentPlaceHolder1_txtAnusuchitJati" style="width:232px;" type="text" value='__sc_population__'/></td>
                    </tr>
                    <tr>
                      <td height="31" class="style66" style='font-family: kruti_dev_010regular;font-size:20PX;'> vuqlwfpr tutkfr dh tula[;k</td>
                      <td class="style62"><input name="ctl00$ContentPlaceHolder1$txtAnusuchitJanJati" id="ctl00_ContentPlaceHolder1_txtAnusuchitJanJati" style="width:294px;" type="text" value='__sc_other_population__'/></td>
                      <td class="style19" style='font-family: kruti_dev_010regular;font-size:20PX;'> fiNMk oxZ dh tula[;?k</td>
                      <td class="style30"><input name="ctl00$ContentPlaceHolder1$txtPichhadeeJati" id="ctl00_ContentPlaceHolder1_txtPichhadeeJati" style="width:232px;" type="text" value='__obc_population__' /></td>
                    </tr>
                    <tr>
                      <td height="31" class="style66" style='font-family: kruti_dev_010regular;font-size:20PX;'> “kiFk xzg.k dh frfFk</td>
                      <td class="style62"><input name="ctl00$ContentPlaceHolder1$txtDateSapath" value="__job_start_date__" id="ctl00_ContentPlaceHolder1_txtDateSapath" style="width:189px;" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/></td>
                      <td class="style55" style='font-family: kruti_dev_010regular;font-size:20PX;'>Lknu dh izFke cSBd dh frfFk </td>
                      <td class="style30"><input name="ctl00$ContentPlaceHolder1$txtDatefirstsadan" value="__first_meeting_date__" id="ctl00_ContentPlaceHolder1_txtDatefirstsadan" style="width:232px;" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/></td>
                    </tr>
                    <tr>
                      <td height="31" class="style68" style='font-family: kruti_dev_010regular;font-size:20PX;'> Dk;Zdky lekfIr frfFk </td>
                      <td class="style67"><input name="ctl00$ContentPlaceHolder1$txtDateParshadFrom" value="__job_end_date__" id="ctl00_ContentPlaceHolder1_txtDateParshadFrom" style="width:189px;" type="text" /></td>
                      <!-- <td class="style69" style='font-family: kruti_dev_010regular;font-size:20PX;'> ???? ?? (dd/MM/yyyy) </td>
                      <td class="style70"><input name="ctl00$ContentPlaceHolder1$txtDateParshadTo" value="08/08/2017" id="ctl00_ContentPlaceHolder1_txtDateParshadTo" style="width:232px;" type="text" style='font-family: kruti_dev_010regular;font-size:20PX;'/></td> -->
                    </tr>
                   <!--  <tr>
                      <td class="style66" style='font-family: kruti_dev_010regular;font-size:20PX;'>{ks= ds fodkl dk;kZsa dk fooj.k</td>
                      <td class="style62"><textarea name="ctl00$ContentPlaceHolder1$txtFormerParshadPeriod" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtFormerParshadPeriod"  style='font-family: kruti_dev_010regular;font-size:20PX;height:84px;width:294px;'>__previous_record_as_corporator__</textarea></td>
                      <td class="style55"> ???? (Hooby)</td>
                      <td class="style30"><textarea name="ctl00$ContentPlaceHolder1$txtHobby" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtHobby" style="height:84px;width:232px;" style='font-family: kruti_dev_010regular;font-size:20PX;'>?? ????, ??????? ????????</textarea></td>
                    </tr> -->
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td class="style67"></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td class="style11" colspan="5" align="center"><span id="ctl00_ContentPlaceHolder1_lblMsg" style="color:Red;font-size:Medium;font-weight:bold;"></span></td>
                </tr>
                <tr>
                  <td align="center">&nbsp;</td>
                  <td class="style5" colspan="4" align="center"><table class="style6" style="width: 248px">
                    <tbody>
                      <tr>
                        <td align="center"></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="2" align="center"><input value="Print"  style="width: 126px; height: 31px;" type="button" onclick="printSelection(document.getElementById('PrintArea'));return false" /></td>
                      </tr>
                    </tbody>
                  </table></td>
                </tr>
                
              </tbody>
            </table>
          </div></td>
      </tr>
    </tbody>
  </table></div>