<table width="98%" border="0" cellspacing="0" cellpadding="0" align='center'>
  <tr><td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" >
        <form name="login" method="POST" action="search.php" >
        <table border="0" cellspacing="3" cellpadding="3">
          <tr>    
            <td ><span style="font-family: 'kruti_dev_010regular';font-size:20px;"> ik’kZn dk izdkj</span> :</td>    
            <td align="left">
              <select name="Corporator" style="font-family: 'kruti_dev_010regular';font-size:20px;">
               <option value=""> ik’kZn pqus</option>
               __corporator__
              </select>
            </td>   
          </tr>
         <tr>
          <td></td>
          <td><input type="submit" name="submit" value="Submit"></td>
         </tr>
		 </table>
        </form>
        </td>
        
      </tr>
    </table>
   </td>
  </tr>
  <tr>
  <td align="left" valign="top">
  <div style='float:right;padding-right:10px;'><input name="print" type="button" value="Print" onclick="printSelection(document.getElementById('PrintArea'));return false"/></div>
	  <div id='PrintArea' class='pis_list'> 
   <table width="100%" border="1" cellspacing="1" cellpadding="3" >
     <tr>
       <th width='5%'>&nbsp;</th>
	   <th style="font-family: 'kruti_dev_010regular';font-size:20px;" width='5%'><b>Øekad la[;k</b></th>
	   <th style="font-family: 'kruti_dev_010regular';font-size:20px;"><b>okMZ uEcj</b></th>
	   <th style="font-family: 'kruti_dev_010regular';font-size:20px;"><b>okMZ dk uke</b></th> 
	   <th style="font-family: 'kruti_dev_010regular';font-size:20px;">ik’kZn dk uke</th>
       <th style="font-family: 'kruti_dev_010regular';font-size:20px;"><b>firk@ifr dk uke </b></th>
       <th style="font-family: 'kruti_dev_010regular';font-size:20px;"><b>eksckby uEcj</b></th>
       
      </tr>
      __parsad_list__
   </table>
   </div>
</td></tr>
</table>