<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UPHDB Jan Suvidha Lucknow</title>
</head>
 
<body>
<table width="600" cellsapcing="0" cellpadding="0" align="center" border="0">
  </tr>
  <tr bgcolor="#4b0100">
  <td align="left"><img src="img/logo.jpg" /></td>
  <td align="center"  	 height="45" style="font-size:18px;text-decoration:none;color:#FFFF00">
  <b>UPHDB Jan Suvidha Kendra Lucknow (U.P.)</b></td>
 </tr>
  <tr>
   <td></td>
  </tr>
   __complain_detail__
  <tr>
   <td colspan="2" align="center" height="40" valign="bottom">
    <input type="button" name="print" value="Print" onclick="window.print();">&nbsp;&nbsp;
    <input type="button" name="cancel" value="Cancel" onclick="window.close();">
   </td>
  </tr>
</table>
</body>
</html>
